<p class="logos--branding">
    <a href="https://www.tacc.utexas.edu/" class="logos__tacc">
        <svg width="1em" height="1em" role="img">
            <title>Texas Advanced Computing Center</title>
            <use href="/static/site_cms/img/org_logos/tacc-formal.svg#tacc-formal" />
        </svg>
    </a>
    <a href="https://www.nsf.gov/" target="_blank" class="logos__nsf">
        <svg width="1em" height="1em" role="img">
            <title>Bluesky</title>
            <use href="/static/site_cms/img/org_logos/nsf-logo.svg#nsf-logo" />
        </svg>
    </a>
    <a href="https://www.utexas.edu/" target="_blank" class="logos__ut">
        <svg width="1em" height="1em" role="img">
            <title>University of Texas at Austin</title>
            <use href="/static/site_cms/img/org_logos/ut-primary.svg#ut-primary" />
        </svg>
    </a>
</p>
