<p class="logos--branding">
    <a href="https://www.tacc.utexas.edu/"
        class="logos__tacc"
        aria-label="link to TACC (Texas Advanced Computing Center) website">
        <svg width="1em" height="1em" role="img"
            aria-label="logo of TACC">
            <use href="/static/site_cms/img/org_logos/tacc-formal.svg?2025-11#tacc-formal" />
        </svg>
    </a>
    <a href="https://www.nsf.gov/" target="_blank"
        class="logos__nsf"
        aria-label="link to NSF (National Science Foundation) website">
        <svg width="1em" height="1em" role="img"
            aria-label="logo of NSF">
            <use href="/static/site_cms/img/org_logos/nsf-logo.svg?2025-11#nsf-logo" />
        </svg>
    </a>
    <a href="https://www.utexas.edu/" target="_blank"
        class="logos__ut"
        aria-label="link to UTexas (University of Texas at Austin) website">
        <svg width="1em" height="1em" role="img"
            aria-label="logo of UTexas">
            <use href="/static/site_cms/img/org_logos/ut-primary.svg?2025-11#ut-primary" />
        </svg>
    </a>
</p>
