<p class="logos--social">
  <a href="https://www.facebook.com/tacc.utexas" target="_blank" class="logos__facebook">
    <svg viewbox="0 0 25 25">
      <use href="/static/site_cms/img/org_logos/facebook.svg#facebook-icon"></use>
    </svg>
  </a>
  {% comment %}
  <a href="https://twitter.com/TACC" target="_blank" class="logos__twitter">
    <svg viewbox="0 0 25 25">
      <use href="/static/site_cms/img/org_logos/twitter.svg#twitter-icon"></use>
    </svg>
  </a>
  {% endcomment %}
  <a href="https://www.youtube.com/user/TACCutexas" target="_blank" class="logos__youtube">
    <svg viewbox="0 0 25 25">
      <use href="/static/site_cms/img/org_logos/youtube.svg#youtube-icon"></use>
    </svg>
  </a>
  <a href="http://www.linkedin.com/company/texas-advanced-computing-center-tacc" target="_blank" class="logos__linkedin">
    <svg viewbox="0 0 25 25">
      <use href="/static/site_cms/img/org_logos/linkedin.svg#linkedin-icon"></use>
    </svg>
  </a>
  <a href="https://www.instagram.com/taccutexas/" target="_blank" class="logos__instagram">
    <svg viewBox="0 0 256 256" xmlns="http://www.w3.org/2000/svg">
      <use href="/static/site_cms/img/org_logos/instagram.svg#instagram-icon"></use>
    </svg>
  </a>
<p>
