<style id="u-image-zoom-styles">
@import url("https://cdn.jsdelivr.net/gh/TACC/Core-Styles@adef7d3/dist/trumps/u-image-zoom.css") layer(base.allow-override);
</style>
<script id="u-image-zoom-script" type="module">
/*
Convert any —

```html
<a class="u-image-zoom--on-hover  whatever">
  <img />
  <h4 />
  <p />
</a>
```

— to —

```html
<a class="whatever" data-original-class="u-image-zoom--on-hover  whatever">
  <span class="u-image-zoom--on-hover">
    <img />
  </span>
  <h4 />
  <p />
</a>
```

— yet do not touch existing —

```html
<a class="whatever">
  <span class="u-image-zoom--on-hover">
    <img />
  </span>
  <h4 />
  <p />
</a>
```
*/

const imageZoomClassName = 'u-image-zoom--on-hover';
const imageZoomElementSelector = `.${imageZoomClassName}`;
const imageZoomMediaSelector = ':is(img, svg):not(:only-child)';

const imageZoomElements = document.querySelectorAll(imageZoomElementSelector);
const brokenImageZoomElements = Array.from(imageZoomElements).filter(element =>
  element.querySelector(`:scope:has(> ${imageZoomMediaSelector})`)
);
console.debug({ imageZoomElements, brokenImageZoomElements });

brokenImageZoomElements.forEach(function fixZoomElement(zoomElement) {
  const mediaElement = zoomElement.querySelector(imageZoomMediaSelector);
  const zoomElementClassName = zoomElement.className;
  const newInternalZoomElement = document.createElement('span');
  console.debug({ mediaElement, zoomElementClassName, newInternalZoomElement });

  newInternalZoomElement.classList.add(imageZoomClassName);

  mediaElement.replaceWith(newInternalZoomElement);
  newInternalZoomElement.append(mediaElement);

  zoomElement.classList.remove(imageZoomClassName);
  zoomElement.setAttribute('data-original-class', zoomElementClassName);
});
</script>
