{# @var list_selector #}

{# To support user changing layout of news list #}
{# FAQ: The form is hidden, because styles are not complete #}
{# FAQ: The script is active, so new styles can be tested on a server #}
<form id="layout-choice-form" class="s-form">
  <div>
    <menu id="layout-choice">
      <li>
        <label for="layout-choice-list">
          <input type="radio" value="list" name="layout" id="layout-choice-list" checked>
          <i class="icon icon-burger" role="none">☰</i> List
        </label>
      </li>
      <li>
        <label for="layout-choice-grid">
          <input type="radio" value="grid" name="layout" id="layout-choice-grid">
          <i class="icon icon-applications" role="none">⸬</i> Grid
        </label>
      </li>
  </div>
</form>
<script type="module">
  import switchLayout from '/static/site_cms/js/modules/switchLayout.js';

  const form = document.getElementById('layout-choice');
  const content = document.querySelector(
    '{{ list_selector|default:".blog-list" }}'
  );
  const formChoices = form.querySelectorAll('input[name="layout"]');

  switchLayout( content, formChoices );
</script>
