/* OBJECTS: Site i.e. Website Layout */

/* TODO: Document this object with a standard format (suggestion: KSS-Node) */
/* NOTE: This can be used to create a "sticky footer", which
         is NOT the same as `#footer: { position: sticky }` */
/* SEE: https://css-tricks.com/couple-takes-sticky-footer/#article-header-id-3 */

.o-site {
  display: flex;
  flex-direction: column;
}
.o-site__body {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: auto;
}
.o-site__head,
.o-site__foot {
  flex-shrink: 0;
}
