/*
Forms

Elements that create forms which the user can fill out and submit to the Web site or application.

```
<form> <fieldset> <legend> <label> <input> <select> <optgroup> <option> <textarea> <button> <output> <progress> <meter> <datalist>
```

Reference:

- [HTML element reference: Forms | MDN](https://developer.mozilla.org/en-US/docs/Web/HTML/Element#Forms)

Styleguide Elements.Forms
*/

form {
  font-family: var(--global-font-family--sans-alt);
}

label {
  font-size: var(--global-font-size--small);
}
label:not(input[type="checkbox"] + label) {
  display: block;
}
label:not(:first-child) {
  margin-top: 2rem; /* mimic <p> `margin-bottom` */
  /* margin-bottom: 0.5rem; *//* mimic Bootstrap _reboot.css */
}
fieldset:not(:last-child) {
  margin-bottom: 3.5rem;
}

input,
select,
textarea {
  border: var(--global-border--normal);
}
input:not(
  [type="time"],
  [type="date"],
  [type="checkbox"],
  [type="radio"]
),
select,
textarea {
  width: 100%;
}

input[type="time"],
input[type="date"] {
  font-family: var(--global-font-family--mono);
}

@media (pointer: coarse) {
  input,
  select,
  textarea {
    padding: 15px 10px;
  }
}
@media (pointer: fine), (pointer: none) {
  input,
  select,
  textarea {
    padding: 5px 10px;
  }
}
