/*
(Content) Sectioning Elements

Elements that create a broad outline for page content, e.g.
- `<main>`
- `<nav>`
- `<section>`
- `<header>`
- `<h1>`—`<h6>`
- `<footer>`

Reference:

- [HTML element reference: Content sectioning | MDN](https://developer.mozilla.org/en-US/docs/Web/HTML/Element#Content_sectioning)

Styleguide Elements.Sectioning
*/

/* … */
