/*
Search Bar

A custom search bar originally designed for the header.

Markup: tacc-search-bar.html

Styleguide Elements.TACC.SearchBar
*/

[part="form"] {
  /* To fill available space of `:host` */
  width: 100%;
  height: 100%;
}

/* Show search bar after all relevant styles have loaded */
/* FAQ: Manage visibility of search bar to avoid FOUC */
/* HACK: This should be done via dynamic `[data-status="loaded"]` */
/* SEE: /.../templates/nav_search.raw.html */
:host { visibility: visible; height: auto; }
