{% extends "djangocms_picture/no_link_to_image/picture.html" %}

{% block picture_figure_start %}
    {# To move u-image-zoom class to figure if present #}
    {% if instance.caption_text or instance.child_plugin_instances %}
        {% include "djangocms_picture/zoom_effect/zoom_asset.html" %}
        {% include "djangocms_picture/default/picture_figure_start.html" with className="u-image-zoom--on-hover" %}
    {% endif %}
{% endblock %}

{% block picture_wrap_start %}
    {# To move u-image-zoom class to link if present without figure #}
    {% if not instance.caption_text and not instance.child_plugin_instances %}
        {% include "djangocms_picture/zoom_effect/zoom_asset.html" %}
        {% include "djangocms_picture/zoom_effect/zoom_wrapper_start.html" %}
    {% endif %}
{% endblock %}

{% block picture_wrap_end %}
    {# To move u-image-zoom class to link if present without figure #}
    {% if not instance.caption_text and not instance.child_plugin_instances %}
        {% include "djangocms_picture/zoom_effect/zoom_wrapper_end.html" %}
    {% endif %}
{% endblock %}
