{% extends "djangocms_picture/no_link_to_image.html" %}

{# To move u-image-zoom class on figure if present #}
{% if instance.caption_text or instance.child_plugin_instances %}

    {% block picture_figure_start %}
        {% include "djangocms_picture/zoom_effect/zoom_asset.html" %}
        {% include "djangocms_picture/zoom_effect/picture_figure_start.html" %}
    {% endblock %}

    {% block picture_wrap_start %}
    {% endblock %}

    {% block picture_wrap_end %}
    {% endblock %}

{% else %}

  {% block picture_wrap_start %}
  {% include "djangocms_picture/zoom_effect/zoom_asset.html" %}
  {% include "djangocms_picture/zoom_effect/zoom_wrapper_start.html" %}
  {% endblock %}

  {% block picture_wrap_end %}
  {% include "djangocms_picture/zoom_effect/zoom_wrapper_end.html" %}
  {% endblock %}

{% endif %}
