/* DO NOT ADD STYLES HERE; ADD CUSTOM SELECTORS TO USE IN OTHER STYLESHEETS */

/* NOTE: These must be Tools (imported as needed) until native browser support, at which time they can become Settings (imported globally). */

/* FP-1458: Add cms, portal, docs selectors */

/*
CMS States

These are global selectors to target known useful CMS states.

Usage: `:--cms .some-class { … }`

Reference:
- https://drafts.csswg.org/css-extensions/#custom-selectors

Styleguide Tools.CustomSelectors.ForOtherSites
*/
@custom-selector :--cms-logged-in   .cms-ready;
@custom-selector :--cms-edit-mode   [class*="cms-structure-mode-"];
