{# https://github.com/nephila/djangocms-blog/blob/1.1.1/djangocms_blog/templates/djangocms_blog/base.html #}
{% extends CMS_TEMPLATE %}
{% load static %}

{# FAQ: To ensure Blog page shows metadata (instruction from maintainer) #}
{# SEE: https://github.com/nephila/djangocms-blog/issues/613#issuecomment-681147460 #}
{# TODO: Update blog to ≥1.2.0, remove this block, test meta still works #}
{% block meta %}
    {% if meta %}
        {% include "meta/meta.html" %}
    {% else %}
        {{ block.super }}
    {% endif %}
{% endblock meta %}

{% block content %}
<link rel="stylesheet" href="{% static 'site_cms/css/build/app.blog.css' %}">
<div class="app app-blog
  {% if not settings.TACC_BLOG_SHOW_CATEGORIES %}no-categories{% endif %}
  {% if not settings.TACC_BLOG_SHOW_TAGS %}no-tags{% endif %}
  {% if post %} {% include './includes/blog_cats.html' with prefix='has-' %} {% include './includes/blog_tags.html' with prefix='has-' %}
  {% endif %}
">
    {% include './tacc/layout-choice-form.html' %}
    {% block content_blog %}{% endblock %}
</div>
{% endblock content %}
