{# https://github.com/nephila/djangocms-blog/blob/1.1.1/djangocms_blog/templates/djangocms_blog/post_list.html #}
{% extends "djangocms_blog/post_list.html" %}
{% load cms_tags i18n %}

{% block content_blog %}
<div class="container">
    {% include "nav_cms_breadcrumbs.html" %}
    {# FAQ: The extended template adds `spaceless` but it fails #}
    {% spaceless %}
      {{ block.super }}
    {% endspaceless %}
    <script id="blog-post-text-manipulation">
      /* HACK: To replace « and » of "« Previous" and "Next »" with < and > */
      {# FAQ: Using JavaScript let us avoid cloning includes/blog_item.html #}
      [ ...document.querySelectorAll('.pagination a') ].forEach( a => {
        a.innerText = a.innerText.replace('«', '<').replace('»', '>');
      });
      /* HACK: To manipulate "read more" link */
      {# FAQ: Using JavaScript let us avoid cloning includes/blog_item.html #}
      [ ...document.querySelectorAll('.read-more a') ].forEach( a => {
        /* To remove " »" from "read more »" */
        a.innerText = a.innerText.replace(' »', '');
        /* To disallow focus (because article header link is ample) */
        a.tabIndex = -1;
      });
    </script>
    <script id="blog-post-tag-classes-to-article" type="module">
      /* HACK: To add class to article for each tag present */
      {# NOTE: Not used yet; can be used to style article based on tag or cat #}
      {# FAQ: TUP CMS was going to use this in Phase 1, but now for Phase 2 #}
      {# FAQ: Using JavaScript let us avoid cloning includes/blog_item.html #}
      const blogList = document.querySelector('.blog-list');
      const articles = blogList.querySelectorAll('article');
      [ ...articles ].forEach( article => {
        const tags = article.querySelectorAll('.blog-tag');
        [ ...tags ].forEach( tag => {
          console.log({tag});
          const classNames = tag.classList;
          classNames.forEach( className => {
            const isBlogTag = ( className.indexOf('blog-tag-') === 0 );
            if ( isBlogTag ) {
              article.classList.add(`has-${className}`);
            }
          });
        });
      });
    </script>
</div>
{% endblock content_blog %}

{% block blog_title %}
    <header>
        <h2>
        {% if author %}{% trans "Articles by" %} {{ author.get_full_name }}
        {% elif archive_date %}{% trans "Archive" %} &ndash; {% if month %}{{ archive_date|date:'F' }} {% endif %}{{ year }}
        {% elif tagged_entries %}{% trans "Tag" %} &ndash; {{ tagged_entries|capfirst }}
        {% elif category %}{% trans "Category" %} &ndash; {{ category }}
        {% else %}{% trans "News" %}{% endif %}
        </h2>
    </header>
{% endblock %}
