{% load i18n menu_tags cache static cms_tags %}

<!-- Navigation Bar -->
<nav class="navbar navbar-expand navbar-dark navbar-tacc">
  <!-- Branding Logos -->
  <div class="navbar-logos">
    <a href="https://www.nsf.gov/" target="_blank">
      <img class="nav-logo-single nav-logo-nsf-single" src="{% static 'site_cms/images/org_logos/nsf-white.png' %}" crossorigin="anonymous">
    </a>
    <a href="https://www.tacc.utexas.edu/" target="_blank">
      <img class="nav-logo-single nav-logo-border-left nav-logo-tacc-single" src="{% static 'site_cms/images/org_logos/tacc-white.png' %}" crossorigin="anonymous">
    </a>
  </div>

  <!-- Navbar Accordian Toggle on Small Screens  -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExpandTarget" aria-controls="navbarsExpandTarget" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Navbar Links -->
  <div class="collapse navbar-collapse" id="navbarsExpandTarget">
    <ul class="navbar-nav mr-auto">
      <!-- All top-level CMS controlled nav elements handled here. -->
      {% show_menu 0 100 1 100 "cms_menu.html" %}
    </ul>
  </div>
</nav>
