{% extends "guide.html" %}
{% load staticfiles %}

{% block guide %}
  <div class="row">
    <div class="col">
      <h2>
        Getting Started
      </h2>

      <p>
        Thank you for using TACC. If you are a new TACC user, this page will
        guide you through the process of setting up an account for use with this Portal. If you are an existing user that already has an active
        allocation and multi-factor authentication with the TACC Token App on
        your account, then you are ready to use this portal.
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <h3>Creating an Account</h3>

      <p>
        Before you can access the Portal, you must first have an active
        account with TACC. You can create one that is linked to your UT System
        Institution credentials.
      </p>

      <div class="row">
        <div class="col">
          <p>
            <img
              class="img-fluid"
              src="https://utrc.tacc.utexas.edu/media/filer_public_thumbnails/filer_public/cd/61/cd61c03b-1a46-4ab2-9446-fc5a0421d2c6/fig1-selectuniversity.png__525x409_q85_subsampling-2.png"
            />
          </p>
        </div>

        <div class="col">
          <p>
            First, you will need to create a TACC account using your UT System
            Institution Credentials. Please navigate to the sign up page and
            select your institution at
            <a href="https://portal.tacc.utexas.edu/utdr" target="_blank" >portal.tacc.utexas.edu/utdr</a>
            .
          </p>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <p>
            <img
              class="img-fluid"
              src="https://utrc.tacc.utexas.edu/media/filer_public_thumbnails/filer_public/32/f7/32f786bc-56b4-4741-a7c4-987a1c5b3093/fig-2-eid.gif__525x197_q85_subsampling-2.png"
            />
          </p>
        </div>

        <div class="col">
          <p>Log in with your institution credentials.</p>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <p>
            <img
              class="img-fluid"
              src="https://utrc.tacc.utexas.edu/media/filer_public_thumbnails/filer_public/a5/44/a544ac7b-3b5d-431d-9a58-610ce0bcd4c1/fig-3-newaccount.png__525x201_q85_subsampling-2.png"
            />
          </p>
        </div>

        <div class="col">
          <p>
            You should see a page that welcomes you with your name and
            institution. Click the
            <strong>I need to create a TACC Account</strong> button. Complete
            form. If you are eligible, check the
            <strong>I am PI Eligible</strong> box. You will receive an e-mail
            with a verification link. Please click on the link to verify your
            account.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <h3>Logging In for the First Time</h3>

      <p>
        Before you can access the Portal, you must first have an active
        account with TACC. You can create one that is linked to your UT System
        Institution credentials.
      </p>

      <div class="row">
        <div class="col">
          <p>
            <img
              class="img-fluid"
              src="https://utrc.tacc.utexas.edu/media/filer_public_thumbnails/filer_public/e8/76/e87670ab-f330-4448-9414-f97549798225/login_page.png__525x249_q85_subsampling-2.png"
            />
          </p>
        </div>

        <div class="col">
          <p>
            You may now log in to the Portal by navigating to
            <a href="https://utrc.tacc.utexas.edu" target="_blank">https://utrc.tacc.utexas.edu</a>
            and clicking Log in with TACC.
          </p>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <p>
            <img
              class="img-fluid"
              src="{% static 'site_cms/img/guides/tacc-portal-login-creds.png' %}"
            />
          </p>
        </div>

        <div class="col">
          <p>
            At the TACC authentication page, please enter your TACC username and password.
          </p>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <p>
            <img
              class="img-fluid"
              src="{% static 'site_cms/img/guides/tacc-portal-access-approval.png' %}"
            />
          </p>
        </div>

        <div class="col">
          <p>When asked, click the <strong>Always Approve</strong> button.</p>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <p>
            <img
              class="img-fluid"
              src="https://utrc.tacc.utexas.edu/media/filer_public_thumbnails/filer_public/0b/f2/0bf2765b-0028-49ad-b704-bb4f09884b9b/onboarding.png__525x282_q85_subsampling-2.png"
            />
          </p>
        </div>

        <div class="col">
          <p>
            The Portal will display the Account Setup page. This page will
            verify that your account has:
          </p>
          <ul>
            <li>An active allocation on TACC systems</li>
            <li>Multi-factor authentication (MFA) with the TACC Token App</li>
          </ul>
          <p>
            If you already meet these requirements, you will be forwarded to the
            dashboard and you may proceed with Accessing Your Files. Otherwise,
            continue reading about Getting an Allocation and how to Setup
            Multi-factor Authentication.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <h3>Getting an Allocation</h3>

      <p>
        To use the Portal, you will need to have an active allocation on
        TACC resources. If you are PI eligible, you may request your own project
        and allocations. Alternatively, you may request to be added to a startup
        allocation through the Account Step screen.
      </p>

      <div class="row">
        <div class="col">
          <p>
            <img
              class="img-fluid"
              src="https://utrc.tacc.utexas.edu/media/filer_public_thumbnails/filer_public/7d/25/7d2505af-553d-4d2d-9c7a-fa454ff84515/confirm_request.png__525x182_q85_subsampling-2.png"
            />
          </p>
        </div>

        <div class="col">
          <p>
            First, you will need to create a TACC account using your UT System
            Institution Credentials. Please navigate to the sign up page and
            select your institution at
            <a href="https://portal.tacc.utexas.edu/utdr" target="_blank">portal.tacc.utexas.edu/utdr</a>
            .
          </p>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <p>
            <img
              class="img-fluid"
              src="https://utrc.tacc.utexas.edu/media/filer_public_thumbnails/filer_public/e6/87/e6877328-77cd-491a-af97-6b1f1e89d6d6/awaiting_approval.png__525x166_q85_subsampling-2.png"
            />
          </p>
        </div>

        <div class="col">
          <p>Log in with your institution credentials.</p>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <p>
            <img
              class="img-fluid"
              src="https://utrc.tacc.utexas.edu/media/filer_public_thumbnails/filer_public/3f/eb/3feb2160-7fff-4057-9ed5-ded0fc0fcde4/allocation_approved.png__525x109_q85_subsampling-2.png"
            />
          </p>
        </div>

        <div class="col">
          <p>
            You should see a page that welcomes you with your name and
            institution. Click the
            <strong>I need to create a TACC Account</strong> button. Complete
            form. If you are eligible, check the
            <strong>I am PI Eligible</strong> box. You will receive an e-mail
            with a verification link. Please click on the link to verify your
            account.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <h3>Setting up Multi-factor Authentication</h3>

      <p>
        Your account will need to have Multi-factor Authentication (MFA) setup
        using the TACC Token App, available on the Google Play and iTunes
        stores.
      </p>

      <div class="row">
        <div class="col">
          <p>
            <img
              class="img-fluid"
              src="https://utrc.tacc.utexas.edu/media/filer_public_thumbnails/filer_public/6d/bd/6dbdaa04-dc27-4922-a446-f11bffa08189/mfa_required.png__525x144_q85_subsampling-2.png"
            />
          </p>
        </div>

        <div class="col">
          <p>
            If you do not have MFA pairing through the TACC Token App, click the
            <strong>Click here for more info</strong> link.
          </p>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <p>
            <img
              class="img-fluid"
              src="https://utrc.tacc.utexas.edu/media/filer_public_thumbnails/filer_public/c4/89/c48958f4-078d-4417-9a27-9361cef49129/mfa_pairing_dialog.png__525x290_q85_subsampling-2.png"
            />
          </p>
        </div>

        <div class="col">
          <p>
            In the dialog that appears, click the link to go to
            <a href="https://portal.tacc.utexas.edu/account-profile/-/profile/view" target="_blank">https://portal.tacc.utexas.edu/account-profile/-/profile/view</a
            >
            .
          </p>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <p>
            <img
              class="img-fluid"
              src="https://utrc.tacc.utexas.edu/media/filer_public_thumbnails/filer_public/7a/d8/7ad8efab-0527-434a-9e7c-45d19c96b627/fig-41-otp.png__525x350_q85_subsampling-2.png"
            />
          </p>
        </div>

        <div class="col">
          <p>
            You will be redirected to the TACC User Portal, where you can pair
            your account with the TACC Token App.
          </p>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <p>
            <img
              class="img-fluid"
              src="https://utrc.tacc.utexas.edu/media/filer_public_thumbnails/filer_public/b6/bb/b6bbc465-1666-4e45-915b-4152dac88701/confirm_pairing.png__525x132_q85_subsampling-2.png"
            />
          </p>
        </div>

        <div class="col">
          <p>
            Once you have completed MFA pairing with the TACC Token app, return to the Portal
            <a href="https://utrc.tacc.utexas.edu/onboarding/setup" target="_blank">https://utrc.tacc.utexas.edu/onboarding/setup</a>
            and click the <strong>Confirm</strong> button.
          </p>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <p>
            <img
              class="img-fluid"
              src="https://utrc.tacc.utexas.edu/media/filer_public_thumbnails/filer_public/7b/5a/7b5aa552-b9cb-4e65-9cbe-6236e29788a6/setup_complete.png__525x291_q85_subsampling-2.png"
            />
          </p>
        </div>

        <div class="col">
          <p>
            Your Account Setup is now complete. You will be automatically
            forwarded to the Portal Dashboard. You may also click the
            <strong>Continue to Dashboard</strong> button.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <h3>Accessing Your Files</h3>

      <p>
        To access your personal files on the Portal, you will need to
        Authenticate with TACC using the TACC Token App.
      </p>

      <div class="row">
        <div class="col">
          <p>
            <img
              class="img-fluid"
              src="https://utrc.tacc.utexas.edu/media/filer_public_thumbnails/filer_public/2e/cc/2ecc7af8-f41d-4f4c-8c1a-4b04892c9dc0/my_data.png__262x407_q85_subsampling-2.png"
            />
          </p>
        </div>

        <div class="col">
          <p>
            In the Portal Dashboard, click the <strong>Data Files</strong> icon on the left navigation. You will be taken to <strong>My Data</strong>.
          </p>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <p>
            <img
              class="img-fluid"
              src="https://utrc.tacc.utexas.edu/media/filer_public_thumbnails/filer_public/8c/bb/8cbbed03-65b1-4fdb-8c60-87d43e705403/authenticate_with_tacc_token.png__525x265_q85_subsampling-2.png"
            />
          </p>
        </div>

        <div class="col">
          <p>
            You will be asked to Authenticate with TACC Token before you are able to access your files. Click the <strong>Authenticate</strong> with <strong>TACC Token</strong> button.
          </p>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <p>
            <img
              class="img-fluid"
              src="https://utrc.tacc.utexas.edu/media/filer_public_thumbnails/filer_public/a2/22/a2222fea-dbeb-4263-a6ae-9212721024bd/token_modal.png__525x602_q85_subsampling-2.png"
            />
          </p>
        </div>

        <div class="col">
          <p>
            In the window that appears, enter your password and a token from the TACC Token App. Then click <strong>Authenticate</strong>.
          </p>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <p>
            <img
              class="img-fluid"
              src="https://utrc.tacc.utexas.edu/media/filer_public_thumbnails/filer_public/8d/33/8d33d75d-4e65-4181-96bc-2022676056e6/key_success.png__525x179_q85_subsampling-2.png"
            />
          </p>
        </div>

        <div class="col">
          <p>
            You will get a green success message. You may now access your
            personal files on <strong>My Data</strong>. If you are a first time
            user, you may not have any files yet.
          </p>
        </div>
      </div>
    </div>
  </div>
{% endblock guide %}
