{% extends "guide.html" %}

{% block guide %}
  <div class="row">
    <div class="col">
      <h2>Rsync Data Transfer and Management Guide</h2>
      <h3>Outline</h3>

      <ul>
        <li>
          <a href="#table1">Data Transfer Methods</a>
        </li>
        <li>
          <a href="#corral">What is Corral?</a>
        </li>
        <li>
          <a href="#rsync_prereqs">Prerequisites for Portal user</a>
        </li>
        <li>
          <a href="#command_line_tools">Using Command Line Tools to Transfer and Organize Data</a>
        </li>
        <li>
          <a href="#scp_sftp_rsync"><code>scp</code>, <code>sftp</code>, &amp; <code>rsync</code></a>
        </li>
        <li>
          <a href="#data_transfer_prereqs">Prerequisites for Data Transfer with Command Line Tools</a>
        </li>
        <li>
          <a href="#local_data_path">Determining the Path to Your Data File(s) on Your Local System</a>
          <ul>
            <li>
              <a href="#figure1">Figure 1. Use Get Info to determine “Where” the path of your data file(s) is</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="#local_data_path">Determining the Path to Your Transfer Directory on Corral</a>
        </li>
        <li>
          <a href="#scp_transfer">Transfer Data with <code>scp</code></a>
        </li>
        <li>
          <a href="#sftp_transfer">Transfer Data with <code>sftp</code></a>
        </li>
        <li>
          <a href="#rsync_transfer">Transfer Data with <code>rsync</code></a>
        </li>
        <li>
          <a href="#cyberduck_transfer">Transfer Data with Cyberduck</a>
          <ul>
            <li>
              <a href="#cy_windows">For Windows</a>
              <ul>
                <li>
                  <a href="#figure2">Figure 2. Windows Cyberduck and “Open Connection” setup screen</a>
                </li>
                <li>
                  <a href="#figure3">Figure 3. Windows “Open Connection” setup screen</a>
                </li>
              </ul>
            </li>
            <li>
              <a href="#cy_mac">For Mac</a>
              <ul>
                <li>
                  <a href="#figure4">Figure 4. macOS “New Bookmark” setup screen</a>
                </li>
              </ul>
            </li>
          </ul>
        </li>
        <li>
          <a href="#references">References</a>
        </li>
      </ul>

      <h3>Data Transfer and Management Guide</h3>

      <p>
        Transferring Portal data from your local machine to
        <a href="#corral">TACC’s Corral system</a> can be accomplished using two methods: command line tools (<code>scp</code>, <code>sftp</code>,
        <code>rsync</code>) and graphical tools (Cyberduck).
      </p>

      <h4 id="table1">Data Transfer Methods</h4>
      <table style="max-width: 500px">
        <tbody>
          <tr>
            <th>Usage Mode</th>
            <th>Transfer Method</th>
          </tr>
          <tr>
            <td>Command Line Tool</td>
            <td>
              <a target="_blank" href="https://man7.org/linux/man-pages/man1/scp.1.html"><code>scp</code></a>
            </td>
          </tr>
          <tr>
            <td>Command Line Tool</td>
            <td>
              <a target="_blank" href="https://man7.org/linux/man-pages/man1/sftp.1.html"><code>sftp</code></a>
            </td>
          </tr>
          <tr>
            <td>Command Line Tool</td>
            <td>
              <a target="_blank" href="https://man7.org/linux/man-pages/man1/rsync.1.html"><code>rsync</code></a>
            </td>
          </tr>
          <tr>
            <td>Graphical Tool</td>
            <td>
              <a target="_blank" href="https://cyberduck.io/">Cyberduck</a>
            </td>
          </tr>
        </tbody>
      </table>
      <h4 id="corral">What is Corral?</h4>

      <p>
        Corral is one of TACC’s systems dedicated to storage and data management. Corral can be used for storing protected data on a secure location of Corral (i.e. Corral Secure). As an Portal user, you have access to Corral’s secure server “
        <!-- XXX: What values to use? -->
        <code>secure.corral.tacc.utexas.edu</code>
        ”, as well as the secure Corral folder
        <code>/corral-secure/projects/A2CPS</code>
        . Corral Secure’s system is to be used exclusively for transferring and accessing Portal data.
      </p>
      <h4 id="rsync_prereqs">Prerequisites for Portal User</h4>

      <p>There are two requirements needed prior to transferring data:</p>

      <ul>
        <li>A TACC Account</li>
        <li>
          Multi-Factor Authentication (MFA) pairing with the
          <a target="_blank" href="https://portal.tacc.utexas.edu/tutorials/multifactor-authentication#tacctokenapp">TACC Token app</a>
        </li>
      </ul>

      <p>
        As an Portal user, you should already have access to a TACC account through the
        <a target="_blank" href="https://portal.tacc.utexas.edu/">TACC Portal</a>
        . If you are unsure of your TACC account username, please consult the
        “TACC Account Request Confirmation” email you have received from TACC Accounting Staff, or contact
        <a href="mailto:acantu@tacc.utexas.edu">acantu@tacc.utexas.edu</a>
        .
      </p>
      <p>
        TACC now requires MFA pairing. To set up MFA, you can follow
        <a target="_blank" href="https://portal.tacc.utexas.edu/tutorials/multifactor-authentication">this tutorial</a>.
      </p>
      <h4 id="command_line_tools">
        Using Command Line Tools to Transfer and Organize Data
      </h4>

      <p>
        A common method of transferring files between TACC resources and/or your local machine is through the command line.
      </p>
      <h4 id="scp_sftp_rsync">
        <code>scp</code>, <code>sftp</code>, &amp; <code>rsync</code>
      </h4>

      <p>
        These three command line tools are secure and can be used to accomplish data transfer. You can run these commands directly from the terminal if your local system runs Linux or macOS.
      </p>
      <blockquote>
        <p>
          Note: It is possible to use these command line tools if your local machine runs Windows, but you will need to use a ssh client (ex.
          <a target="_blank" href="https://www.putty.org/">PuTTY</a>
          ).
        </p>
        <p>
          However, for the scope of this project and ease in data transfer, it is recommended that Windows users follow our
          <a href="#cyberduck_transfer">Transfer Data with Cyberduck</a>
          guide below.
        </p>
      </blockquote>
      <p>
        For users that are new to the command line, using either <code>scp</code> or <code>sftp</code> to transfer data is advised.
      </p>
      <h4 id="data_transfer_prereqs">
        Prerequisites for Data Transfer with Command Line Tools
      </h4>

      <p>Before we begin, you will need to know:</p>

      <ul>
        <li>the path to your data file(s) on your local system</li>
        <li>the path to your transfer directory on Corral</li>
      </ul>

      <h4 id="local_data_path">
        Determining the Path to Your Data File(s) on Your Local System
      </h4>

      <p>
        In order to transfer your project data, you will need to know where your file(s) is located on your local system. To do so, navigate through the file system on your local computer.
      </p>
      <p>
        For example, you can do so on Mac by going to Finder. Common data file locations such as Desktop and Documents should be accessible through the Favorites pane on the left-hand side of the window. You can also do Finder &gt; Go to find other common locations on your computer.
      </p>
      <p>
        Once you have navigated to where your file(s) is located, take note of its path by right-clicking on the file and selecting Get Info.
      </p>
      <figure id="figure1">
        <img src="https://a2cps-staging.tacc.utexas.edu/media/filer_public_thumbnails/filer_public/6c/ea/6ceacba9-7824-4925-b924-dd317040b629/picture1.png__1170x0_q85_subsampling-2_upscale.png" />
        <figcaption>
          Figure 1. Use Get Info to determine “Where” the path of your data file(s) is
        </figcaption>
      </figure>

      <p>
        For example, a file located in an <code>portal-data</code> folder in
        <code>Documents</code> would have the following path:
      </p>
      <p>
        <code>/Users/myname/Documents/portal-data/my_file.txt</code>
      </p>
      <h4 id="corral_data_path">
        Determining the Path to Your Transfer Directory on Corral
      </h4>

      <p>
        A transfer directory on Corral has already been set up for you and is available for data transfer. The transfer directory path is individualized to your research center/institution.
      </p>
      <p>
        For example, for a user that is affiliated with the institution University of Texas at Austin, the path to their transfer directory on Corral would be:
      </p>
      <p>
        <code>/corral-secure/projects/A2CPS/submissions/utaustin/ </code>
      </p>
      <blockquote>
        <p>
          Note: The transfer directory name will always be one word and in lowercase.
        </p>
      </blockquote>
      <p>
        If you are unsure of your transfer directory path, please consult the email you have received from
        <a href="mailto:acantu@tacc.utexas.edu">acantu@tacc.utexas.edu</a>
        , or contact
        <a href="mailto:acantu@tacc.utexas.edu">acantu@tacc.utexas.edu</a>
        directly.
      </p>
      <h4 id="scp_transfer">Transfer Data with<code>scp</code></h4>

      <p>
        <code>scp</code>copies files between hosts on a network. To transfer a file (ex. <code>my_file.txt</code>) to Corral’s secure system via <code>scp</code>, open a terminal on your local computer and navigate to the path where your data file is located.
      </p>
      <pre style="max-width: 500px"><code><u>localhost$ </u>cd Documents/portal-data/</code></pre>

      <p>
        Assuming your TACC username is <code>jdoe</code> and you are affiliated with UT Austin, a <code>scp</code> transfer that pushes <code>my_file.txt</code> from your local computer to Corral’s secure system would look like this:
      </p>
      <pre style="max-width: 1500px"><code><u>localhost$ </u>scp ./my_file.txt jdoe@secure.corral.tacc.utexas.edu:/corral-secure/projects/A2CPS/submissions/utaustin/</code></pre>
      <blockquote>
        <p>
          Note: This command will copy your data file directly to your individualized transfer directory on Corral’s system.
        </p>
      </blockquote>
      <p>
        <em>If you have not done so already, enter this command in your terminal,
          replacing the file name, TACC username, and your individualized transfer directory name appropriately.</em>
      </p>
      <p>
        After entering the command, you will be prompted to login to Corral’s secure system by entering the password associated with your TACC account as well as the token value generated from your TACC token app.
      </p>
      <p>
        The data transfer was successful if your terminal output looks like this:
      </p>
      <pre style="max-width: 500px"><samp>my_file.txt     100% ##  #.#          KB/s   ##:##</samp></pre>

      <p>
        If you wish to learn more about <code>scp</code>, you can do so
        <a target="_blank" href="https://man7.org/linux/man-pages/man1/scp.1.html">here</a>
        .
      </p>
      <h4 id="sftp_transfer">Transfer Data with <code>sftp</code></h4>

      <p>
        <code>sftp</code>
        is a file transfer program that allows you to interactively navigate between your local file system and Corral’s remote secure system. To transfer a file (ex. <code>my_file.txt</code>) to Corral’s secure system via <code>sftp</code>, open a terminal on your local computer and navigate to the path where your data file is located.&nbsp;
      </p>
      <pre style="max-width: 500px"><code><u>localhost$ </u>cd Documents/portal-data/</code></pre>

      <p>
        Assuming your TACC username is <code>jdoe</code> and you are affiliated with UT Austin, a <code>sftp</code> transfer that pushes
        <code>my_file.txt</code>
        from your local computer to Corral’s secure system would look like this:
      </p>
      <pre style="max-width: 1500px"><code><u>localhost$ </u>sftp jdoe@secure.corral.tacc.utexas.edu:/corral-secure/projects/A2CPS/submissions/utaustin
<samp>Password:
TACC Token Code:
Connected to secure.corral.tacc.utexas.edu.
Changing to:
  /corral-secure/projects/A2CPS/submissions/utaustin</samp>
<u>sftp&gt;</u></code></pre>

      <p>
        <em>If you have not done so already, enter this command in your terminal, replacing the TACC username and your individualized transfer directory name appropriately.</em>
      </p>

      <p>
        At this point, you have logged in to Corral’s secure system and been redirected to your transfer directory. To confirm your location on Corral, enter the following command:
      </p>

      <pre style="max-width: 1000px"><code><u>sftp&gt; </u>pwd
<samp>Remote working directory:
  /corral-secure/projects/A2CPS/submissions/utaustin</samp></code></pre>

      <p>To list the files currently in your transfer directory:</p>

      <pre style="max-width: 500px"><code><u>sftp&gt; </u>ls
<samp>utaustin_dir.txt<samp></code></pre>

      <p>
        To list the files currently in your <em>local</em> directory (ex.
        <code>/Users/myname/Documents/portal-data/</code>):
      </p>

      <pre style="max-width: 500px"><code><u>sftp&gt; </u>lls
<samp>my_file.txt<samp></code></pre>

      <blockquote>
        <p>
          Note: The leading <em>l</em> in the <code>lls</code> command denotes that you are listing the contents of your <em>local</em> working directory.
        </p>
      </blockquote>

      <p>
        To transfer <code>my_file.txt</code> from your local computer to
        <code>/corral-secure/projects/A2CPS/submissions/utaustin</code>:
      </p>

      <pre style="max-width: 1000px"><code><u>sftp&gt; </u>put my_file.txt
<samp>Uploading my_file.txt to /corral-secure/projects/A2CPS/submissions/utaustin/my_file.txt</samp>
<samp>my_file.txt     100% ##  #.#          KB/s   ##:#</samp></code></pre>

      <p>
        To check if <code>my_file.txt</code> is in the <code>utaustin</code>
        subfolder:
      </p>

      <pre style="max-width: 500px"><code><u>sftp&gt; </u>ls
<samp>my_file.txt</samp>
<samp>utaustin_dir.txt</samp></code></pre>

      <p>
        To exit out of <code>sftp</code> on the terminal:
      </p>

      <pre style="max-width: 500px"><code><u>sftp&gt; </u>bye
<u>localhost1$</u></code></pre>

      <p>
        If you wish to learn more about <code>sftp</code>, you can do so
        <a target="_blank" href="https://man7.org/linux/man-pages/man1/sftp.1.html">here</a>.
      </p>
      <h4 id="rsync_transfer">Transfer Data with <code>rsync</code></h4>

      <p>
        <code>rsync</code>is a file copying tool that can reduce the amount of data transferred by sending only the differences between the source files on your local system and the existing files in your transfer directory. To transfer a file (ex. <code>my_file.txt</code>) to Corral’s secure system via <code>rsync</code>, open a terminal on your local computer and navigate to the path where your data file is located.
      </p>
      <pre style="max-width: 500px" ><code><u>localhost$ </u>cd Documents/portal-data/</code></pre>
      <p>
        Assuming your TACC username is <code>jdoe</code> and you are affiliated with UT Austin, a <code>rsync</code> transfer that pushes
        <code>my_file.txt</code>
        from your local computer to Corral’s secure system would look like this:
      </p>
      <pre style="max-width: 1000px"><code><u>localhost$ </u>rsync ./my_file.txt jdoe@secure.corral.tacc.utexas.edu:/corral-secure/projects/A2CPS/submissions/utaustin/</code></pre>
      <p>
        <em>If you have not done so already, enter this command in your terminal,
          replacing the TACC username and your individualized transfer directory name appropriately.</em>
      </p>
      <p>
        If the command returns 0 in your terminal, the data transfer was successful.
      </p>
      <p>
        If you wish to learn more about <code>rsync</code> and how to synchronize your file transfer, you can do so
        <a target="_blank" href="https://man7.org/linux/man-pages/man1/rsync.1.html">here</a>
        or follow the “Transferring files using <code>scp</code> and
        <code>rsync</code>” section of our
        <a target="_blank" href="https://portal.tacc.utexas.edu/user-guides/stampede2#transferring-scp">Stampede2 guide</a>
        .
      </p>
      <h4 id="cyberduck_transfer">Transfer Data with Cyberduck</h4>

      <p>
        <a target="_blank" href="https://cyberduck.io/">Cyberduck</a> is a free graphical tool for data transfer and is an alternative to using the command line. With a drag-and-drop interface, it is easy to transfer a file from your local system to Corral’s secure system. You can use
        <a target="_blank" href="https://cyberduck.io/">Cyberduck</a>
        for Windows or macOS.
      </p>
      <h5 id="cy_windows">For Windows</h5>

      <p>
        <a target="_blank" href="https://cyberduck.io/download/">Download and install Cyberduck for Windows</a>
        on your local machine.
      </p>

      <p>
        Once installed, click “Open Connection” in the top left corner of your Cyberduck window.
      </p>

      <figure id="figure2">
        <img src="https://a2cps-staging.tacc.utexas.edu/media/filer_public_thumbnails/filer_public/a9/9f/a99fa278-ae07-4b5e-9219-f9db3c2c89d5/picture2.png__1170x0_q85_subsampling-2_upscale.png" />
        <figcaption>
          Figure 2. Windows Cyberduck and “Open Connection” setup screen
        </figcaption>
      </figure>
      <p>
        To setup a connection, type in the server name
        <code>secure.corral.tacc.utexas.edu</code>. Add your TACC username and password in the spaces provided. If the "More Options" area is not shown, click the small triangle button to expand the window; this will allow you to enter the path to your transfer directory (ex.
        <code>/corral-secure/projects/A2CPS/submissions/tacc</code>) so that when Cyberduck opens the connection you will immediately be in your individualized transfer directory on Corral. Click the "Connect" button to open your connection.
      </p>

      <p>
        Consult Figure 3. below to ensure the information you have provided is correct.
        <em>If you have not done so already, replace the “Path” with the path to your individualized transfer directory.</em>
      </p>
      <figure id="figure3">
        <img src="https://a2cps-staging.tacc.utexas.edu/media/filer_public_thumbnails/filer_public/10/fb/10fbbb2a-dcd8-44d8-9ade-fb4ed3df8487/picture3.png__1170x0_q85_subsampling-2_upscale.png" />
        <figcaption>
          Figure 3. Windows “Open Connection” setup screen
        </figcaption>
      </figure>
      <blockquote>
        <p>
          Note: You will be prompted to “allow unknown fingerprint…” upon connection. Select “allow” and enter your TACC token value.
        </p>
      </blockquote>
      <p>
        Once connected, you can navigate through your remote file hierarchy using familiar graphical navigation techniques. You may also drag-and-drop files from your local computer into the Cyberduck window to transfer files to Corral.
      </p>
      <h5 id="cy_mac">For Mac</h5>

      <p>
        <a target="_blank" href="https://cyberduck.io/download/">Download and install Cyberduck for macOS</a>
        on your local machine.
      </p>

      <p>
        Once installed, go to Bookmark &gt; New Bookmark to setup a connection.
      </p>
      <blockquote>
        <p>
          Note: You cannot select “Open Connection” in the top left corner of your Cyberduck window as macOS’ setup screen is missing the “More Options” button.
        </p>
      </blockquote>
      <p>
        To setup a connection using “New Bookmark", type in the server name
        <code>secure.corral.tacc.utexas.edu</code>. Add your TACC username and password in the spaces provided. If the "More Options" area is not shown, click the small triangle or button to expand the window; this will allow you to enter the path to your transfer directory (ex.
        <code>/corral-secure/projects/A2CPS/submissions/tacc</code>) so that when Cyberduck opens the connection you will immediately be in your individualized transfer directory on Corral. As you fill out the information, Cyberduck will be creating the bookmark for you. Exit out of the setup screen and click on your newly created bookmark to launch the connection.
      </p>
      <figure id="figure4">
        <img src="https://a2cps-staging.tacc.utexas.edu/media/filer_public_thumbnails/filer_public/fa/b3/fab3edd6-c7a6-46dc-8103-09917ef02240/picture4.png__1170x0_q85_subsampling-2_upscale.png" />
        <figcaption>Figure 4. macOS “New Bookmark” setup screen</figcaption>
      </figure>

      <p>
        Consult Figure 4. above to ensure the information you have provided is correct.
        <em>If you have not done so already, replace the “Path” with the path to your individualized transfer directory.</em>
      </p>
      <blockquote>
        <p>
          Note: You will be prompted to “allow unknown fingerprint…” upon connection. Select “allow” and enter your TACC token value.
        </p>
      </blockquote>
      <p>
        Once connected, you can navigate through your remote file hierarchy using familiar graphical navigation techniques. You may also drag-and-drop files from your local computer into the Cyberduck window to transfer files to Corral.
      </p>

      <h4 id="references">References</h4>

      <ul>
        <li>
          <a target="_blank" href="https://man7.org/linux/man-pages/man1/scp.1.html">https://man7.org/linux/man-pages/man1/scp.1.html</a>
        </li>
        <li>
          <a target="_blank" href="https://man7.org/linux/man-pages/man1/sftp.1.html">https://man7.org/linux/man-pages/man1/sftp.1.html</a>
        </li>
        <li>
          <a target="_blank" href="https://man7.org/linux/man-pages/man1/rsync.1.html">https://man7.org/linux/man-pages/man1/rsync.1.html</a>
        </li>
        <li>
          <a target="_blank" href="https://portal.tacc.utexas.edu/tutorials/multifactor-authentication">https://portal.tacc.utexas.edu/tutorials/multifactor-authentication</a>
        </li>
        <li>
          <a target="_blank" href="https://portal.tacc.utexas.edu/user-guides/corral">https://portal.tacc.utexas.edu/user-guides/corral</a>
        </li>
        <li>
          <a target="_blank" href="https://portal.tacc.utexas.edu/user-guides/stampede2">https://portal.tacc.utexas.edu/user-guides/stampede2</a>
        </li>
        <li>
          <a target="_blank" href="https://portal.xsede.org/data-management">https://portal.xsede.org/data-management</a>
        </li>
      </ul>
    </div>
  </div>
{% endblock guide %}
