/* BRANDING & LOGO CLASS SELECTORS  */

/* Shared by All Templates */

/* .cms-branded-navigation {} */

.navbar-tacc {
  background-color: rgb(51, 51, 51);
  padding: 0 9%;
}

.nav-logo-border-left {
  border-left: solid 2px #fff !important;
  padding: 0 15px 0 !important;
}

.nav-logo-no-border-left {
  padding: 0 16px 0 !important;
}

/* Singlerow Layout (v1) */

.nav-logo-single {
  float: left;
  height: 30px;
  margin: 7px 20px 0 0;
  padding: 0;
  border: none;
}

.nav-logo-nsf-single {
  height: 40px;
  margin: 2px 20px 0 0;
}

/* .nav-logo-tacc-single {} */
/* .nav-logo-lccf-single {} */
/* .nav-logo-utaustin-single {} */
/* .nav-logo-uhawaii-single {} */
/* .nav-logo-frontera-single {} */
/* .nav-logo-tapisio-single {} */

/* Doublerow Layout (v2) */

.branding-header {
  margin: 0;
  padding: 0.4rem 0 0.4rem;
  text-align: center;
  background-color: rgb(51, 51, 51);
  color: rgb(255, 255, 255);
  border-bottom: 1px solid #aaa;
}

.nav-logo-header {
  height: 30px;
  margin: 0;
  padding: 0;
  border: none;
}

/* .navbar-logos {} */

.nav-logo-double {
  float: left;
  /* height: 30px; */
  height: 40px;
  margin: 0;
  padding: 0;
  border: none;
}

.nav-logo-nsf-double {
  height: 35px;
  margin: 0 10px 0 0;
}

.nav-logo-tacc-double {
  height: 24px;
  margin: 3px 0 0 0;
}

.nav-logo-utaustin-double {
  height: 24px;
  margin: 3px 0 0 0;
}

.nav-logo-uhawaii-double {
  height: 35px;
}

/* Branding Selectors  */

.nav-logo-portal-double {
  height: 40px;
  margin: 0;
}

.nav-logo-lccf-double {
  margin: 0;
}

.nav-logo-frontera-double {
  margin: 0;
}

.nav-logo-tapisio-double {
  margin: 0;
  /* height: 40px; */
}

/* Media Query Selectors */

@media only screen and (max-width: 640px) {
  .navbar-tacc {
    background-color: rgb(51, 51, 51);
    padding-left: 5%;
    padding-right: 5%;
  }
}
