/* TRUMPS */

/* TRUMPS: Article (Scope) */

/* Prevent content after article from wrapping around floated content in article */
.s-article::after {
  /* from Bootstrap `clearfix` */
  display: block;
  content: "";
  clear: both;
}

/* Do this only for those viewports when content is actually offset */
@media only screen and (min-width: 992px) and (max-width: 2400px) {
  /* If element is too wide, then the offset is negligible */
  .s-article [class*="c-offset-content--"] {
    max-width: calc( var(--offset-distance) * 4 );
  }
}
