/**
 * Styles for CMS tables with class `js-sortable`
 * IMPORTANT: Coupled with sortableTable.js
 */

.sortable-filter-list {
  --icon-width: 2.4rem;
  --icon-pad-horz: 10px;

  display: flex;
  gap: 2rem;

  /* to align items (only effectual when items have unequal height) */
  align-items: start;

  &:is(fieldset) {
    margin-block-end: 0;
  }
}

.sortable-filter {
  display: flex;
  align-items: center;

  &:is(label) {
    margin-block-end: 0;
  }
}

.sortable-filter__label + .sortable-filter__input {
  margin-inline-start: 1em;
}

.sortable-filter output {
  min-width: 4ch;
  font-weight: normal;
  font-size: var(--global-font-size--small);
}
.sortable-filter__input + output {
  margin-left: 1em;
}

/* to align icon atop search field */
.sortable-filter:has([type="search"]) {
  display: grid;
  grid-auto-flow: column;

  & .sortable-filter__input {
    grid-row: 1 / 1;
    grid-column: 1 / 2;
  }
  & .sortable-filter__icon {
    grid-row: 1 / 1;
    grid-column: 1 / 1;
    z-index: 1;
    align-self: center;
  }

  /* to place icon inside search field */
  .sortable-filter__input {
    width: 30ch;
    text-indent: calc(var(--icon-width) + var(--icon-pad-horz));
  }
  .sortable-filter__icon {
    box-sizing: content-box;
    margin-inline: var(--icon-pad-horz);
  }
}

table.js-sortable {
  & tbody:empty::before {
    content: 'No results found';
  }

  & th:not(.not-sortable) > button {
    width: 100%; /* so entire cell is clickable */

    &:focus-visible {
      outline-offset: 0.25em;
    }

    &.btn-link,
    &.c-button--as-link {
        line-height: inherit;
        height: 1lh;
        justify-content: start;
        vertical-align: baseline;
    }
    &.c-button--as-link {
        height: 1lh;
    }
    &.btn-link {
        padding: 0;
    }
  }

  & th:is([aria-sort="ascending"], [aria-sort="descending"]) > button {
    &::after {
      font-size: smaller;
    }
    &:not(.c-button--as-link)::after {
      margin-inline-start: 0.35em;
    }
  }
  & th[aria-sort="ascending"] > button::after { content: '▲'; }
  & th[aria-sort="descending"] > button::after { content: '▼'; }
}
