{# For assets that should be loaded after all others. #}
{% comment %}
Consider asset load via `assets_custom`, not `assets_custom_delayed`:
  - Styles should not need a delayed load time.
  - Scripts can use `defer` or `async` attr's to manage load time.
{% endcomment %}

{# NOTE: Fonts may be loaded early via `assets_font` #}



{# Do NOT directly load project-specific assets here; see `/taccsite_custom` #}

{# Example #}
{% comment %}
  {% block assets_custom_delayed %}
    {{ block.super }}

    {# Example: Custom Site Assets. #}
    <link rel="stylesheet" href="{% static '__PROJECT__/css/build/site.css' %}">
    <script src="{% static '__PROJECT__/js/site.js' %}"></script>

    {# Example: Custom Template-Specific Assets. #}
    <link rel="stylesheet" href="{% static '__PROJECT__/css/build/template.___.css' %}">
    <script src="{% static '__PROJECT__/js/template.___.js' %}"></script>

    {# Example: Custom Page-Specific Assets. #}
    {# WARNING: Undesired use case. Create re-usable code instead. #}
    {# SEE: https://confluence.tacc.utexas.edu/x/54AZCg #}

  {% endblock assets_custom_delayed %}
{% endcomment %}
