{% load static %}

{# Load assets as external files, to cache independently of markup. #}
{% comment %}
FAQ: IF a script or style is better cached with markup, THEN:
  - Such a style belongs inline before relevant markup, not via this block
  - Such a script belongs inline after relevant markup, not via this block
{% endcomment %}

{# NOTE: Fonts may be loaded early via `assets_font` #}



<!-- Site Assets: Styles. -->

<link nonce="{{ CSP_NONCE }}" id="css-bootstrap" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<link nonce="{{ CSP_NONCE }}" id="css-site" rel="stylesheet" href="{% static 'site_cms/css/build/site.css' %}">
<link nonce="{{ CSP_NONCE }}" id="css-site-header" rel="stylesheet" href="{% static 'site_cms/css/build/site.header.css' %}">
{# CAVEAT: Requires `npm run build:css` step #}
<link nonce="{{ CSP_NONCE }}" id="css-site-v3-11+" rel="stylesheet" href="{% static 'site_cms/css/build/site.v3-11-plus.css' %}">


{# Impacts the clients "CEPv2" Portal & Frontera Docs #}
{# FAQ: Websites that load CMS header should load these assets in this order #}
{% comment %}
  {# To load externally-hosted font which is in the font stack of CMS styles #}
  {# FAQ: CMS does ALSO load but does so in `assets_font.html` instead #}
  <link nonce="{{ CSP_NONCE }}" id="css-site-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" />

  {# To load CSS that styles the header #}
  {# FAQ: CMS does ALSO load so it styles header using identical complex code #}
  <link nonce="{{ CSP_NONCE }}" id="css-site-header" rel="stylesheet" href="{% 'site_cms/css/build/site.header.css' %}" />
{% endcomment %}
