{# For assets that should be loaded after all others. #}
{% comment %}
Consider asset load via `assets_custom`, not `assets_custom_delayed`:
  - Styles should not need a delayed load time.
  - Scripts can use `defer` or `async` attr's to manage load time.
{% endcomment %}



{# Do NOT directly load assets here. Load as needed by template or brand. #}



{# Example: Template-Specific Assets. #}
{% comment %}
  {% block assets_custom_delayed %}
    {{ block.super }}

    <script src="{% static 'site_cms/scripts/template.___.js' %}"></script>
  {% endblock assets_custom_delayed %}
{% endcomment %}

{# Example: Brand-Specific Assets. #}
{% comment %}
  {% block assets_custom_delayed %}
    {{ block.super }}

    <script src="{% static 'site_cms/scripts/brand/*.js' %}"></script>
  {% endblock assets_custom_delayed %}
{% endcomment %}
