{% load staticfiles %}
{# @var settings #}

{# Load assets as external files, to cache independently of markup. #}
{% comment %}
FAQ: IF a script or style is better cached with markup, THEN:
  - Such a style belongs inline before relevant markup, not via this block
  - Such a script belongs inline after relevant markup, not via this block
{% endcomment %}

{# NOTE: Fonts may be loaded early via `assets_font` #}



<!-- Site Assets: Styles. -->
<link id="css-bootstrap" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

{# CAVEAT: Requires `npm run build` step before running the Django project. #}
<link id="css-site" rel="stylesheet" href="{% static 'site_cms/css/build/site.css' %}">
<link id="css-site-header" rel="stylesheet" href="{% static 'site_cms/css/build/site.header.css' %}">
{% if settings.FEATURES.blog %}
  <link id="css-site-blog" rel="stylesheet" href="{% static 'site_cms/css/build/site.blog.css' %}">
{% endif %}

<!-- Site Assets: Scripts. -->
<script src="{% static 'site_cms/js/site.js' %}"></script>



{# Portal & Docs #}
{# FAQ: Websites that load CMS header should load these assets in this order #}
{% comment %}
  {# To load externally-hosted font which is in the font stack of CMS styles #}
  {# FAQ: CMS does ALSO load but does so in `assets_font.html` instead #}
  <link id="css-site-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" />

  {# To load CSS that styles the header #}
  {# FAQ: CMS does ALSO load so it styles header using identical complex code #}
  <link id="css-site-header" rel="stylesheet" href="{% 'site_cms/css/build/site.header.css' %}" />
{% endcomment %}
