{# SEE: ./assets_core.md #}
{# For assets that should be loaded after all page content. #}
{% load static %}

{# Bootstrap #}
{# SEE: https://getbootstrap.com/docs/4.6/getting-started/introduction/#starter-template #}
<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>

{# TACC/Core-CMS #}
<script type="module">
  import updateEmailLinkHrefs from '{% static "site_cms/js/modules/updateEmailLinkHrefs.js" %}';

  const scopeElement = document.getElementById('cms-content');
  const fakeText = '__REMOVE_THIS__';

  updateEmailLinkHrefs(scopeElement, fakeText, {
    user: 'data-user',
    domain: 'data-domain',
    subject: 'data-subject',
    body: 'data-body'
  });
</script>
