{% load cms_tags static sekizai_tags cache i18n meta page_meta_tags %}
{% get_current_language as lang_code %}
{# for djangocms-page-meta #}
{# https://github.com/nephila/djangocms-page-meta/blob/1.3.0/docs/usage.rst #}
{% page_meta request.current_page as page_meta %}
{# endfor #}
<!doctype html>
<html
  id="{% block html_page_id %}{% if request.current_page.reverse_id %}page-{{ request.current_page.reverse_id }}{% endif %}{% endblock html_page_id %}"
  data-page-template="{{ request.current_page.get_template|cut:'.html' }}"
  class="{% block html_page_class %}{% endblock html_page_class %}"
  lang="{{ lang_code }}"
  {# for djangocms-page-meta #}
  {% schemaorg_html_scope page_meta.schemaorg_type %}
  {# endfor #}
>

{# for django-meta #}
{# https://github.com/nephila/django-meta/blob/2.3.0/docs/rendering.rst #}
<head {% meta_namespaces %}>
{# endfor #}
  <!-- Early Site Scripts. -->
  {# Debugging Support. #}
  {% include "debug_js.html" with settings=settings %}
  {# Google Analytics. #}
  {% include 'analytics.html' %}

  <!-- Metadata. -->
  <title>{% block title %}{% page_attribute "page_title" %}{% endblock title %}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Metadata: Social Media. -->
  {# for djangocms-page-meta #}
  {% include 'djangocms_page_meta/meta.html' with meta=page_meta %}
  {# endfor #}

  <!-- Assets. -->
  {% block assets %}
{% if settings.TACC_CORE_STYLES_VERSION == 0 %}
  {% include 'assets_site.html' %}
{% elif settings.TACC_CORE_STYLES_VERSION >= 1 %}
  {% include 'assets_core.html' %}
  {% include 'assets_core_cms.html' %}
{% endif %}
  {% endblock assets %}

  <!-- Custom Assets. -->
  {% block assets_custom %}
  {% include 'assets_custom.html' %}
  {% endblock assets_custom %}

  <!-- Ad Hoc Styles. -->
  {% block css %}{% endblock %}
  {% render_block "css" %}
</head>

<body class="{% block page_type_class %}{% endblock page_type_class %}">
  {% cms_toolbar %}

  {% block header %}
  <header>
    {% include "header.html" %}
  </header>
  {% endblock header %}

  <main id="cms-content">
  {% block content %}

    {# To hide extra space that a nested/redundant Container would add #}
    <style type="text/css">
      #cms-content-container.container .container { padding-inline: 0; }
    </style>
    {# To wrap content in Container without relying on CMS editor #}
    <div class="container" id="cms-content-container">
      {% block breadcrumbs %}
        {% include "nav_cms_breadcrumbs.html" %}
      {% endblock breadcrumbs %}

      {% block cms_content %}
        {% placeholder "content" %}
      {% endblock cms_content %}

      {# To isolate content editor cannot change layout of (e.g. Blog) #}
      {% block app_content %}{% endblock app_content %}
    </div>

  {% endblock content %}
  {% placeholder "extra content" %}
  {% placeholder "even more content" %}
  </main>

  {% block footer %}
  {% include "footer.html" %}
  {% endblock footer %}

  <!-- Assets (Delayed). -->
{% if settings.TACC_CORE_STYLES_VERSION == 0 %}
  {% include 'assets_site_delayed.html' %}
{% elif settings.TACC_CORE_STYLES_VERSION >= 1 %}
  {% include 'assets_core_delayed.html' %}
{% endif %}

  <!-- Custom Assets (Delayed). -->
  {% block assets_custom_delayed %}
  {% include 'assets_custom_delayed.html' %}
  {% endblock assets_custom_delayed %}

  <!-- Ad Hoc Scripts. -->
  {% block js %}{% endblock %}
  {% render_block "js" %}
</body>

</html>
