{% load i18n cache static custom_portal_settings %}

{# WARNING: Some markup is duplicated in other repositories #}
{# SEE: https://confluence.tacc.utexas.edu/x/LoCnCQ #}

{% with settings.BRANDING as branding %}
<!-- Sponsor Logos -->
<div class="branding-header">
  {# DEBUG: #}{# <code>{{ branding|first }}</code> #}
  {% for brand in branding %}
    {% with filename=brand|index:1 selectors=brand|index:2 targeturl=brand|index:3 targetType=brand|index:4 accessibility=brand|index:5 corstype=brand|index:6 visibility=brand|index:7 %}
      {% if visibility == "True" %}
        {% if brand == branding|first %}
        <a href="{{ targeturl }}" target="{{ targettype }}">
          <img class="branding-logo {{ selectors }}" src="{% static filename %}" crossorigin="{{ corstype }}" alt="{{ accessibility }}" >
        </a>
        {% elif brand != branding|first %}
        {# RFE: Use CSS to remove the need for `.branding-seperator` and `if` logic #}
        <span class="branding-seperator"></span>
        <a href="{{ targeturl }}" target="{{ targettype }}">
          <img class="branding-logo {{ selectors }}" src="{% static filename %}" crossorigin="{{ corstype }}" alt="{{ accessibility }}" >
        </a>
        {% endif %}
      {% endif %}
    {% endwith %}
  {% endfor %}
</div>
{% endwith %}

{% with settings.LOGO as logo %}
<!-- Navigation Bar -->
<nav id="s-header" class="s-header  navbar {% if settings.PORTAL %}navbar-expand-xl{% else %}navbar-expand-lg{% endif %} navbar-dark">
  <!-- Portal Logo -->
  {% with filename=logo|index:1 selectors=logo|index:2 targeturl=logo|index:3 targetType=logo|index:4 accessibility=logo|index:5 corstype=logo|index:6 visibility=logo|index:7 %}
    {% if visibility == "True" %}
    <a class="navbar-brand" href="{{ targeturl }}" target="{{ targettype }}">
      <img class="portal-logo {{ selectors }}" src="{% static filename %}" crossorigin="{{ corstype }}" alt="{{ accessibility }}" >
    </a>
    {% endif %}
  {% endwith %}

  <!-- Navbar Accordian Toggle on Small Screens  -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExpandTarget" aria-controls="navbarsExpandTarget" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Navbar Links -->
  <div class="collapse navbar-collapse" id="navbarsExpandTarget">
    {# GL-6: Remove need for different `className` values #}
    {% if settings.PORTAL %}
      {# FAQ: If template were included with `only`, then it would NOT render `show_menu` #}
      {% include "nav_cms.html" with className="navbar-nav" %}

      {# NOTE: As of 2020-12, search is only available with a Portal #}
      {% include "nav_search.html" with className="form-inline  ml-auto" only %}
      {% include "nav_portal.html" with className="navbar-nav" settings=settings only %}
    {% else %}
      {# FAQ: If template were included with `only`, then it would NOT render `show_menu` #}
      {% include "nav_cms.html" with className="navbar-nav  ml-auto" %}
    {% endif %}
  </div>
</nav>
{% endwith %}
