{% load menu_tags %}

{# TODO: GL-36/GL-44: Implement dropdown to support more than one tier #}
{# NOTE: This template content is copied from a third-party plugin that we do not use nor need #}
{# SEE: https://github.com/jrief/djangocms-bootstrap/blob/aa74994/cms_bootstrap/templates/bootstrap4/menu/navbar.html #}
{% spaceless %}
{% for child in children %}
<li class="nav-item{% if child.selected or child.ancestor %} active{% endif %}{% if child.children %} dropdown{% endif %}">
  {% if child.children %}
  <a
    href=""
    class="nav-link  dropdown-toggle dropdown-toggle-split"
    data-toggle="dropdown"
    aria-haspopup="true"
    aria-expanded="false"
  >
    <span class="nav-text">{{ child.get_menu_title|safe }}</span>
    {% if child.selected %}<span class="sr-only">(current)</span>{% endif %}
    <span class="sr-only">Toggle Dropdown</span>
  </a>
  <div class="dropdown-menu" role="menu" aria-labelledby="navbarDropdown">
    {% comment %}
    Bootstrap4 does not support submenus, so levels > 1 can't be handled be the main_menu tag and therfore
    recursion has been dropped intentionally. Read https://github.com/twbs/bootstrap/pull/6342 for details.
    {% endcomment %}
    {% for grandchild in child.children %}
    <a
      class="dropdown-item{% if grandchild.selected %} active{% endif %}"
      href="{{ grandchild.attr.redirect_url|default:grandchild.get_absolute_url }}"
      role="menuitem"
    >
      <span class="nav-text">{{ grandchild.get_menu_title|safe }}</span>
      {% if grandchild.selected %}<span class="sr-only">(current)</span>{% endif %}
    </a>
    {% endfor %}
  </div>
  {% else %}
  <a
    class="nav-link"
    href="{{ child.attr.redirect_url|default:child.get_absolute_url }}"
  >
    <span class="nav-text">{{ child.get_menu_title|safe }}</span>
    {% if child.selected %}<span class="sr-only">(current)</span>{% endif %}
  </a>
  {% endif %}
</li>
{% endfor %}
{% endspaceless %}
