{% extends "base.html" %}
{% load cms_tags %}

{% block title %}{% page_attribute "page_title" %}{% endblock title %}

{% block assets_custom %}
{{ block.super }}

<script>
  console.info('Core `fullwidth.html` loads no custom assets');
</script>
{% endblock assets_custom %}

{% block content %}
{% placeholder "content" %}
{% endblock content %}

{% block assets_custom_delayed %}
<script>
  console.info('Core `fullwidth.html` loads no (delayed) custom assets');
</script>
{% endblock assets_custom_delayed %}
