{% extends "base.html" %}
{% load cms_tags %}

{% block title %}{% page_attribute "page_title" %}{% endblock title %}

{% block assets_custom %}
<style>
  /* Overrides base.html embedded styles. */
  /* Better to keep all CSS styles in external css files --> styles.css. */
</style>
{% endblock assets_custom %}

{% block content %}
{% placeholder "content" %}
{% endblock content %}

{% block assets_custom_delayed %}
<script>
  // console.log("--> FILE: taccsite_cms.templates.fullwidth.html custom_js block");
</script>
{% endblock assets_custom_delayed %}
