{# WARNING: Some markup is duplicated in other repositories #}
{# SEE: https://confluence.tacc.utexas.edu/x/LoCnCQ #}
{# FAQ: Extra lines exist to ease CMS/Portal/Guide template comparison #}

<!-- Branding Bar -->
{% include "header_branding.html" %}

<!-- Navigation Bar -->
{# NOTE: `navbar-expand-*` maps to a `media-queries.css`'s `--nav-*` value #}
{# CAVEAT: The mobile nav CSS can NOT support conditional `navbar-expand-*` #}
<nav id="header-navbar" class="s-header  navbar navbar-dark navbar-expand-xl  {% if settings.PORTAL %}is-on-portal{% endif %}">
  <!-- Portal Logo -->
  {% include "header_logo.html" %}

  <!-- Navbar Accordian Toggle on Small Screens  -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExpandTarget" aria-controls="navbarsExpandTarget" aria-expanded="false" aria-label="Toggle navigation">
    <i class="navbar-toggler-icon"></i>
    <span class="sr-only">Menu</span>
  </button>

  <!-- Navbar Links -->
  <div class="collapse navbar-collapse" id="navbarsExpandTarget">
    {# FAQ: We pass `navbar-nav` because it is coupled to `navbar-…` here #}
    {# FAQ: If template included with `only`, it would NOT render `show_menu` #}
    {% include "nav_cms.html" with className="navbar-nav" %}

    {% if settings.PORTAL %}
      {# NOTE: As of 2020-12, search is only available with a Portal #}
      {% include "nav_search.html" with className="form-inline" only %}
      {% include "nav_portal.html" with className="navbar-nav" settings=settings only %}
    {% endif %}
  </div>
</nav>
