{# @var settings #}
{% load cms_tags %}

{# WARNING: Some markup is duplicated in other repositories #}
{# SEE: https://confluence.tacc.utexas.edu/x/LoCnCQ #}
{# FAQ: Extra lines exist to ease CMS/Portal/Guide template comparison #}

<!-- Sponsor Logos -->
{% include "header_branding.html" %}

{% with settings.PORTAL_HAS_LOGIN as SHOW_LOGIN_NAV %}
{% with settings.PORTAL_HAS_SEARCH as SHOW_SEARCH_BAR %}
{% with settings.PORTAL_NAV_WIDTH as NAV_WIDTH %}

<!-- Navigation Bar -->
<nav id="s-header" class="s-header  navbar navbar-dark
  {% if NAV_WIDTH %}
  navbar-expand-{{NAV_WIDTH}}
  {% elif SHOW_LOGIN_NAV or SHOW_SEARCH_BAR %}
  navbar-expand-xl
  {% else %}
  navbar-expand-lg
  {% endif %}
">
  <!-- Portal Logo -->
  {% static_placeholder "header-logo" or %}
  {% include "header_logo.html" %}
  {% endstatic_placeholder %}

  <!-- Navbar Accordian Toggle on Small Screens  -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExpandTarget" aria-controls="navbarsExpandTarget" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Navbar Links -->
  <div class="collapse navbar-collapse" id="navbarsExpandTarget">
    {# GL-6: Remove need for different `className` values #}
    {% if SHOW_LOGIN_NAV or SHOW_SEARCH_BAR %}
      {# FAQ: If template were included with `only`, then it would NOT render `show_menu` #}
      {% include "nav_cms.html" with className="navbar-nav  mr-auto" %}

      {% if SHOW_SEARCH_BAR %}{% include "nav_search.html" with className="form-inline" settings=settings only %}{% endif %}
      {% if SHOW_LOGIN_NAV %}{% include "nav_portal.html" with className="navbar-nav" settings=settings only %}{% endif %}
    {% else %}
      {# FAQ: If template were included with `only`, then it would NOT render `show_menu` #}
      {% include "nav_cms.html" with className="navbar-nav  ml-auto" %}
    {% endif %}
  </div>
</nav>

{% endwith %}
{% endwith %}
{% endwith %}
