{# @var logo, className #}
{% load static custom_portal_settings %}

{% if settings.TACC_LOGO %}

{% with settings.TACC_LOGO as logo %}
  <a
    id="header-logo"
    class="navbar-brand {{className}}"
    href="{{ logo.link_href }}"
    target="{{ logo.link_target }}"
  >
    <img
      class="portal-logo {{ logo.img_class }}"
      src="{% if logo.is_remote %}{{ logo.img_file_src }}{% else %}{% static logo.img_file_src %}{% endif %}"
      {% if logo.img_crossorigin %}
      crossorigin="{{ logo.img_crossorigin }}"
      {% endif %}
      {% if logo.img_alt_text %}
      alt="{{ logo.img_alt_text }}"
      {% endif %}
    />
  </a>
{% endwith %}

{% else %}

{% with settings.LOGO as logo %}
  {% with filename=logo|index:1 selectors=logo|index:2 targeturl=logo|index:3 targettype=logo|index:4 accessibility=logo|index:5 corstype=logo|index:6 visibility=logo|index:7 %}
    {% if visibility == "True" %}
    <a id="header-logo" class="navbar-brand {{className}}" href="{{ targeturl }}" target="{{ targettype }}">
      <img class="portal-logo {{ selectors }}" src="{% static filename %}" crossorigin="{{ corstype }}" alt="{{ accessibility }}" />
    </a>
    {% endif %}
  {% endwith %}
{% endwith %}

{% endif %}
