{# @var className #}

{# WARNING: Some markup is duplicated in other repositories #}
{# SEE: https://confluence.tacc.utexas.edu/x/LoCnCQ #}
<form class="s-search-bar  {{className}}">
  <div class="input-group">
    <div class="input-group-prepend">
      <button type="submit" class="btn btn-secondary">
        <i class="icon icon-search" role="img" aria-label=""></i>
        <span class="">Search</span>
      </button>
    </div>
    <input type="search" name="query" aria-label="Search the website" class="form-control" placeholder="Search" data-testid="input" autocomplete="off" value="">
  </div>
</form>
