{# @var className #}

{# Encapsulate search bar as custom element, so styles do not bleed out #}
{# IDEA: Should CMS use React component or Portal's React use custom element #}
{# WARNING: Some markup is duplicated in other repositories #}
{# SEE: https://confluence.tacc.utexas.edu/x/LoCnCQ #}
<tacc-search-bar class="s-search-bar  {{className}}" id="s-search-bar">
  <!-- The search bar is populated here (from the template below). -->
  <template>{% include "nav_search.raw.html" %}</template>
</tacc-search-bar>
<script type="module">
  import * as registerCustomElement from '/static/site_cms/js/modules/registerCustomElement.js';

  const template = document.getElementById('s-search-bar').firstElementChild;
  registerCustomElement.fromTemplate(template, 'tacc-search-bar');
</script>
