{% load staticfiles %}
<!-- FAQ: This template loads independently at a unique url (see `urls.py`)
          so Portal and User Guide can render this markup into their markup. -->

<style type="text/css">
  /* Hide search bar before all relevant styles have loaded */
  /* FAQ: Manage visibility of search bar to avoid FOUC */
  /* HACK: GH-101: Resolve via dynamically-added `[data-status="loaded"]` */
  :host { visibility: hidden; height: 0; }
</style>
<link rel="stylesheet" href="{% static 'site_cms/css/build/site.tacc-search-bar.css' %}">

<form part="form" method="get" action="/search">
  <label for="header-search" class="u-hide--visually" part="label">
    Search
  </label>

  <input part="input"
    id="header-search"
    type="search"
    name="query_string"
    placeholder="Search"
    data-testid="input"
    autocomplete="off" minlength="3"
    value="" />
  <input type="hidden" name="page" value="1" />

  <button part="button" type="submit" class="icon icon-search">
    <span class="u-hide--visually">Search</span>
  </button>
</form>
