{% extends "base.html" %}
{% load cms_tags %}

{% block title %}{% page_attribute "page_title" %}{% endblock title %}

{% block content %}
<style>
  /* To strech content vertically */
  body {
    display: flex;
    flex-direction: column;
  }
  #cms-content {
    flex-grow: 1;
  }
  .cms-content-panel > [class*="container"] {
    height: 100%;
  }

  /* To split the layout */
  #cms-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  #cms-breadcrumbs {
    grid-column-start: 1;
    grid-column-end: -1;
    grid-row: 1;
    z-index: 1;
  }
  #cms-content-left {
    grid-column-start: 1;
    grid-row: 1;
  }
  #cms-content-right {
    grid-column-start: 2;
    grid-row: 1;
  }

  /* To fix section seemingly missing its background color */
  :where(.o-section, [class*=section--]) {
    box-shadow: none;
  }

  /* To angle any background color */
  #cms-content-left {
    clip-path: polygon(0% 0%, 100% 0%, 90% 100%, 0% 100%);
  }

  /* To improve legibility of breadcrumbs atop sections */
  #cms-breadcrumbs {
    color: var(--global-color-primary--x-light);
    mix-blend-mode: exclusion;
    text-align: center;
  }

  /* To allow columns to touch footer */
  body > main {
    margin-bottom: 0;
  }

  /* To remove borders on muted sections */
  .o-section--style-muted {
    border-top: none;
    border-bottom: none;
  }
</style>

  {% block breadcrumbs %}
    {% include "nav_cms_breadcrumbs.html" with className="container-fluid" %}
  {% endblock breadcrumbs %}

  {% block cms_content %}
    <div id="cms-content-left" class="cms-content-panel">
      {% placeholder "left" %}
    </div>
    <div id="cms-content-right" class="cms-content-panel">
      {% placeholder "right" %}
    </div>
  {% endblock cms_content %}

  {% block app_content %}{% endblock app_content %}
{% endblock content %}
