{% load cms_tags staticfiles menu_tags sekizai_tags cache i18n %}
<!doctype html>
<html>

<head>
  <title>{% block title %}This is my new project home page{% endblock title %}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="icon" href="{% static 'site_cms/images/favicons/favicon.ico' %}" type="image/x-icon" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'site_cms/css/styles.css' %}">
  <link rel="stylesheet" href="{% static 'site_cms/css/nav_branding_styles/branding_logos.css' %}">
  <link rel="stylesheet" href="{% static 'site_cms/css/miscellaneous/navigation.css' %}">
  <link id="css-font" rel="stylesheet" href="https://use.typekit.net/xnr7bof.css">
  <!-- Custom <head> Markup per Site to Customize the Site <head> Content. -->
  <!-- No custom markup in base template. -->
  {% render_block "css" %}
  <!-- In-line Styles -->
  {% block custom_css %}
  <style>
    /* Styles are overridden by template inheritance in fullwidth.html. */
    /* Better to keep all CSS styles in external css files --> static/taccsite_cms/static/site_cms/css/styles.css (linked above). */
  </style>
  {% endblock custom_css %}
</head>

<body>
  <!-- Custom Navigation Block per Site to Customize the Site Header Branding. -->
  <div class="cms-branded-navigation">
    <!-- Template in use. -->
    {% include "nav_branding_partials/nav.branding.frontera.v2.html" %}
  </div>
  <!-- Vendor Scripts -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <!-- Custom Scripts -->
  <script src="{% static 'site_cms/scripts/base.js' %}" crossorigin="anonymous"></script>
  {% render_block "js" %}
  <!-- In-line Scripts  -->
  {% block "custom_js" %}
  {% endblock "custom_js" %}
</body>

</html>
