/* NAVIGATION */

/* IDEA: Rename file to reflect intent for all of site header, not just nav. */
/* FAQ: The (scope) `.s-` classes are used to qualify external class to prevent
        propogation to other instances of external class (like in Portal) */



/* Common */

/* Common: Affiliation */


/* Common: Navigation */

.s-header.navbar {
  background-color: rgb(51, 51, 51);
  padding: 0 9%;

  /* TODO: Use universal font-size variable */
  font-size: 0.8125rem; /* 13px */
  /* TODO: Confirm whether this style is actually desired */
  /* SEE: https://tacc-team.slack.com/archives/CQUA4D5KJ/p1580399450057400 */
  text-transform: uppercase;

  font-family: 'benton-sans';
}
@media only screen and (max-width: 640px) {
  .s-header.navbar {
    padding-left: 5%;
    padding-right: 5%;

    background-color: rgb(51, 51, 51);
  }
}

.s-header .nav-link:hover,
.s-header .nav-link:focus {
  /* CAVEAT: Non-standard property (but the only maintainable way to do this) */
  -webkit-text-stroke: 0.0625em rgb(255, 255, 255);
}
/* HACK: The Portal nav neglects to use `.nav-link` for links.
         Do not fix until Portal uses the CMS repositories
         (otherwise we must duplicate markup changes) */
/* ???: Should this be for `.s-portal-nav` or for `.dropdown`? */
.s-header a.dropdown-item:hover,
.s-header a.dropdown-item:focus {
  /* CAVEAT: Non-standard property (but the only maintainable way to do this) */
  /* Color is from Bootstrap `.dropdown-item` in `_dropdown.scss` */
  -webkit-text-stroke: 0.0625em rgb(33, 37, 41);
}
.s-header .nav-link:hover,
.s-header .nav-link:focus,
.s-header .nav-link:active,
.s-header .nav-item.active .nav-link {
  /* NOTE: See "NAVIGATION: Hacks & Overrides" at `.nav-link` for variables */
  border-width: 0 0 var(--border-width);
  border-style: solid;
  border-color: var(--border-color);
  margin-bottom: calc( var(--border-width) * -1 );
}



/* Common: Icons */

/* HACK: Using FontAwesome as placeholder */
.s-header [class*="fa-"] {
    width: 1.25em;
    text-align: center;
}
.s-header :hover > [class*="fa-"],
.s-header :focus > [class*="fa-"] {
  /* Overwrite `a.dropdown-item:focus` in `./navigation.css` */
  -webkit-text-stroke-width: 0px;
}




/* Portal */

/* Portal: Navigation */

.s-portal-nav {
  /* Override `.navbar` */
  text-transform: none;
  font-size: 16px;
}





/* CMS */

/* CMS: Navigation */

/* REQ: This link is hidden intentionally by CMD, but may still be wanted */
.s-cms-nav .nav-item:first-child .nav-link {
  display: none;
}
.s-cms-nav .nav-item:first-child .nav-link::before {
  /* Copied from `.nav-link` in `…/css/styles.css` */
  color: rgb(255, 255, 255);
  /* NOTE: This rule should be unnecessary with official font icon solution */
  font-size: 24px;
}



/* CMS: Icons */

/* HACK: Using FontAwesome as placeholder */
/* TODO: Perform this in Core via Issue #5 */
/* HACK: Select some icons by position, because:
         - Home Link: CMS admin can not define Markup attributes for navigation links */
/* HACK: Manually copy styles from FontAwesome, because:
          1. no CSS processing is available to compose the styles into here
          2. CMS user and front-end dev have no way to add class to link */
/* SEE: https://fontawesome.com/v5.0.13/how-to-use/on-the-web/advanced/css-pseudo-elements#define */

/* FontAwesome: "Step 1. Common Properties" */
/* .some-other-foreign-element, */
.s-cms-nav .nav-item:first-child .nav-link::before {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}

/* FontAwesome: "Step 2. Reference Individual Icons" */
.s-cms-nav .nav-item:first-child .nav-link::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f015";
}

/* FontAwesome: Hide Text from Screen Readers */
/* .some-other-foreign-element span, */
.s-cms-nav .nav-item:first-child .nav-link span {
  /* HACK: Manually copy `.sr-only` styles from FontAwesome, because
           no CSS processing is available to compose the styles into here */
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}





/* Override Bootstrap */

/* Override Bootstrap: Navigation */

/* HACK: Using an ID selector, because Bootstrap has overspecific selectors */
#s-header .navbar-brand,
#s-header .nav-link {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

#s-header .nav-link {
  --border-width: 4px;
  --border-color: rgb(213, 181, 124);

  /* CAVEAT: From Bootstrap's `.navbar-brand` vertical
             padding of `.3125rem`, which is equal to `5px`. */
  --space--available: 5px;
  --space--offset: calc( var(--space--available) - var(--border-width));

  /* CAVEAT: From `.nav-logo-double` */
  --navbar-content-height: 40px;
  /* CAVEAT: From Bootstrap `.navbar-expand-md .navbar-nav .nav-link`
             vertical padding of `0.5rem`, which is equal to `8px` */
  --padding: 8px;
  --height: calc( var(--navbar-content-height) - var(--padding));
}
#s-header .nav-link,
/* NOTE: This selector should be unnecessary with official font icon solution */
#s-header .navbar-nav .nav-item:first-child .nav-link::before {
  line-height: calc( var(--height) - var(--space--available));
}
#s-header.navbar-expand-md .navbar-nav .nav-link {
  padding-right: 15px;
  padding-left: 15px;
}
