/* NAVIGATION */

/* IDEA: Rename file to reflect intent for all of site header, not just nav. */
/* FAQ: The (scope) `.s-` classes are used to qualify external class to prevent
        propogation to other instances of external class (like in Portal) */
/* WARNING: NO-R/EM: No `em` nor `rem` allowed while `old-css` is used,
            because the `rem` values assume `16px` (browser default),
            yet `old-css` sets `body { font-size: 15px }` (changes `em` value),
            and also sets `html { font-size: 10px }` (changes `rem` value) */



/* Common */

.s-header {
  /* HACK: Bootstrap SASS is not available yet (do we want it?) */
  --bootstrap-font-family-sans-serif: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 16px; /* NO-R/EM: Overwrite `bootstrap.3.3.7.css` */

  /* Copied from Portal (via `body`) */
  font-family: Roboto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



/* Common: Affiliation */


/* Common: Navigation */

.s-header.navbar {
  /* Make horizontal padding match the horizontal content buffer in Portal */
  /* FAQ: The `calc()` keeps track of disparate source of space values */
  /* `16px` = `1rem` from Portal (via `#sidebar .nav-content`) */
  /* `20px` from Portal (via `.nav-link`) */
  --nav-padding-vert: 5px;
  --nav-padding-horz: calc(16px + 20px);

  background-color: rgb(51, 51, 51);
  padding: var(--nav-padding-vert) var(--nav-padding-horz);
}
.s-header .navbar-brand {
  margin-right: 16px; /* NO-R/EM: 1rem (from Bootstrap via `.navbar-brand`) */
  padding: 0;
}

/* Overwrite Bootstrap (which uses a media query) */
@media (min-width:992px) {
  .s-header.navbar-expand-lg .navbar-nav .nav-link {
    padding: 8px 14px; /* NO-R/EM: 0.5rem (Bootstrap value) .875rem */
  }
}

.s-header .nav-link {
  --border-width: 4px;
  --border-offset: calc(var(--nav-padding-vert) - var(--border-width));
  --border-color: rgb(213, 181, 124);

  /* The nav vertical padding does not match the link border, so the alignment
     of the link border with the bottom of the header is off by small amount */
  position: relative;
  top: var(--border-offset);
}
.s-header .nav-link:hover,
.s-header .nav-link:focus,
.s-header .nav-link:active,
.s-header .nav-item.active .nav-link {
  border-width: 0 0 var(--border-width);
  border-style: solid;
  border-color: var(--border-color);
  margin-bottom: calc( var(--border-width) * -1 );
}



/* Common: Icons */

/* HACK: Using FontAwesome as placeholder */
.s-header [class*="fa-"] {
    width: 27px; /* NO-R/EM: 1.25em (from Portal `.fa`—FP-228 will deprecate) */
    text-align: center;
}





/* Portal */

/* Portal: Navigation */

.s-portal-nav {
  /* Override `.navbar` */
  text-transform: none;
}
.s-header .dropdown-menu {
  font-size: 16px; /* NO-R/EM: 1rem (from Bootstrap via `.dropdown-menu`) */
}





/* CMS */

/* CMS: Navigation */

/* Hide the "Home" icon */
/* REQ: This link is hidden intentionally by CMD, but may be revived */
.s-cms-nav .nav-item:first-child .nav-link {
  display: none;
}
.s-cms-nav .nav-item:first-child .nav-link::before {
  /* Copied from `.nav-link` in `…/css/styles.css` */
  color: rgb(255, 255, 255);
  /* NOTE: This rule should be unnecessary with official font icon solution */
  font-size: 24px;
}

/* Align position of first CMS nav link with Portal "Dashboard" header */
/* REQ: This value is ONLY for Frontera; other brands have wider images… */
/* HACK: This solution is dependent on dynamic and unrelated content */
.s-cms-nav .nav-item:nth-child(2) {
  margin-left: 4px;
}


/* CMS: Icons */

/* Implement icon for the "Home" icon */
/* HACK: Using FontAwesome as placeholder */
/* TODO: Perform this in Core via Issue #5 */
/* HACK: Select some icons by position, because:
         - Home Link: CMS admin can not define Markup attributes for navigation links */
/* HACK: Manually copy styles from FontAwesome, because:
          1. no CSS processing is available to compose the styles into here
          2. CMS user and front-end dev have no way to add class to link */
/* SEE: https://fontawesome.com/v5.0.13/how-to-use/on-the-web/advanced/css-pseudo-elements#define */

/* FontAwesome: "Step 1. Common Properties" */
/* .some-other-foreign-element, */
.s-cms-nav .nav-item:first-child .nav-link::before {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}

/* FontAwesome: "Step 2. Reference Individual Icons" */
.s-cms-nav .nav-item:first-child .nav-link::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f015";
}

/* FontAwesome: Hide Text from Screen Readers */
/* .some-other-foreign-element span, */
.s-cms-nav .nav-item:first-child .nav-link span {
  /* HACK: Manually copy `.sr-only` styles from FontAwesome, because
           no CSS processing is available to compose the styles into here */
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}





/* Override Bootstrap */

/* Override Bootstrap: Navigation */

/* HACK: Using an ID selector, because Bootstrap has overspecific selectors */
#s-header .navbar-brand,
#s-header .nav-link {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

#s-header.navbar-expand-md .navbar-nav .nav-link {
  padding-right: 15px;
  padding-left: 15px;
}
#s-header .nav-link,
/* NOTE: This selector should be unnecessary with official font icon solution */
.s-cms-nav .nav-item:first-child .nav-link::before {
  /* Value determined by increasing until just before header height changes */
  line-height: 24px;
}
/* Reduce the padding (compared to other links) of the "Home" icon link */
.s-cms-nav .nav-item:first-child .nav-link {
  padding-top: 6px;
  padding-bottom: 6px;
}
