/* DO NOT ADD STYLES HERE; ONLY IMPORT OTHER STYLESHEETS */

/* NOTE: This file exists so <tacc-search-bar> can use CSS vars from Portal */

/* TODO: Find a better solution */
/* PORT: Migrate `:root` vars into `:host` so custom element can access them */
/* FAQ: Styles within a custom element can not access the `:root` */

/* SETTINGS */
@import url("../../../../site_shared/css/src/_imports/settings/color.css");
@import url("../../../../site_shared/css/src/_imports/settings/border.css");

[part="button"] {
  --global-color-primary--x-dark: var(--global-color-primary--x-dark);
  --global-color-primary--normal: var(--global-color-primary--normal);
}

[part="input"] {
  --global-border--normal: var(--global-border--normal);
}
