/* BRANDING & LOGO CLASS SELECTORS */
/* TODO: Convert to a component */

/* Shared by All Templates */

.navbar-tacc {
  background-color: rgb(51, 51, 51);
  padding: 0 9%;
}

/* Branding Selectors  */

.branding-header {
  margin: 0;
  padding: 0.4rem 0 0.4rem;
  text-align: center;
  background-color: rgb(51, 51, 51);
  color: #fff;
  border-bottom: 1px solid #aaa;
}

.branding-header a {
  display: inline-block;
}

.branding-seperator {
  width: 1px;
  height: 100%;
  border-left: solid 1px #fff;
  margin: 0 15px;
  vertical-align: middle;
}

.branding-logo {
  height: 30px;
  margin: 0;
  padding: 0;
  border: none;
}

/* Specific Brand Logo Selectors  */

.branding-nsf {
  height: 35px;
}

.branding-tacc {
  height: 24px;
  margin: 3px 0 0 0;
}

.branding-utaustin {
  height: 24px;
  margin: 3px 0 0 0;
}

/* Logo Selectors  */

.portal-logo {
  float: left;
  height: 40px;
  margin: 0;
  padding: 0;
  border: none;
}

/* Media Query Selectors */

@media only screen and (max-width: 640px) {
  .navbar-tacc {
    background-color: rgb(51, 51, 51);
    padding-left: 5%;
    padding-right: 5%;
  }
}
