{% load cms_tags %}

<section {# class="c-article-list" #}{{ instance.attributes_str }}>
  {% if instance.header_title_text %}
  <h2 class="c-article-list__title">
    {{ instance.header_title_text }}
  </h2>
  {% endif %}
  {% for plugin_instance in instance.child_plugin_instances %}
    {# <article class="c-article-list__item">…</article> #}
    {% render_plugin plugin_instance %}
  {% endfor %}
  {% if link %}
  <footer class="c-article-list__footer">
    <a class="c-article-list__link" href="{{ link }}"
      {% if instance.target %}target="{{ instance.target }}"{% endif %}>
      <i class=".c-article-list__link-icon  icon icon-push-right"></i>
      {{ instance.name|default:"See All" }}
    </a>
  </footer>
  {% endif %}
</section>
