/*
Portal

The [Core Portal](https://github.com/TACC/Core-Portal).

Styleguide Trumps.ForOtherSites.Portal
*/
@import url("_imports/tools/selectors.css");

/* Ammend `s-header.css` (for Header because of Body) */

@media (--nav-compressed) {

  /* To position navbar menus/buttons based on window width not parent width */
  /* FAQ: Portal at body min. width places menu buttons outside narrow screen */
  :--for-portal .s-header :--navbar-toggle {
    position: absolute; /* assumes Bootstrap `.navbar { position: relative }` */
    width: env(--header-navbar-toggle-width);
    left: calc(
      100vw
      - env(--header-navbar-toggle-width)
      - env(--header-navbar-toggle-width--portal-user)
    ); /* FAQ: = window width – width of all toggles */
  }
  :--for-portal .s-header .s-portal-nav {
    position: absolute; /* assumes Bootstrap `.navbar { position: relative }` */
    width: env(--header-navbar-toggle-width--portal-user); /* !!!: Makes "Log In" link too wide */
    left: calc(
      100vw
      - env(--header-navbar-toggle-width--portal-user)
    ); /* FAQ: = window width – its own width (not others, cuz it's the last) */
  }
  :--for-portal .s-header .navbar-collapse {
    width: calc(
      100vw
      - env(--header-navbar-mobile-menu-offset)
    ); /* FAQ: = window width – offset from window */
  }

  /* WARNING: Only Portal may use this cuz only its markup knows login state */
  :--for-portal .s-header.is-portal-user :--portal-nav-link {
    width: env(--header-navbar-toggle-width--portal-user);
  }

}
