/*
Article List

A list of article previews. Content __must__ use the tags defined by the example markup.

Markup: s-article-list.html

Styleguide Trumps.Scopes.ArticleList
*/
@import url("_imports/tools/x-layout.css");
@import url("_imports/tools/x-article-link.css");





/* Block */

[class*="s-article-list--"] {
  /* … */
}





/* Children */



/* Children: All */

/* Not "Title" & Not "See More" */
.s-article-list--layout-e > :not(h2):not(a:last-child) {
  /* To shrink heading */
  flex-grow: 1;
}



/* Children: Title */

.s-article-list--layout-a h2,
.s-article-list--layout-b h2,
.s-article-list--layout-c h2,
.s-article-list--layout-d h2 {
  /* To span all columns */
  grid-column-start: 1;
  grid-column-end: -1;
}

[class*="s-article-list--"] h2 {
  margin-top: 0; /* overwrite Bootstrap */
  margin-bottom: 30px; /* overwrite Bootstrap */

  color: var(--global-color-accent--normal);

  font-size: 1.6rem;
  font-weight: var(--bold);
  text-transform: uppercase;
}
/* Add a fake short border above title */
[class*="s-article-list--"] h2 {
  position: relative;
  padding-top: 1em;
}
[class*="s-article-list--"] h2::before {
  content: '';
  display: block;

  position: absolute;
  top: 0;
  height: 0.5em;
  width: 2.5em;

  background-color: var(--global-color-accent--normal);
}



/* Children: Article */

.s-article-list--news article {
  height: 320px;
}



/* Children: "See More" */

/* Anchor */

.s-article-list--layout-a > a:last-child,
.s-article-list--layout-b > a:last-child,
.s-article-list--layout-c > a:last-child,
.s-article-list--layout-d > a:last-child {
  /* To span all columns */
  grid-column-start: 1;
  grid-column-end: -1;
}

[class*="s-article-list--"] > a:last-child {
  border-width: var(--global-border-width--thick) 0 var(--global-border-width--normal);
  border-style: solid;

  margin-top: 30px; /* GH-99: Use standard spacing value */
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: -10px; /* to "undo" space added from `padding-bottom` */

  font-size: 1.2rem;
  font-weight: var(--bold);
}
[class*="s-article-list--"] > a:last-child:not(:hover) {
  border-bottom-color: transparent !important;
}
.o-section--style-light[class*="s-article-list--"] > a:last-child,
.o-section--style-light [class*="s-article-list--"] > a:last-child {
  color: var(--global-color-primary--xx-dark);
  border-color: var(--global-color-primary--xx-dark);
}
.o-section--style-dark[class*="s-article-list--"] > a:last-child,
.o-section--style-dark [class*="s-article-list--"] > a:last-child {
  color: var(--global-color-primary--xx-light);
  border-color: var(--global-color-primary--xx-light);
}

/* Icon */

[class*="s-article-list--"] > a:last-child::before {
  font-family: "Font Awesome 5 Free";
  content: "\f35a";
  margin-right: 10px;

  font-size: 1.4rem;
  vertical-align: middle;

  /* To hide the `text-decoration: underline` of the anchor */
  /* SEE: https://stackoverflow.com/a/15688237/11817077 */
  display: inline-block;
}





/* Modifiers */



/* Modifiers: Links */

.s-article-list--links {
  font-size: 1.4rem;
  color: var(--global-color-primary--xx-dark);
}
.s-article-list--links p {
  margin: 0; /* Overwrite Bootstrap and browser */
}
.s-article-list--links p a {
  font-weight: var(--bold);
  color: var(--global-color-primary--xx-dark);
}

/* Expand link to cover its container */
.s-article-list--links p { position: relative; }
.s-article-list--links p a::before {
  content: '';

  @extend .x-article-link-stretch;
}
.s-article-list--layout-gapless.s-article-list--links p a::before {
  @extend .x-article-link-stretch--gapless;
}
/* Give link state (pseudo-class) feedback */
.s-article-list--links p a:hover::before {
  @extend .x-article-link-hover;
}
.s-article-list--layout-gapless.s-article-list--links p a:hover::before {
  @extend .x-article-link-hover--gapless;
}



/* Modifiers: Layout */

.s-article-list--layout-a { @extend .x-layout--a; }
.s-article-list--layout-b { @extend .x-layout--b; }
.s-article-list--layout-c { @extend .x-layout--c; }
.s-article-list--layout-d { @extend .x-layout--d; }
.s-article-list--layout-e { @extend .x-layout--e; }

/* Modifiers: Layout: Column-Based */

.s-article-list--layout-a,
.s-article-list--layout-b,
.s-article-list--layout-c,
.s-article-list--layout-d {
  column-gap: 30px; /* GH-99: Use standard spacing value */
}

/* Modifiers: Layout: Row-Based */

.s-article-list--layout-e {
  /* … */
}

/* Modifiers: Layout: Options */

.s-article-list--layout-gapless {
  gap: 0;
}

.s-article-list--layout-compact > a:last-child {
  margin-top: 0;
}

.s-article-list--layout-divided > :not(h2):not(a:last-child) {
  padding-top: 8px;

  border-width: var(--global-border-width--normal) 0 0;
  border-style: solid;
}
.o-section--style-dark.s-article-list--layout-divided > :not(h2):not(a:last-child),
.o-section--style-dark .s-article-list--layout-divided > :not(h2):not(a:last-child) {
  border-color: var(--global-color-primary--light);
}
.o-section--style-light.s-article-list--layout-divided > :not(h2):not(a:last-child),
.o-section--style-light .s-article-list--layout-divided > :not(h2):not(a:last-child) {
  border-color: var(--global-color-primary--dark);
}
