/*
Article List

A list of article previews. Content __must__ use the tags defined by the example markup.

Markup: s-article-list.html

Styleguide Trumps.Scopes.ArticleList
*/
@import url("../../../../../../../taccsite_cms/static/site_cms/css/src/_imports/tools/x-layout.css");

/* Block */

[class*="s-article-list--"] {
  /* … */
}



/* Modifiers */

/* Modifiers: News */

.s-article-list--layout-a,
.s-article-list--layout-b,
.s-article-list--layout-c,
.s-article-list--layout-d {
  column-gap: 30px; /* GH-99: Use standard spacing value */
}
.s-article-list--layout-a { @extend .x-layout--a; }
.s-article-list--layout-b { @extend .x-layout--b; }
.s-article-list--layout-c { @extend .x-layout--c; }
.s-article-list--layout-d { @extend .x-layout--d; }
.s-article-list--layout-e { @extend .x-layout--e; }



/* Children */

/* Children: Title */

[class*="s-article-list--"] h2 {
  /* To span all columns */
  grid-column-start: 1;
  grid-column-end: -1;
}

[class*="s-article-list--"] h2 {
  margin-top: 0; /* overwrite Bootstrap */
  margin-bottom: 30px; /* overwrite Bootstrap */

  color: var(--global-color-accent--normal);

  font-size: 1.6rem;
  font-weight: var(--bold);
  text-transform: uppercase;
}
/* Add a fake short border above title */
[class*="s-article-list--"] h2 {
  position: relative;
  padding-top: 1em;
}
[class*="s-article-list--"] h2::before {
  content: '';
  display: block;

  position: absolute;
  top: 0;
  height: 0.5em;
  width: 2.5em;

  background-color: var(--global-color-accent--normal);
}

/* Children: Article */

.s-article-list--news article {
  height: 320px;
}

/* Children: "See More" */

/* Anchor */
[class*="s-article-list--"] a {
  grid-column-start: 1;
  grid-column-end: -1;

  border-top-width: var(--global-border-width--thick);
  border-top-style: solid;

  margin-top: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: -10px; /* to "undo" space added from `padding-bottom` */

  font-size: 1.2rem;
  font-weight: var(--bold);
}
.o-section--style-light[class*="s-article-list--"] a,
.o-section--style-light [class*="s-article-list--"] a {
  color: var(--global-color-primary--xx-dark);
  border-top-color: var(--global-color-primary--xx-dark);
}
.o-section--style-dark[class*="s-article-list--"] a,
.o-section--style-dark [class*="s-article-list--"] a {
  color: var(--global-color-primary--xx-light);
  border-top-color: var(--global-color-primary--xx-light);
}

/* Icon */
[class*="s-article-list--"] a::before {
  font-family: "Font Awesome 5 Free";
  content: "\f35a";
  margin-right: 10px;

  font-size: 1.4rem;
  vertical-align: middle;

  /* To hide the `text-decoration: underline` of the anchor */
  /* SEE: https://stackoverflow.com/a/15688237/11817077 */
  display: inline-block;
}
