/*
Article Preview

A preview of an article (to be used in a `s-article-list`). Content __must__ come in the order and use the tags defined by the example markup.

Markup: s-article-preview.html

Styleguide Trumps.Scopes.ArticlePreview
*/
@import url("_imports/tools/x-truncate.css");





/* Block */

.s-article-preview {
  position: relative; /* for absolutely positioned "Children: Link" */

  display: flex;
  flex-direction: column;
}





/* Modifiers */

/* … */





/* Children */



/* Children: Media */

.s-article-preview p:first-child {
  order: 1;

  height: 55%;
  overflow: hidden;

  margin-bottom: 8px; /* overwrite Bootstrap */
}
.s-article-preview p:first-child > img {
  /* To center image within container */
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* (List) Events */
.s-article-list--events .s-article-preview p:first-child {
  display: none;
}


/* Children: Title */

.s-article-preview h3 {
  order: 3;

  margin-top: 0; /* overwrite Bootstrap and browser */
  margin-bottom: 8px; /* overwrite Bootstrap and browser */

  font-size: 1.8rem;
  font-weight: var(--bold);
  line-height: 2.4rem;

  @extend .x-truncate--many-lines;
  --lines: 2;
}
/* (List) Allocations */
.s-article-list--allocations .s-article-preview h3 {
  font-size: 1.6rem;
  font-weight: var(--bold);
}



/* Children: Abstract */

.s-article-preview p:not(:first-child):not(:last-child) {
  order: 4;
  z-index: 1; /* ensure Abstract appears over Link */

  margin-bottom: 0; /* overwrite Bootstrap and browser */

  font-size: 1.6rem;
  line-height: 2.4rem;

  flex-shrink: 0;
  height: calc(2.4rem * var(--lines)); /* line-height * lines clamped */

  @extend .x-truncate--many-lines;
  --lines: 2;
}
.s-article-preview p:not(:first-child):not(:last-child):hover {
  @extend .x-untruncate--many-lines;
}
/* (List) Allocations */
.s-article-list--allocations .s-article-preview p:not(:last-child):not(:first-child) {
  display: none;
}



/* Children: Metadata */

.s-article-preview ul {
  order: 2;

  display: flex;
  flex-direction: column;

  list-style: none;
  padding-left: 0; /* overwrite `site.css` and browser */

  margin-bottom: 8px; /* overwrite Bootstrap */
}
/* (List) Allocations */
.s-article-list--allocations .s-article-preview ul {
  order: 5;
}

/* Children: Metadata: Date */

.s-article-preview ul > li:nth-child(1) {
  order: 2;

  /* FAQ: To prevent line wrap from changing height */
  height: 1.4em; /* equal to line-height */
}
/* (List) News */
.s-article-list--news .s-article-preview ul > li:nth-child(1) {
  font-size: 1.0rem;
  font-weight: var(--bold);
}
.s-article-list--news .s-article-preview ul > li:nth-child(1)::before {
  content: 'Published: ';
}
/* (List) Allocations */
.s-article-list--allocations .s-article-preview ul > li:nth-child(1) {
  font-size: 1.6rem;
  font-weight: var(--medium);
}
.s-article-list--allocations .s-article-preview ul > li:nth-child(1)::before {
  content: 'Submission Deadlines: ';
}

/* Children: Metadata: Type */

.s-article-preview ul > li:nth-child(2) {
  order: 1;

  font-size: 1.2rem;
  font-weight: var(--bold);
  text-transform: uppercase;
}
/* (List) Events */
.s-article-list--events .s-article-preview ul > li:nth-child(2),
/* (List) Allocations */
.s-article-list--allocations .s-article-preview ul > li:nth-child(2) {
  display: none;
}

/* Children: Metadata: Author */

.s-article-preview ul > li:nth-child(3) {
  order: 3;
}
/* (List) News */
.s-article-list--news .s-article-preview ul > li:nth-child(3),
/* (List) Events */
.s-article-list--events .s-article-preview ul > li:nth-child(3),
/* (List) Allocations */
.s-article-list--allocations .s-article-preview ul > li:nth-child(3) {
  display: none;
}



/* Children: Link */

.s-article-preview p:last-child {
  z-index: 1; /* ensure Link appears over Media */

  margin-bottom: 0; /* overwite Bootstrap and browser */
}
.s-article-preview p:last-child,
.s-article-preview p:last-child > a {
  position: absolute;
  width: 100%;
  height: 100%;

  color: transparent; /* ensure Link _text_ is invisible (allow decoration) */
}
.s-article-preview p:last-child > a:hover {
  outline: 1px solid var(--global-color-accent--normal);
}
/* (List) News */
.s-article-list--news .s-article-preview p:last-child > a:hover {
  outline-offset: 1em;
}
