@supports (initial-letter: 3){
  .s-drop-cap > p:first-of-type::first-letter {
    padding-right: 1em;
    initial-letter: 3;
  }
}

@supports (-webkit-initial-letter: 3) {
  .s-drop-cap > p:first-of-type::first-letter {
    padding-right: 1em;
    -webkit-initial-letter: 3;
    font-family: Arial;
  }
}
