/*
Guide Doc

Styles for elements within a guide document

Markup: s-cms-nav.html

Styleguide Trumps.Scopes.GuideDoc
*/

.s-guide-doc {
  margin-bottom: var(--global-space--large);
}





/* ELEMENTS */


/* ELEMENTS: Content Sectioning */

.s-guide-doc h2 {
  margin: var(--global-space--large) 0 var(--global-space--normal);
}

.s-guide-doc h3 {
  margin-bottom: var(--global-space--normal);
}
/* Fake <hr> above <h3> */
.s-guide-doc h3::before {
  display: block;
  content: '';

  margin: var(--global-space--large) 0;
  border-top: 1px solid var(--global-color-primary--light);
}

.s-guide-doc h3 {
  margin-bottom: var(--global-space--normal);
}

/* Extra space above some headings */
.s-guide-doc h4,
.s-guide-doc h5,
.s-guide-doc h6 {
  margin-top: 2em;
}

/* ELEMENTS: Text Content */

.s-guide-doc blockquote {
  opacity: 0.75;
  border: var(--global-border--normal);

  padding: 1em;
}
.s-guide-doc blockquote > *:last-child { margin-bottom: 0; }

@media only screen and (min-width: 768px) {
  blockquote { width: 600px; }
}

.s-guide-doc figure {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.s-guide-doc figcaption {
  font-weight: bold;
}

/* ELEMENTS: Inline Text Semantics */
/* ELEMENTS: Image & Multimedia */

/* FAQ: Pulls images and code blocks closer to paragraph above */
.s-guide-doc p + pre,
.s-guide-doc p + img {
  margin-top: -0.75rem;
  margin-bottom: 1rem; /* mirror Bootstrap `_reboot.css` <p> */
}


/* ELEMENTS: Image & Multimedia */

/* NOTE: The rsync_data_transfer_guide template uses <figure>'s */
.s-guide-doc img/*:not(figure > img)*/ {
  max-width: 75%;

  border: var(--global-border--normal);
}


/* ELEMENTS: Table Content */

.s-guide-doc table {
  width: 100%;
  max-width: 500px;

  text-align: center;
}





/* COMPONENTS */

/* COMPONENTS: Bootstrap */

.s-guide-doc .row > .col > *:last-child {
  margin-bottom: 0;
}
.s-guide-doc .row .row {
  padding: var(--global-space--normal) 0;
}
.s-guide-doc .row .row:nth-child(even) {
  background-color: var(--global-color-primary--x-light);
}
