/*
Header (Compressed Navigation)

Styles for when navigation is compressed.

Styleguide Trumps.Scopes.Header.Compressed
*/
@import url("_imports/tools/x-mobile-button.css");




/* COMPARABLE (to Expanded Styles) */

@media (--nav-compressed) {

  /* Generic */

  :root {
    --header-brandbar-height: env(--header-brandbar-mobile-height);
    --header-navbar-height: env(--header-navbar-mobile-height);
  }





  /* Logo */

  #header-logo {
    /* To prevent wide image from forcing `.navbar-toggler` to be wrapped */
    /* To match lines with `s-header.compressed.css` */
    /* FAQ: Matching lines eases comparison with `s-header.compressed.css` */
    max-width: calc(188px - var(--space-after-logo-before-nav));
  }





  /* Nav */



  /* Containers */

  .s-header .navbar-collapse {
    margin-right: env(--header-navbar-right-pad);

    background-color: rgba(var(--global-color-primary--x-dark-rgb), 0.6);
    backdrop-filter: blur(18px) brightness(85%);

    border: env(--border-width--normal) solid var(--global-color-primary--dark);
  }
  .s-header .navbar-nav {
    /* --nav-link-horz-pad: … *//* set within different media queries */
    --nav-line-color: env(--header-accent-color);
  }



  /* Toggle */

  /* Button */
  /* To ensure button remains hidden on expanded navbar, isolate this style */
  /* FAQ: The button as `.navbar-toggler` uses `display: none` from Bootstrap */
  .s-header :--navbar-button { display: grid; }



  /* Nav Links */

  .s-header .s-cms-nav .nav-link {
    /* height: auto; *//* to mirror props on `s-header.compressed.css` */

    /* To overwrite Bootstrap */
    padding-top: 0.8em;
    padding-bottom: 0.8em;

    font-size: 2em;
  }
  /* To match lines with `s-header.compressed.css` */
  /* FAQ: Matching lines eases comparison with `s-header.compressed.css` */
  /* .s-header .s-portal-nav .nav-link { } */

  /* NOTE: Design may want hover .s-header active background color with alpha */
  /* SEE: `./s-header.css` */

  .s-header .nav-link:hover,
  .s-header .nav-link:focus,
  .s-header .nav-link:active,
  .s-header .nav-item.active .nav-link,
  .s-header .nav-item.dropdown.show .nav-link {
    /* border-top: none *//* to mirror props on `s-header.compressed.css` */
    /* border-bottom: none *//* to mirror props on `s-header.compressed.css` */
  }





  /* Dropdowns */



  /* Container */

  .s-header .dropdown {
    --menu-link-horz-pad: 26px;
    --menu-line-color: transparent;
  }



  /* Search */

  /* To add constant space between CMS nav and search bar */
  .s-header .s-search-bar {
    /* To line up menu content with logo */
    margin-left: env(--header-navbar-left-pad);
  }
  /* To shove portal nav into same row as search bar */
  .s-header .s-portal-nav {
    margin-top: calc(-1 * env(--header-navbar-mobile-height));
  }

  .s-header .s-search-bar,
  .s-header .s-search-bar::part(input),
  .s-header .s-search-bar::part(button) {
    font-size: 18px; /* WARNING: Do not use `rem` until `html { 62.5%; }` */
  }





  /* Icons */

  .s-header .s-cms-nav .nav-icon,
  .s-header .s-portal-nav .dropdown-item .nav-icon {
    margin-right: 0.5em;
  }

  /* To enlarge all icons */
  .s-header .nav-icon {
    font-size: 26px;
  }

}





/* UNIQUE (to Compressed Styles) */



/* Basic Media Range */

@media (--nav-compressed) {



  /* Nav */

  /* To add nav menu padding */
  .s-header .navbar-nav {
    /* To line up menu content with logo */
    --nav-link-horz-pad: env(--header-navbar-left-pad);
  }

  /* To overwrite Bootstrap */
  /* To apply style to old markup (see "Portal & Docs Selectors") */
  /* TODO: 1. Remove `ml-auto` from Portal & Docs markup
           2. Remove this style */
  :--for-docs .s-header .s-cms-nav.ml-auto,
  :--for-portal .s-header .s-cms-nav.ml-auto {
    margin-left: 0 !important;
  }

  /* To add dropdown menu padding */
  .s-header .s-cms-nav .dropdown-menu {
    /* To match nav menu padding (because spacing in design is so similar) */
    margin-left: var(--menu-link-horz-pad, env(--header-navbar-left-pad));
  }

  /* To set height of "top row" (search bar & portal nav) of mobile nav */
  /* FAQ: Setting height of search bar is not respected as navbar collapses */
  /* FAQ: Setting height of portal nav would hide portal nav dropdown menu */
  .s-header tacc-search-bar.s-search-bar::part(form),
  .s-header .s-portal-nav .nav-link {
    height: var(--header-navbar-height);
  }
  .s-header .s-portal-nav .nav-link {
    margin-left: auto; /* to align right compared to dropdown menu */
  }

  /* To make background for "top row" (search bar & portal nav) of mobile nav */
  /* HACK: Create background with a pseudo element that matches "row" height */
  .s-header .s-portal-nav .dropdown::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    background-color: env(--header-bkgd-color);
  }

  /* HACK: To transform the navbar into a dropdown */
  /* TODO: We should either use dropdown or create TACC nav component (GH-12) */
  /* NOTE: This does NOT behave exactly like a dropdown:
      1. If menu is open, and screen width changes trigger nav layout transition from mobile to desktop to mobile, then menu will remain open upon return to mobile layout. But a dropdown inside this navbar that was open would be closed after the return.
      2. If menu is open, and user clicks anywhere outside the navbar, then menu will remain open. But a dropdown anywhere that was open would be closed after the click.
  */
  .s-header .navbar-collapse {
    /* This `position` expects Bootstrap's `.navbar { position: relative }` */
    position: absolute;

    top: 100%;
    left: 0;
    right: 0;
    z-index: 1000;
  }

  /* To layout elements for mobile navigation */
  /* FAQ: Mimic column via 100% rows so portal nav & search can be on one row */
  .s-header .navbar-collapse.show,
  .s-header .navbar-collapse.collapsing {
    display: flex;
    flex-direction: column;
  }
  /* To make content of search bar fill up available space */
  .s-header tacc-search-bar.s-search-bar::part(form) { width: 100%; }
  /* To move portal nav & search to top of menu */
  /* FAQ: The `z-index` ensures portal nav allows click through to search */
  .s-header .s-portal-nav { order: -1; z-index: 1 }
  .s-header .s-search-bar { order: -2; z-index: 2 }



  /* Dropdowns */

  /* To overwrite Bootstrap */
  .s-header .dropdown-menu {
    padding: 0;

    font-size: 20px; /* WARNING: Do not use `rem` until `html { 62.5%; }` */
  }
  .s-header .s-cms-nav .dropdown-menu {
    background-color: transparent;
    border: none;
  }
  .s-header .s-portal-nav .dropdown-menu {
    background-color: env(--header-link-bkgd-color);
    border: none;

    width: max-content;
    margin-left: auto;
  }

  /* To distinguish CMS dropdown from Portal dropdown */
  .s-header .s-cms-nav .dropdown-item {
    /* To overwrite Bootstrap */
    padding-top: 1em;
    padding-bottom: 1em;
  }
  /* To mimic `.s-header .nav-link` */
  .s-header .s-portal-nav .dropdown-item {
    /* To overwrite Bootstrap */
    padding-top: 0.8em;
    padding-bottom: 0.8em;
  }

}
