/*
Header (Compressed Navigation)

Styles for when navigation is compressed.

Styleguide Trumps.Scopes.Header.Compressed
*/





/* COMPARABLE (to Expanded Styles) */

@media (--nav-compressed) {

  /* Generic */

  :root {
    --header-brandbar-height: env(--header-brandbar-mobile-height);
    --header-navbar-height: env(--header-navbar-mobile-height);
  }





  /* Logo */

  #header-logo {
    /* To prevent wide image from forcing `.navbar-toggler` to be wrapped */
    /* To match lines with `s-header.compressed.css` */
    /* FAQ: Matching lines eases comparison with `s-header.compressed.css` */
    max-width: calc(188px - var(--space-after-logo-before-nav));
  }





  /* Nav */



  /* Containers */

  .s-header .navbar-collapse {
    margin-right: env(--header-navbar-toggle-width);

    background-color: rgba(var(--global-color-primary--x-dark-rgb), 0.6);
    backdrop-filter: blur(18px) brightness(85%);

    border: env(--border-width--normal) solid var(--global-color-primary--dark);
  }
  .s-header .navbar-nav {
    /* --nav-link-horz-pad: … *//* set within different media queries */
    --nav-line-color: env(--header-accent-color);
  }



  /* Toggle */

  /* Button */
  /* To ensure button remains hidden on expanded navbar, isolate this style */
  /* FAQ: The button as `.navbar-toggler` uses `display: none` from Bootstrap */
  .s-header :--navbar-button { display: flex; }



  /* Nav Links */

  .s-header .nav-link {
    height: auto;

    /* To overwrite Bootstrap */
    padding-top: 0.8em;
    padding-bottom: 0.8em;

    font-size: 2em;
  }

  /* NOTE: Design may want hover .s-header active background color with alpha */
  /* SEE: `./s-header.css` */

  /* NOTE: Design may want hover/focus/active styles to differ per nav state */
  .s-header .nav-link:hover,
  .s-header .nav-link:focus,
  .s-header .nav-link:active,
  .s-header .nav-item.active .nav-link,
  .s-header .nav-item.dropdown.show .nav-link {
    /* border-top: none *//* to mirror props on `s-header.compressed.css` */
    /* border-bottom: none *//* to mirror props on `s-header.compressed.css` */
  }





  /* Dropdowns */



  /* Container */

  .s-header .dropdown {
    --menu-link-horz-pad: 26px;
    --menu-line-color: transparent;
  }



  /* Menu */

  /* To overwrite Bootstrap */
  .s-header .dropdown-menu {
    padding: 0;

    background-color: transparent;
    border: none;

    font-size: 20px; /* WARNING: Do not use `rem` until `html { 62.5%; }` */
  }



  /* Item */

  /* FAQ: Selector specificty trumps Bootstrap, so no need for `:hover` (etc.) */
  .s-header .dropdown-item {
    /* To overwrite Bootstrap */
    padding-top: 1em;
    padding-bottom: 1em;
  }


  /* Search */

  /* GH-101: Retain search design until Wes works on it */
  .s-header .s-search-bar,
  .s-header .s-search-bar::part(input),
  .s-header .s-search-bar::part(button) {
    font-size: 12px; /* WARNING: Do not use `rem` until `html { 62.5%; }` */
  }

  /* Create space between search bar and login (only if both elements exist) */
  .s-header .s-search-bar ~ .s-portal-nav {
    margin-left: 2px;
  }





  /* Icons */

  .s-header .s-portal-nav .nav-link .nav-icon {
    margin-right: 0.5em;
  }

}





/* UNIQUE (to Compressed Styles) */

@media (--nav-compressed) {
  /* To add nav menu padding */
  .s-header .navbar-nav {
    /* To line up menu text with logo */
    --nav-link-horz-pad: calc(
      env(--portal-sidebar-padding) + env(--portal-navlink-padding)
    );
  }

  /* To add dropdown menu padding */
  .s-header .s-cms-nav .dropdown-menu {
    /* To match nav menu padding (because spacing in design is so similar) */
    --menu-link-horz-pad: calc(
      env(--portal-sidebar-padding) + env(--portal-navlink-padding)
    );

    margin-left: var(--menu-link-horz-pad);
  }

  /* HACK: To transform the navbar into a dropdown */
  /* TODO: We should either use dropdown or create TACC nav component (GH-12) */
  /* NOTE: This does NOT behave exactly like a dropdown:
      1. If menu is open, and screen width changes trigger nav layout transition from mobile to desktop to mobile, then menu will remain open upon return to mobile layout. But a dropdown inside this navbar that was open would be closed after the return.
      2. If menu is open, and user clicks anywhere outside the navbar, then menu will remain open. But a dropdown anywhere that was open would be closed after the click.
  */
  .s-header .navbar-collapse {
    /* This `position` expects Bootstrap's `.navbar { position: relative }` */
    position: absolute;

    top: 100%;
    left: 0;
    right: 0;
    z-index: 1000;
  }
}
