<!-- FAQ:

This markup has:

- Bootstrap class names
  (also via `./s-portal-nav.html`)
  (also via `./s-cms-nav.html`)
- Bootstrap attributes
  (also via `./s-portal-nav.html`)
- multiple internal scope (`s-`) classes
  (only via `./s-portal-nav.html`)
  (only via `./s-cms-nav.html`)
- illegally-nested markup (`ul > div > li`)
  (only via `./s-portal-nav.html`)
-->
<nav class="s-header  navbar navbar-expand-lg navbar-dark">

  <a class="navbar-brand" href="/">
    <img
      src="/static/site_cms/img/org_logos/portal.png"
      alt="Portal Logo"
      class="nav-logo-double nav-logo-frontera-double"
    />
  </a>

  <button
    class="navbar-toggler  gh-101"
    type="button"
    data-toggle="collapse"
    data-target="#navbarsExpandTarget"
    aria-controls="navbarsExpandTarget"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <i class="navbar-toggler-icon">±</i>
    <span class="navbar-toggler-text">Menu</span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExpandTarget">
    {% include "./s-cms-nav.html" %}

    {% include "./s-portal-nav.html" %}
  </div>
</nav>
