/*
Header (Expanded Navigation)

Styles for when navigation is expanded.

Styleguide Trumps.Scopes.Header.Expanded
*/





/* COMPARABLE (to Compressed Styles) */

@media (--nav-expanded) {

  /* Generic */

  :root {
    --header-brandbar-height: env(--header-brandbar-normal-height);
    --header-navbar-height: env(--header-navbar-normal-height);
  }





  /* Logo */

  #header-logo {
    /* To prevent zero-width element as it is loaded */
    /* To align position of first CMS nav link with Portal section headers */
    /* CAVEAT: Only works on narrow-enough logos */
    min-width: calc(190px - var(--space-after-logo-before-nav));
  }





  /* Nav */



  /* Containers */

  .s-header .navbar-collapse {


    /* To match lines with `s-header.compressed.css` */
    /* FAQ: Matching lines eases comparison with `s-header.compressed.css` */


  }
  .s-header .navbar-nav {
    /* --nav-link-horz-pad: … *//* set within different media queries */
    --nav-line-color: transparent;
  }



  /* Toggle */

  /* Button */
  /* To match lines with `s-header.compressed.css` */
  /* FAQ: Matching lines eases comparison with `s-header.compressed.css` */
  /* .s-header :--navbar-button { } */



  /* Nav Links */

  .s-header .nav-link {
    height: 100%;

    /* To overwrite Bootstrap */
    padding-top: unset;
    padding-bottom: unset;

    /* font-size: 1em; *//* to mirror props on `s-header.compressed.css` */
  }

  /* NOTE: Design may want hover .s-header active background color with alpha */
  /* SEE: `./s-header.css` */

  /* NOTE: Design may want hover/focus/active styles to differ per nav state */
  .s-header .nav-link:hover,
  .s-header .nav-link:focus,
  .s-header .nav-link:active,
  .s-header .nav-item.active .nav-link,
  .s-header .nav-item.dropdown.show .nav-link {
    border-top: env(--border-width--xx-thick) solid transparent;
    border-bottom: env(--border-width--xx-thick) solid env(--header-accent-color);
  }





  /* Dropdowns */



  /* Container */

  .s-header .dropdown {
    --menu-link-horz-pad: 11px;
    --menu-line-color: env(--header-bkgd-color);
  }



  /* Search */

  /* To add flexible space between CMS nav and search bar */
  .s-header .s-search-bar {
    /* To match lines with `s-header.compressed.css` */
    /* FAQ: Matching lines eases comparison with `s-header.compressed.css` */




    margin-left: auto;


  }

  .s-header .s-search-bar,
  .s-header .s-search-bar::part(input),
  .s-header .s-search-bar::part(button) {
    font-size: 14px; /* WARNING: Do not use `rem` until `html { 62.5%; }` */
  }

  /* Create space between search bar and login (only if both elements exist) */
  .s-header .s-search-bar ~ .s-portal-nav {
    margin-left: 12px;
  }





  /* Icons */

  .s-header .s-portal-nav .nav-link .nav-icon {
    margin-right: 0.5em;
  }

  /* To enlarge toggle icon */
  .s-portal-nav .dropdown-toggle .nav-icon {
    font-size: 26px;
  }

}





/* UNIQUE (to Expanded Styles) */




/* Complex Media Range */

/* To reduce space between nav links when space is limited */
@media (--wide-and-below) and (--nav-expanded) {
  /* To have "narrower" space (designed by dev) */
  .s-header:not(.is-on-portal) .navbar-nav { --nav-link-horz-pad: 1em; }
}
@media (--x-wide-and-below) and (--nav-expanded) {
  /* To have "narrower" space (designed by dev) */
  .s-header.is-on-portal .navbar-nav,
  /* To apply style to old markup (see "Portal & Docs Selectors") */
  /* TODO: Hardcode `is-on-portal` in Portal & Docs markup */
  :--for-docs .s-header .navbar-nav,
  :--for-portal .s-header .navbar-nav { --nav-link-horz-pad: 1em; }
}

/* To increase space between nav links when space is available */
@media (--wide-and-above) and (--nav-expanded) {
  /* To have 15px of space for 12px font */
  .s-header:not(.is-on-portal) .navbar-nav { --nav-link-horz-pad: 1.25em; }
}
@media (--x-wide-and-above) and (--nav-expanded) {
  /* To have 15px of space for 12px font */
  .s-header.is-on-portal .navbar-nav,
  /* To apply style to old markup (see "Portal & Docs Selectors") */
  /* TODO: Hardcode `is-on-portal` in Portal & Docs markup */
  :--for-docs .s-header .navbar-nav,
  :--for-portal .s-header .navbar-nav { --nav-link-horz-pad: 1.25em; }
}



/* Basic Media Range */

@media (--nav-expanded) {



  /* Nav */

  /* To move CMS nav to the right if there is no Portal */
  .s-header:not(.is-on-portal) .s-cms-nav {
    margin-left: auto;
  }



  /* Dropdowns */

  /* To overwrite Bootstrap */
  .s-header .dropdown-menu {
    padding: 7px 0 0;

    background-color: env(--header-link-bkgd-color);
    border: env(--border-width--normal) solid env(--header-accent-color);

    font-size: 12px; /* WARNING: Do not use `rem` until `html { 62.5%; }` */
  }

  /* To overwrite Bootstrap */
  .s-header .dropdown-item {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
  }

}
