/*
Header (Compressed Navigation)

Styles for when navigation is compressed.

Styleguide Trumps.Scopes.Header.Compressed
*/
@import url("_imports/tools/x-mobile-button.css");





/* COMPARABLE (to Expanded Styles) */

@media (--nav-compressed) {

  /* Generic */

  :root {
    --header-brandbar-height: env(--header-brandbar-mobile-height);
    --header-navbar-height: env(--header-navbar-mobile-height);
  }





  /* Logo */

  #header-logo {
    /* To prevent wide image from forcing `.navbar-toggler` to be wrapped */
    /* To match lines with `s-header.compressed.css` */
    /* FAQ: Matching lines eases comparison with `s-header.compressed.css` */
    max-width: calc(188px - var(--space-after-logo-before-nav));
  }





  /* Nav */



  /* Containers */

  .s-header .navbar-collapse {
    margin-right: env(--header-navbar-toggle-width);

    background-color: rgba(var(--global-color-primary--x-dark-rgb), 0.6);
    backdrop-filter: blur(18px) brightness(85%);

    border: env(--border-width--normal) solid var(--global-color-primary--dark);
  }
  .s-header .navbar-nav {
    /* --nav-link-horz-pad: … *//* set within different media queries */
    --nav-line-color: env(--header-accent-color);
  }



  /* Toggle */

  /* Button */
  /* To ensure button remains hidden on expanded navbar, isolate this style */
  /* FAQ: The button as `.navbar-toggler` uses `display: none` from Bootstrap */
  .s-header :--navbar-button { display: flex; }



  /* Nav Links */

  .s-header .s-cms-nav .nav-link {
    /* height: auto; *//* to mirror props on `s-header.compressed.css` */

    /* To overwrite Bootstrap */
    padding-top: 0.8em;
    padding-bottom: 0.8em;

    font-size: 2em;
  }

  /* NOTE: Design may want hover .s-header active background color with alpha */
  /* SEE: `./s-header.css` */

  .s-header .nav-link:hover,
  .s-header .nav-link:focus,
  .s-header .nav-link:active,
  .s-header .nav-item.active .nav-link,
  .s-header .nav-item.dropdown.show .nav-link {
    /* border-top: none *//* to mirror props on `s-header.compressed.css` */
    /* border-bottom: none *//* to mirror props on `s-header.compressed.css` */
  }





  /* Dropdowns */



  /* Container */

  .s-header .dropdown {
    --menu-link-horz-pad: 26px;
    --menu-line-color: transparent;
  }



  /* Search */

  .s-header .s-search-bar,
  /* To apply style to old markup (see "Portal & Docs Selectors") */
  /* TODO: 1. Remove `ml-auto` from Portal & Docs markup
           2. Remove the ` !important`
           3. Remove the subsite selectors */
  :--for-docs .s-header .s-search-bar.ml-auto,
  :--for-portal .s-header .s-search-bar.ml-auto {
    /* To line up menu text with logo */
    margin-left: calc(
      env(--portal-sidebar-padding) + env(--portal-navlink-padding)
    ) !important;
  }

  .s-header .s-search-bar,
  .s-header .s-search-bar::part(input),
  .s-header .s-search-bar::part(button) {
    font-size: 18px; /* WARNING: Do not use `rem` until `html { 62.5%; }` */
  }

  /* Create space between search bar and login (only if both elements exist) */
  .s-header .s-search-bar ~ .s-portal-nav {
    margin-left: 2px;
  }





  /* Icons */

  .s-header .s-cms-nav .nav-icon {
    margin-right: 0.5em;
  }

  /* To enlarge all icons */
  .s-header .nav-icon {
    font-size: 26px;
  }

}





/* UNIQUE (to Compressed Styles) */

/* Basic Media Range */

@media (--nav-compressed) {



  /* Nav */

  /* To add nav menu padding */
  .s-header .navbar-nav {
    /* To line up menu text with logo */
    --nav-link-horz-pad: calc(
      env(--portal-sidebar-padding) + env(--portal-navlink-padding)
    );
  }

  /* To overwrite Bootstrap */
  /* To apply style to old markup (see "Portal & Docs Selectors") */
  /* TODO: 1. Remove `ml-auto` from Portal & Docs markup
           2. Remove this style */
  :--for-docs .s-header .s-cms-nav.ml-auto,
  :--for-portal .s-header .s-cms-nav.ml-auto {
    margin-left: 0 !important;
  }

  /* To add dropdown menu padding */
  .s-header .s-cms-nav .dropdown-menu {
    /* To match nav menu padding (because spacing in design is so similar) */
    --menu-link-horz-pad: calc(
      env(--portal-sidebar-padding) + env(--portal-navlink-padding)
    );

    margin-left: var(--menu-link-horz-pad);
  }

  /* HACK: To transform the navbar into a dropdown */
  /* TODO: We should either use dropdown or create TACC nav component (GH-12) */
  /* NOTE: This does NOT behave exactly like a dropdown:
      1. If menu is open, and screen width changes trigger nav layout transition from mobile to desktop to mobile, then menu will remain open upon return to mobile layout. But a dropdown inside this navbar that was open would be closed after the return.
      2. If menu is open, and user clicks anywhere outside the navbar, then menu will remain open. But a dropdown anywhere that was open would be closed after the click.
  */
  .s-header .navbar-collapse {
    /* This `position` expects Bootstrap's `.navbar { position: relative }` */
    position: absolute;

    top: 100%;
    left: 0;
    right: 0;
    z-index: 1000;
  }

  /* To layout elements for mobile navigation */
  /* FAQ: Mimic column via 100% rows so portal nav & search can be on one row */
  .s-header .navbar-collapse.show,
  .s-header .navbar-collapse.collapsing {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
  }
  .s-header .navbar-collapse > *:not(.s-portal-nav, .s-search-bar) {
    flex-basis: 100%;
  }
  /* To let portal nav & search fit "comfortably" together on thier row */
  .s-header .s-portal-nav { flex: 0 1 auto }
  .s-header .s-search-bar { flex: 1 1 auto }
  /* To let search fill up available space */
  .s-header tacc-search-bar.s-search-bar::part(form) { width: 100%; }
  /* To move portal nav & search to top of menu */
  .s-header .s-portal-nav { order: -1 }
  .s-header .s-search-bar { order: -2 }

  /* To style "Log In" and "username" like navbar toggle button */
  .s-header .s-portal-nav .nav-link {
    @extend %x-mobile-button--toggle-on-side;
    display: flex;

    /* To ensure dropdown toggle wraps by limiting available content height */
    height: 56px;
    padding-top: 5px; /* to overwrite Boostrap */
    padding-bottom: 5px; /* to overwrite Boostrap */
  }
  /* FAQ: The extra `.nav-link` specificity avoids styling dropdown link text */
  .s-header .s-portal-nav .nav-link .nav-text {
    @extend %x-mobile-button__text;
  }


  /* Dropdowns */

  /* To overwrite Bootstrap */
  .s-header .dropdown-menu {
    padding: 0;
  }
  .s-header .s-cms-nav .dropdown-menu {
    background-color: transparent;
    border: none;

    font-size: 20px; /* WARNING: Do not use `rem` until `html { 62.5%; }` */
  }
  .s-header .s-portal-nav .dropdown-menu {
    background-color: env(--header-link-bkgd-color);
    border: none;
  }
  /* To overwrite Bootstrap */
  /* To allow Portal nav menu to still drop down over content on small screen */
  .s-header .s-portal-nav .dropdown-menu {
    /* Copied from Bootstrap:
       ```
       @media (min-width: ...px) {
          .navbar-expand-…… .navbar-nav .dropdown-menu
       }
       ``` */
    position: absolute; /* without this, menu pushes down content beneath it */
  }
  /* To compensate for CMS's Bootstrap version older than Portal & Docs */
  :--for-cms .dropdown-menu-right {
    /* Copied from Bootstrap:
       ```
       @media (min-width: ...px) {
          .navbar-expand-…… .navbar-nav .dropdown-menu-right
       }
       ``` */
    right: 0;
    left: auto;
  }

  /* To distinguish CMS dropdown from Portal dropdown */
  .s-header .s-cms-nav .dropdown-item {
    /* To overwrite Bootstrap */
    padding-top: 1em;
    padding-bottom: 1em;
  }
  /* To mimic `.s-header .nav-link` */
  .s-header .s-portal-nav .dropdown-item {
    /* To overwrite Bootstrap */
    padding-top: 0.8em;
    padding-bottom: 0.8em;

    font-size: 2em;
  }

}
