/*
Search Bar

Styles for search bar cloned from Portal codebase

- Bootstrap (different options)
    - ⅹ 4.3.1 (the styles necessary are in `./s-search-bar/bootstrap.4.3.1.css`)
    - ✓ 4.0.0 (loaded for whole site as external file via `<link>` in template)
    - ✓ relevant delta from 4.0.0 to 4.3.1 (determined by comparing render diff)

Markup: s-search-bar.html

Styleguide Trumps.Scopes.SearchBar
*/



/* Bootstrap */

/* Bootstrap: 4.3.1 */
/* @import url("_imports/trumps/s-search-bar/bootstrap.4.3.1.css"); */

/* Bootstrap: 4.0.0 */
/* SEE: taccsite_cms/templates/assets_site.html */

/* Bootstrap: relevant delta from 4.0.0 to 4.3.1 */
@import url("_imports/trumps/s-search-bar/bootstrap.delta.4.0.0-to-4.3.1.css");



/* Shared */

/* Components */
@import url("_imports/components/shared/bootstrap.form.css");
@import url("_imports/components/shared/c-button.css");




/* Overwrite */
/* FAQ: The `.s-search-bar` is added to trump Bootstrap class specificity */

tacc-search-bar.s-search-bar::part(form) {
  display: flex;
  flex-direction: row;
  align-items: center;
}

tacc-search-bar.s-search-bar::part(button) {
  @extend .c-button--secondary;

  /* Copied from `.workbench-content .btn-secondary` from Portal `Workbench.scss` */
  background-color: #F4F4F4;
  color: #484848;
  border: 1px solid #AFAFAF;
}

tacc-search-bar.s-search-bar::part(button__icon) {
  @extend .c-button__icon--before;
}

tacc-search-bar.s-search-bar::part(input) {
  @extend .form-control;
  @extend input.form-control;
}
