/*
Style Guide

A style guide. This is intended for:
- a design system
- a writing style guide
- a developer style guide

Styleguide Trumps.Scopes.StyleGuide
*/

.s-style-guide {
  margin-top: var(--global-space--large);
  margin-bottom: var(--global-space--x-large);
}





/* ELEMENTS */



/* ELEMENTS: Content Sectioning */

/* Mirrors `s-document` "ELEMENTS: Content Sectioning" */

.s-style-guide h2 {
  margin: var(--global-space--large) 0 var(--global-space--normal);
}

.s-style-guide h3 {
  margin-bottom: var(--global-space--normal);
}

/* Extra space above lesser headings */
.s-style-guide h3 { margin-top: 1em; }
.s-style-guide h4,
.s-style-guide h5,
.s-style-guide h6 { margin-top: 1.25em; }
