/*
System Specifications

Styles for System Specifications content which assumes external code:

- custom properties
  (for `--global-...`)
- `c-data-list`
  (for "Data List")
- `s-sysmon`
  (for "System Monitor")

Styleguide Trumps.Scopes.SystemSpecs
*/
@import url("_imports/tools/media-queries.css");



/* Cascade */

.s-system-specs {
  font-size: var(--global-font-size--small);
  font-weight: var(--global-font-weight--medium);
}



/* Layout */

.s-system-specs {
  --row-gap: 32px;

  display: grid;
}

@media only screen and (--medium-and-below) {
  .s-system-specs {
    --row-gap: 32px;

    display: grid;
    grid-template-areas:
      'figure'
      'specs'
      'other';
    row-gap: var(--row-gap);
  }
}
@media only screen and (--medium-and-above) {
  .s-system-specs {
    --col-width--wide: 46%;
    --col-width--thin: 48%;
    --col-gap: 6%;
    --col-pad: 20px;
    --row-gap: 32px;

    display: grid;
    grid-template-areas:
      'figure specs'
      'other other';
    grid-template-columns: var(--col-width--wide) var(--col-width--thin);
    grid-template-rows: auto 1fr;
    gap: var(--row-gap) var(--col-gap);
  }
  .s-system-specs > figure { grid-area: figure; }
  .s-system-specs > div    { grid-area: specs; }
  .s-system-specs > aside  { grid-area: other; }
}
@media only screen and (--wide-and-above) {
  .s-system-specs {
    --col-width--thin: 42%;
    --col-width--wide: 48%;
    --col-gap: 10%;
    --col-pad: 40px;

    grid-template-areas:
      'figure specs'
      'figure other';
  }
}



/* Spacing */

@media only screen and (--medium-and-above) {
  .s-system-specs,
  .s-system-specs > div { padding-inline: var(--col-pad); }
  .s-system-specs > aside { padding-right: var(--col-pad); }
}
@media only screen and (--wide-and-above) {
  .s-system-specs > aside { padding-left: var(--col-pad); }
}



/* Figure */

.s-system-specs > figure > img {
  width: 100%;
  display: block; /* to support margin */
}
.s-system-specs > figure > figcaption {
  /* To nudge upward on top of image */
  position: relative; /* to prevent image from appearing on top */
  margin-top: -40px;
}

@media only screen and (--medium-and-below) {
  .s-system-specs > figure > img {
    /* To center horizontally */
    width: 60%;
    margin-left: auto;
    margin-right: auto;
  }
}
@media only screen and (--medium-and-above) {
  .s-system-specs > figure > figcaption {
    /* To center horizontally */
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
}



/* Components */

.s-system-specs .c-data-list__key a {
  font-weight: var(--medium);
}
