/* To add numbered ordering to the sortable list */
.sortedm2m-container {
  & ul.sortedm2m {
      --checkbox-offset: 20px /* from djangocms-admin.css */;
      --marker-offset: 5px;

      counter-reset: item-counter;
  }
  & ul.sortedm2m li {
      counter-increment: item-counter;
      padding-left:
        var(--marker-offset) !important /* overwrites djangocms-admin.css */;
  }
  & ul.sortedm2m label::before {
      content: counter(item-counter) ".";
      position: relative;
      left: calc( -1 * (
        var(--checkbox-offset)
        + var(--marker-offset)
      ) );
  }
  & ul.sortedm2m:has(
    li.ui-sortable-helper,     /* during sorting */
    li[style="display: none;"] /* during filtering */
  ) label::before {
      visibility: hidden;
  }
}

/* To distinguish published vs unpublished */
.sortedm2m-container {
  & [data-published="true"] {
      display: none;
  }
  & label:has([data-published="false"]) {
      opacity: 0.5;
  }
  & [data-published="false"] {
    &::before { content: '('; }
    &::after { content: ')'; }
  }
}
