/* To add numbered ordering to the sortable list */
.sortedm2m-container ul.sortedm2m {
    --checkbox-offset: 20px /* from djangocms-admin.css */;
    --marker-offset: 5px;

    counter-reset: item-counter;
}
.sortedm2m-container .sortedm2m li {
    counter-increment: item-counter;
    padding-left:
      var(--marker-offset) !important /* overwrites djangocms-admin.css */;
}
.sortedm2m-container ul.sortedm2m label::before {
    content: counter(item-counter) ".";
    position: relative;
    left: calc( -1 * (
      var(--checkbox-offset)
      + var(--marker-offset)
    ) );
}
.sortedm2m-container ul.sortedm2m:has(li.ui-sortable-helper) label::before {
    visibility: hidden;
}

/* To distinguish published vs unpublished */
.sortedm2m-container ul.sortedm2m li span:is([data-is-published])::before {
    content: "✓ ";
    color: #28a745;
}
.sortedm2m-container ul.sortedm2m li span:not([data-is-published])::before {
    content: "○ ";
    color: #ffc107;
}
.sortedm2m-items.sortedm2m li span:not([data-is-published]) {
    opacity: 0.7;
}
