/* Selectors */

/* To make these selectors easier to remember (rather than add classnames) */
/* FAQ: Avoiding changing blog templates to limit app upgrade maintenance */
@custom-selector :--news-article-page article.post-detail;

@custom-selector :--news-feed-page .blog-list;
@custom-selector :--news-feed-page--as-list :--news-feed-page:not(.as-grid);
@custom-selector :--news-feed-page--as-grid :--news-feed-page.as-grid;

@custom-selector :--news-article-item :--news-feed-page article;
@custom-selector :--news-article-item--in-list :--news-feed-page--as-list article;
@custom-selector :--news-article-item--in-grid :--news-feed-page--as-grid article;

@custom-selector :--news-feed-list
  .blog-latest-entries,
  .blog-featured-posts;
