{% load cms_tags static %}

{% if link_url %}
<a {# class="c-callout" #}{{ instance.attributes_str }} href="{{ link_url }}"
  {% if link_target %}target="{{ link_target }}"{% endif %}
>
{% else %}
<aside {# class="c-callout" #}{{ instance.attributes_str }}>
{% endif %}

  <h2 class="c-callout__title">{{ instance.title }}</h2>
  <p class="c-callout__desc">{{ instance.description }}</p>

  {% if image_plugin %}
  <figure class="c-callout__figure">
    {% for plugin_instance in instance.child_plugin_instances %}
      {% render_plugin plugin_instance %}
    {% endfor %}
  </figure>
  {% endif %}

{% if link_url %}
</a>
{% else %}
</aside>
{% endif %}
