<div>
  <h1>Lorem Ipsum</h1>
  <p><span class="x-drop-cap">T</span>he first letter of this paragraph should have been converted to a <a href="https://css-tricks.com/snippets/css/drop-caps/">drop-cap</a>. The first letters of the following paragraphs should not have been. {{> @text-of-one-long-paragraph }}</p>
  <p>{{> @text-of-one-long-paragraph }}</p>
</div>
