/*
Article Link

Styles that allow visible link hover for article lists.

%x-article-link-stretch          - Stretch link to cover container
%x-article-link-hover            - Give link a hover state
%x-article-link-active          - Give link an active (click, enter) state

Styleguide Tools.ExtendsAndMixins.ArticleLink
*/



/* To expand link to cover container */
/* CAVEAT: A link ancestor must have its `position` set (not to static) */
%x-article-link-stretch {
  position: absolute;
  height: 100%;
  width: 100%;
  /* To prevent container padding from offsetting an `outline` */
  top: 0;
  left: 0;

  /* To prevent `outline` from being inexplicably offset in Firefox */
  /* SEE: http://johndoesdesign.com/blog/2012/css/firefox-and-its-css-focus-outline-bug/ */
  overflow: hidden;
}



/* To give link state (pseudo-class) feedback */
%x-article-link-hover {
  outline: 1px solid var(--global-color-accent--normal);
}



/* To give link active state feedback */
%x-article-link-active {
  outline: 1px dotted var(--global-color-accent--normal);
}
