/*
Article Link

Styles that allow visible link hover for article lists.

%x-article-link-stretch          - Stretch link to cover container
%x-article-link-hover            - Give link a hover state

Styleguide Tools.ExtendsAndMixins.ArticleLink
*/

/* WARNING: A link ancestor must have its `position` set (not to static) */

/* Expand link to cover container */
%x-article-link-stretch {
  position: absolute;
  height: 100%;
  width: 100%;
  /* To prevent container padding from offsetting an `outline` */
  top: 0;
  left: 0;

  /* To prevent `outline` from being inexplicably offset in Firefox */
  /* SEE: http://johndoesdesign.com/blog/2012/css/firefox-and-its-css-focus-outline-bug/ */
  overflow: hidden;
}

/* Give link state (pseudo-class) feedback */
%x-article-link-hover {
  outline: 1px solid var(--global-color-accent--normal);
}
