.x-drop-cap {
  /* Estimate horizontal spacing to match magazine design */
  /* WARN: Firefox calculates `margin-…` differently here, so use `padding-…` */
  padding-right: 0.125em; /* approx: `1em` of normal text */

  font-size: 6em; /* approx: 3 lines, of normal text, tall */

  /* Not yet available on Firefox */
  initial-letter: 3;
}
