/*
Grid

Snippets i.e. atomic abstractions of useful grid functionality.

Reference:
- [A Complete Guide to Grid](https://css-tricks.com/snippets/css/complete-guide-grid/)

.x-grid--layout-rows-equal-max-height - Same height rows, match tallest content
.x-grid--layout-rows-equal-set-height - Same height rows, default var. height (custom properties: `--cell-height`)
.x-grid--layout-cols-equal-set-count  - Same width columns, auto. column count (custom properties: `--cell-cols`)
.x-grid--layout-cols-equal-min-width  - Same width columns, default min. width (custom properties: `--min-width`)
.x-grid--content-align-center         - Align content vert. and horz. center

Styleguide Tools.ExtendsAndMixins.Grid
*/





/* Layout */



/* Layout: Columns */

/* Layout: Columns: Same Width, Preset Col. Count */

%x-grid--layout-cols-equal-set-count {
  /* --cell-cols */

  grid-template-columns: repeat(var(--cell-cols), auto);
}

/* Layout: Columns: Same Width, Preset Min. Width */

%x-grid--layout-equal-cols-min-width {
  /* --min-width */

  grid-template-columns: repeat(auto-fit, minmax(var(--min-width), 1fr));
}



/* Layout: Rows */

/* Layout: Rows: Same Height (equal to height of tallest content in grid) */

%x-grid--layout-rows-equal-max-height {
  grid-auto-rows: 1fr;
}

/* Layout: Rows: Same Height (equal to default, variable value) */

%x-grid--layout-rows-equal-set-height {
  /* --cell-height */

  grid-auto-rows: var(--cell-height);
}





/* Content */



/* Content: Align Vert/Horz Center */

%x-grid--content-align-center {
  justify-items: center;
  align-items: center;
}
