/*
Hide

Methods to hide text.

.x-hide--for-all                - Hide for all media and remove layout
.x-hide--for-all-but-has-layout - Hide for all media but retain layout
.x-hide--text-image-replacement - Hide text to replace with image
.x-hide--visually               - Hide only for visual UI

Resources:
- https://kittygiraudel.com/2021/02/17/hiding-content-responsibly/
- https://codepen.io/vincent-valentin/full/JjGmxzV

Styleguide Tools.ExtendsAndMixins.Hide
*/

/* To hide content from all interfaces, even screen readers */
%x-hide--for-all {
  display: none;
}
%x-hide--for-all-but-has-layout {
  visibility: hidden;
}

/* To replace text with image (meets WCAG 2.0 success criteria) */
/* SEE: https://www.w3.org/TR/WCAG20-TECHS/C30.html */
%x-hide--text-image-replacement {
  /* background-image: url('…'); *//* for user to define */
}
%x-hide--text-image-replacement__text {
  position: absolute;
  left: -9999em;
}

/* To hide content only from visual interfaces (not screen readers) */
/* SEE: https://www.a11yproject.com/posts/2013-01-11-how-to-hide-content/ */
%x-hide--visually {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;

  /* Added by TACC based on other examples */
  border: none;
  padding: 0;
}
