/* WIP COMPONENTS */

/* WIP COMPONENTS: Navigation (Nav & NavBar) */
/* FAQ: Some of these styles appear in media queries,
        but are not moved to here until we have custom media queries
        (https://preset-env.cssdb.org/features#custom-media-queries)
        which will allow duplication of media queries but not pixel values */

.navbar-dark .navbar-nav .nav-link {
	font-family: benton-sans, sans-serif;
	font-weight: 400;
	font-style: normal;
}
