/*
Grid

A gallery of apps to launch, images to view, etc.

_Note: Do not use both `layout-cols` together nor both `layout-rows` together._

.o-grid--image-fill    - Images fill its cell or its container
.o-grid--center-align  - Align content vertically and horizontally center
.o-grid--auto-col-count - Same width columns; automatic column count
.o-grid--min-col-width - Same width columns; default, variable minimum width (custom properties: `--width`)

Markup:
<ul class="o-grid">
    <li>Apple</li>
    <li>Banana</li>
    <li>Grapes</li>
</ul>

Styleguide Objects.Grid
*/
@import url("_imports/tools/media-queries.css");
@import url("_imports/tools/x-grid.css");





/* Block */

.o-grid {
  --gap: var(--global-space--grid-gap, 15px); /* Bootstrap grid spacing */

  display: grid;
  gap: var(--gap);

  /* To always have equal height rows that match tallest content */
  @extend %x-grid--layout-rows-equal-max-height;
}





/* Elements */

/* Avoid leting image size exceed cell size */
/* FAQ: An intentionally loose limitation (so user can choose to escape it) */
.o-grid img {
  max-height: 100%;
  max-width: 100%;
}

/* Hide content that does exceed cell size */
/* FAQ: If user escapes image size exceeding cell size, do not make a mess */
.o-grid > * {
  overflow: hidden;
}






/* Modifiers */



/* Layout: Columns */

/* Layout: Columns: Same Width, Preset Col. Count */

.o-grid--auto-col-count {
  @extend %x-grid--layout-cols-equal-set-count;
}
@media (--x-narrow-and-below) {
  .o-grid--auto-col-count { --count: 1; }
}
@media (--x-narrow-to-narrow) {
  .o-grid--auto-col-count { --count: 2; }
}
@media (--narrow-to-medium) {
  .o-grid--auto-col-count { --count: 3; }
}
@media (--medium-to-wide) {
  .o-grid--auto-col-count { --count: 4; }
}
@media (--wide-to-x-wide) {
  .o-grid--auto-col-count { --count: 5; }
}
@media (--x-wide-to-xx-wide) {
  .o-grid--auto-col-count { --count: 6; }
}
@media (--xx-wide-to-xxx-wide) {
  .o-grid--auto-col-count { --count: 7; }
}
@media (--xxx-wide-to-max-wide) {
  .o-grid--auto-col-count { --count: 8; }
}
@media (--max-wide-and-above) {
  .o-grid--auto-col-count { --count: 9; }
}

/* Layout: Columns: Same Width, Preset Min. Width */

.o-grid--min-col-width {
  --width: 250px;

  @extend %x-grid--layout-equal-cols-min-width;
}
/* FAQ: Specifying `:not(img)` cuz `.o-grid img` already has `max-…: 100%` */
.o-grid--min-col-width > *:not(img) {
  max-width: 100%; /* used if `--cell-width` is smaller than content */
  max-height: 100%; /* used if `--cell-height` is smaller than content */
}



/* Layout: Content */

/* Layout: Content: Align Vert/Horz Center */

.o-grid--center-align {
  @extend %x-grid--content-align-center;
}

/* Layout: Content: Image Fills Cell/Container */

.o-grid--image-fill > *:not(img) {
  width: 100%;
  height: 100%;
}
.o-grid--image-fill > img,
.o-grid--image-fill > figure > img,
.o-grid--image-fill * img:only-child {
  object-fit: cover;

  height: 100%;
  width: 100%;
}
/* Figures without classes for styling */
/* FAQ: Plugins in CMS Edit mode have this first if no other classes */
.o-grid--image-fill > figure:not([class]),
.o-grid--image-fill > figure[class=""],
.o-grid--image-fill > figure[class*="cms-plugin"] {
  display: flex;
  flex-direction: column;
}
.o-grid--image-fill > figure:not([class]) > img,
.o-grid--image-fill > figure[class=""] > img,
.o-grid--image-fill > figure[class*="cms-plugin"] > img {
  flex-grow: 1;
  min-height: 0; /* to allow flex item to shrink less than actual size */
}
