/*
Section

A group of related content.

To Do:
<details><summary>FP-1463: Extract layout pattern</summary>

```
.o-section--layout-a - lay out children as two even columns
.o-section--layout-b - lay out children as one wide column & one narrow column
.o-section--layout-c - lay out children as one narrow column & one wide column
.o-section--layout-d - lay out children as three even
```

</details>
<details><summary>FP-1462: Extract banner pattern</summary>

```
.o-section--banner - add banner with background image, overlay, then content
```

</details>

.o-section--style-light - light background, dark text
.o-section--style-dark  - dark background, light text

Markup: o-section.html

Styleguide Objects.Section
*/
@import url("_imports/tools/media-queries.css");
@import url("_imports/tools/x-layout.css");





/* Block */

.o-section {
  /* GH-99: Use standard spacing value */
  padding-block: 4.5rem; /* designs vary but this is the approx. average */
}
/* To distinguish nested sections */
.o-section .o-section {
  padding-block: 0;
}






/* Modifers */



/* Modifers: Banner */

.o-section--banner {
  padding-block: 0;

  gap: 0 !important; /* overwrite `o-section--layout-*` */
}



/* Modifers: Intro */
/* FP-1463: Extract to new layout object */

/* To hide empty an column of an intro */
/* HACK: This assumes an intro has columns */
/* FAQ: Only Frontera's temporary homepage uses `.o-section--intro` */
.o-section--intro > :empty:not(img),
.o-section--intro .u-empty {
  display: none;
}



/* Modifers: Style */

[class*="o-section--style"] + [class*="o-section--style"] {
  border-top-width: var(--global-border-width--normal);
  border-top-style: solid;
  border-top-color: transparent;
}

/* Modifers: Style: Dark & Light */

.o-section--style-dark,
.o-section--style-dark::before {
  color: var(--global-color-primary--xx-light);
  background-color: var(--global-color-primary--xx-dark);
}
.o-section--style-dark a {
  color: var(--global-color-link-on-dark--normal);
}
.o-section--style-dark h1,
.o-section--style-dark h2,
.o-section--style-dark h3,
.o-section--style-dark h4,
.o-section--style-dark h5,
.o-section--style-dark h6 {
  color: var(--global-color-primary--xx-light);
}
/* (Fake) Endless Background */
.o-section--style-dark + .o-section--style-dark {
  border-top-color: var(--global-color-primary--xx-light);
}

.o-section--style-light,
.o-section--style-light::before {
  color: var(--global-color-primary--dark);
  background-color: var(--global-color-primary--xx-light);
}
.o-section--style-light a {
  color: var(--global-color-link-on-light--normal);
}
.o-section--style-light h1,
.o-section--style-light h2,
.o-section--style-light h3,
.o-section--style-light h4,
.o-section--style-light h5,
.o-section--style-light h6 {
  color: var(--global-color-primary--xx-dark);
}
/* (Fake) Endless Background */
.o-section--style-light + .o-section--style-light {
  border-top-color: var(--global-color-primary--normal);
}

/* Modifers: Style: (Fake) Endless Background */
/* FAQ: Allows background to escape `.container` (whether its self or parent) */
/* SEE: "Tricks" section */

[class*="o-section--style"] {
  /* To anchor the `position: absolute` pseudo-element */
  /* To allow `z-index` on children as necessary */
  position: relative;

  /* CAVEAT: We MUST maintain intentional horizontal overflow of pseudo-child */
  overflow-x: visible !important; /* do not allow accidental hide of fake bkgd */
}
[class*="o-section--style"] > * {
  /* To ensure children are above `position: absolute` pseudo-element */
  position: relative;
  z-index: 1;
}
[class*="o-section--style"]::before {
  content: '';
  z-index: 0; /* To ensure real element children are above this */

  position: absolute;
  display: block;
  width: 100vw;
  top: 0;
  bottom: 0;

  /* To horizontally center */
  left: 50%;
  transform: translateX(-50%);
}
/* To prevent nested sections from extending beyond parent */
.o-section [class*="o-section--style"]::before {
  width: auto;
}



/* Modifers: Layout */
/* FP-1463: Extract to new layout object */

.o-section--layout-a,
.o-section--layout-b,
.o-section--layout-c,
.o-section--layout-d {
  /* GH-99: Use standard spacing value */
  --gap: 3.0rem; /* to allow instances to re-use the gap value */

  gap: var(--gap);
}
.o-section--layout-a { @extend .x-layout--a; }
.o-section--layout-b { @extend .x-layout--b; }
.o-section--layout-c { @extend .x-layout--c; }
.o-section--layout-d { @extend .x-layout--d; }



/* Modifers: Banner */
/* FP-1462: Extract to new banner component(s) */

[class*="o-section--style"].o-section--banner + [class*="o-section--style"] {
  border-top: none;
}





/* Children */



/* Children: Banner Image */
/* FP-1462: Extract to new banner component(s) */

/* Added `.o-section--banner` to require parent modifier class in markup */
.o-section--banner .o-section__banner-image {

  /* To size image to cover section dimensions but maintain ratio */
  /* CAVEAT: This causes image to overflow beyond section */
  /* CAVEAT: The `vw` causes shrinkage on screen narrower than body min-width */
  /* SEE: "Tricks" section */
  width: 100vw;
  min-height: 100%;
  object-fit: cover;

  /* To center image within section */
  position: absolute;
  z-index: 1;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}



/* Children: Banner Overlay */
/* FP-1462: Extract to new banner component(s) */

/* Added `.o-section--banner` to require parent modifier class in markup */
.o-section--banner .o-section__banner-overlay {
  position: relative;
  z-index: 2;
}





/* Tricks */



/* Tricks: /* Children: Banner Image */
/* FP-1462: Extract to new banner component(s) */

/* HACK: To hide vertical overflow by placing sibling sections atop */
/* NOTE: This selector assumes only a banner section has vertical overflow */
/* CAVEAT: Any banner pop-out el's can NOT overflow atop sibling sections */
[class*="o-section--style"].o-section--banner { z-index: 0; }
/* NOTE: A `z-index` > 0 is only necessary for sections before banner */
/* CAVEAT: Any section pop-out el's can NOT overflow atop section after it */
[class*="o-section--style"] { z-index: 1; }



/* Tricks: /* Modifiers: Style */
/* Tricks: /* Children: Banner Image */

/* HACK: To hide `.o-section--style-…` & `.o-section__banner-image` overflow */
main /* SEE: https://github.com/TACC/Core-CMS/pull/151 */,
#content-wrap /* HACK: Using ID selector until <main> exists */ {
  overflow-x: hidden;
}
