/* !!!: Remove the spacing added via `style` attribute in the CMS on:
        - all `.img-fluid`s on the page
        - the `h2` in first row
*/

/* !!!: Add the `s-category` class to the `.container` for every cateogry page
        (ideally, instead, use page types and add this class to new template) */.s-category .row:nth-of-type(2)>.col:nth-of-type(2){border-left:2px solid #333}.s-category .row:first-of-type h2{margin-top:35px;margin-bottom:35px}.s-category .row:nth-of-type(2) .col:nth-of-type(2) p:first-of-type+p{margin-top:25px}.u-position-sticky,[class*=u-position-sticky--]{position:sticky;top:0}.u-position-sticky--flex-item{align-self:flex-start;height:auto}