{% load i18n %}
{% load blog_cats_organized %}

{% if post.categories.exists %}
    {% with post.categories.all|filter_categories as filtered %}
        {# iterate through each category, which is now filtered and organized #}
        {% for category in filtered %}
        <li class="category_{{ forloop.counter }}">
            <a href="{% url 'djangocms_blog:posts-category' category=category.slug %}" 
            class="blog-category-{{ category.slug }}">{{ category.name }}</a>
        </li>
        {% endfor %}
    {% endwith %}
{% else %}
    <li class="category_none">{% trans "Uncategorized" %}</li>
{% endif %}
