/* DO NOT ADD STYLES HERE; ONLY IMPORT OTHER STYLESHEETS */

/* FAQ: This is a low-tech way to test plugins */
/* USAGE:
   1. Build CSS.
   2. Review `taccsite_cms/static/site_cms/css/build/_test.css` */
/* NOTE: No need to load 'site_cms/css/build/_test.css' in a template */

@import url("_imports/_tests/postcss-extend.css");
@import url("_imports/_tests/postcss-preset-env.css");
