/* DO NOT ADD STYLES HERE; ONLY IMPORT OTHER STYLESHEETS */

/* Styles for blog app plugins (not the blog pages which are at only 1 route) */
@import url("./_imports/components/django.cms.blog.plugins.css");
