/* DO NOT ADD STYLES HERE; ONLY IMPORT OTHER STYLESHEETS */

/* Styles for blog app pages (not blog plugins which can be anywhere on site) */
@import url("./_imports/components/django.cms.blog.app.css");
