/* DO NOT ADD STYLES HERE; ONLY IMPORT OTHER STYLESHEETS */

/* NOTE: This file exists so User Guide can load header styles only it needs */

/* FAQ: User Guide lacks the vars that _imports/trumps/s-header.css expects */
@import url("@tacc/core-styles/src/lib/_imports/settings/border.css");
/* Unique to CMS */
@import url("./_imports/settings/color.css");
