/* DO NOT ADD STYLES HERE; ONLY IMPORT OTHER STYLESHEETS */

/* NOTE: This file exists so that the Portal and User Guide can load isolated header styles */

/* Organize via ITCSS */
/* SEE: https://confluence.tacc.utexas.edu/x/IAA9Cw */

/* SETTINGS */

/* NOTE: This is already imported in `site.css` */
/* TODO: Find a way to be modular, but not redundant */
@import url("_imports/settings/props.font.css");

/* TRUMPS */

/* FP-526: Consider loading Cortal icons with <link> as delayed asset */
/* NOTE: This import is duplicated from `icon.css` because `@font-face` is ineffectual in Shadow DOM (where `site.tacc-search-bar.css` is loaded) */
/* SEE: https://bugs.chromium.org/p/chromium/issues/detail?id=336876 */
@import url("../../../site_shared/css/src/_imports/trumps/icon.fonts.css");
/* FAQ: Because of third-party code and a rush to style the Frontera header
        (which meant maintaining existing markup), scope classes were used for
        - the header
        - the Portal nav
        - the CMS nav
*/
@import url("_imports/trumps/s-header.css");
@import url("_imports/trumps/s-portal-nav.css");
@import url("_imports/trumps/s-cms-nav.css");

/* UNORGANIZED */

/* TODO: Convert to a component */
@import url("_imports/branding_logos.css");
