/* DO NOT ADD STYLES HERE; ONLY IMPORT OTHER STYLESHEETS */

/* NOTE: This file exists so that the Portal and User Guide can load isolated header styles */

/* Organize via ITCSS */
/* SEE: https://confluence.tacc.utexas.edu/x/IAA9Cw */

/* SETTINGS */

/* NOTE: This is already imported in `site.css` */
/* TODO: Find a way to be modular, but not redundant */
@import url("_imports/settings/props.font.css");

/* TRUMPS */

/* FAQ: Because of third-party code and a rush to style the Frontera header
        (which meant maintaining existing markup), scope classes were used for
        - the header
        - the Portal nav
        - the CMS nav
*/
@import url("_imports/trumps/s-header.css");
@import url("_imports/trumps/s-portal-nav.css");
@import url("_imports/trumps/s-cms-nav.css");

/* UNORGANIZED */

/* TODO: Convert to a component */
@import url("_imports/branding_logos.css");
