/* DO NOT ADD STYLES HERE; ONLY IMPORT OTHER STYLESHEETS */

/* Organize via ITCSS */
/* SEE: https://confluence.tacc.utexas.edu/x/IAA9Cw */

/* SETTINGS */
/* Shared with Portal */
@import url("_imports/settings/border.css");
@import url("_imports/settings/color.css");
/* Unique to CMS */
@import url("_imports/settings/props.max-width.css");
@import url("_imports/settings/props.space.css");
@import url("_imports/settings/font.css");

/* GENERICS */
/* Bootstrap performs much of this */

/* ELEMENTS */
/* Bootstrap performs much of this */
@import url("_imports/elements/html-elements.css");
/* Load custom element styles within custom element, not here */

/* OBJECTS */
@import url("_imports/objects/o-site.css");
@import url("_imports/objects/o-section.css");

/* COMPONENTS */
@import url("_imports/components/c-footer.css");
@import url("_imports/components/django.cms.css");
@import url("_imports/components/django.cms.blog.css");
@import url("_imports/components/django.cms.post.css");
@import url("_imports/components/bootstrap.container.css");

/* TRUMPS */
@import url("_imports/trumps/s-footer.css");
@import url("_imports/trumps/u-empty.css");
