NOTE: This requirements.txt file is the default setup used for venv management.

In local dev, the environment.yml + miniconda are used for venv management.
Currently parity between these two files is manually maintained.

WMA prefers to setup the venv manually for live deployments at this time.
Eventually this will all run in a container.
That will eliminate the need for a local dev venv and the environment.yml file.

To purge the current venv packages before reinstalling fresh, use this command:
  pip freeze | xargs pip uninstall -y
