/*
CUSTOM SELECTORS FOR TACCSITE CMS

Note: Best practice is to keep all custom cms style selectors aggregated in external files like this one.
This ensures they are consistently applied and available throughout the site.

TODO: Organize with ITCSS
TODO: Use `@import` powered by a pre-processor to compose this file from different files
*/

/* ELEMENTS */

/* Roots */

body {
  width: 100%;
  height: 100%;
}

/* MISCELLANEOUS */

/* Class & ID Selectors */

/* Let footer pretend to be sticky when there is not enough content to
   vertically fill the viewport, so that empty CMS installations do not
   look strange (i.e. a footer appears directly beneath header) */
/* TODO: Organize the following selectors/elements to be of one module:
         `#cms-content`, `#content-wrap`, `#footer`, `#footer-content` */
#cms-content {
  /* WARNING: These values are _manually_ calculated.
              - If they are smaller than is inaccurate (too short),
                and content is too short to vertically fill viewport,
                then an unnecessary scrollbar will appear.
              - If they are larger than is accurate (too tall),
                and content is too short to vertically fill viewport,
                then footer will be positioned above the bottom of the page */
  --footer-height: 4.5rem;
  --header-height: 99px;
  --unknown-height: 1px;
  --cms-toolbar-height: 46px;
}
#content-wrap {
  min-height: calc(100vh - var(--footer-height) - var(--header-height) - var(--unknown-height));
}
.cms-ready #content-wrap {
  min-height: calc(100vh - var(--footer-height) - var(--header-height) - var(--unknown-height) - var(--cms-toolbar-height));
}

#footer {
  min-height: 4.5rem;
  padding: 12px;
  margin-top: 1em;

  color: rgb(255, 255, 255);
  background-color: rgb(51, 51, 51);
}

#footer-content {
  width: 75%;

  font-size: 11px;
}

/* Behavioral */
.taccsite-sticky {
  position: sticky;
}

/* Media Query */

@media only screen and (max-width: 640px) {
  #footer {
    min-height: 6rem;
  }

  #footer-content {
    width: 90%;
  }
}

@media only screen and (min-width: 641px) and (max-width: 767px) {
  #footer {
    min-height: 5.5rem;
  }

  #footer-content {
    width: 85%;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  #footer {
    min-height: 5.1rem;
  }

  #footer-content {
    width: 80%;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  #footer {
    min-height: 4.8rem;
  }

  #footer-content {
    width: 75%;
  }
}

@media only screen and (min-width: 1200px) {
  #footer {
    min-height: 4.6rem;
  }

  #footer-content {
    width: 70%;
  }
}
