/* WARNING: This file is copied from Portal repo */
/* TODO: Share source code between CMS, Portal, & User Guide */
/* SEE: https://github.com/TACC/Frontera-Portal/blob/master/client/src/styles/settings/color.css */

/* SETTINGS: Color */

/* Usage: `var(--global-color-primary--normal)` */
/* SEE: https://developer.mozilla.org/en-US/docs/Web/CSS/Using_CSS_custom_properties */

/* Modifers
    --normal:   standard color
    --alt:      alternate color
    --weak:     transparent instance
    --(…)light: lighter value
    --(…)dark:  darker value
    --(…)rgb:   "R, G, B" value partial (ex. usage: `rgba(var(--...-rgb), 0.5)`)
*/

:root {
    /* Primary (Text, Layout) */
    /* WARNING: Do not use `-alt-` hues; "round up" to nearest color, instead */
    --global-color-primary--xx-light: #FFFFFF;
    --global-color-primary--x-light: #F4F4F4;
    --global-color-primary--x-light-rgb: 244, 244, 244;
    --global-color-primary--light: #C6C6C6;/*
        --global-color-primary--light-alt-2: #DBDBDB;
        --global-color-primary--light-alt-2: #D8D8D8; */
    --global-color-primary--normal: #AFAFAF;/*
        --global-color-primary--normal-alt-2: #B7B7B7;
        --global-color-primary--normal-alt-1: #9B9B9B; */
    --global-color-primary--dark: #707070;/*
        --global-color-primary--dark-alt-1: #696666;
        --global-color-primary--dark-alt-2: #5F5C5C; */
    --global-color-primary--x-dark: #484848;
    --global-color-primary--x-dark-rgb: 72, 72, 72;/*
        --global-color-primary--x-dark-alt-1: #464646; */
    --global-color-primary--xx-dark: #222222; /*
        --global-color-primary--xx-dark-alt-1: #2C2C2B;
        --global-color-primary--xx-dark-alt-2: #1C1B1B; */

    /* Distinct Hues */
    --global-color-accent--normal: #9D85EF;
        --global-color-accent--weak: #9D85EF20;
        --global-color-accent--light: #dfdaf5;
        --global-color-accent--x-light: #D2CCE7;
    --global-color-info--normal: var(--global-color-primary--x-dark);
        --global-color-info--weak: var(--global-color-primary--x-light);
    --global-color-warning--normal: #C7CE1D;
        --global-color-warning--weak: #C7CE1D20;
        --global-color-warning--alt: var(--global-color-accent--normal);
        --global-color-warning--alt-weak: var(--global-color-accent--weak);
    --global-color-danger--normal: #EB6E6E;
        --global-color-danger--weak: #EB6E6E20;
    --global-color-success--normal: #43D130;
        --global-color-success--weak: #43D13020;
        --global-color-success--alt: var(--global-color-warning--normal);
        --global-color-success--alt-weak: var(--global-color-warning--weak);
}
