@import url("@tacc/core-styles/dist/djangocms-blog/cms-pagination.css");

@import url("../tools/x-news.css");

@import url("../selectors.css");


/* Header */

.post-item:not(.post-detail) header {
  @mixin news-feed-article__header;

  & h3          { grid-area: title }
  & h4          { grid-area: subtitle }
  & .attrs      { grid-area: attr /* attribution */}
  & .dates      { grid-area: dates }
  & .categories { grid-area: cats }
  & .tags       { grid-area: tags }

  .app-blog.no-categories.no-tags & {
    @mixin news-feed-article__header--hide-cats-hide-tags;
  }
  .app-blog:not(.no-categories).no-tags & {
    @mixin news-feed-article__header--show-cats-hide-tags;
  }
  .app-blog.no-categories:not(.no-tags) & {
    @mixin news-feed-article__header--hide-cats-show-tags;
  }
}


/* Details */

.app-blog .post-detail {
  @mixin news-details;
}

/* Details - Attribution */

/* To prevent missing attribution from disrupting page layout */
.app-blog .attrs:empty {
  display: none;
}
/* To always hide "by" */
.app-blog .byline > span {
  display: none;
}

/* Details - Dates */

.app-blog time {
  @mixin news-date;
}

/* Details - Metadata */

.app-blog .tags,
.app-blog .categories {
  @mixin news-metadata;
}

/* To conditionally hide tags & categories */
.app-blog.no-tags .tags,
.app-blog.no-categories .categories {
  display: none;
}
.app-blog .categories {
  @mixin news-metadata;
  a { @mixin news-category; }

  justify-self: start;
}
.app-blog .tags {
  @mixin news-metadata;
  a { @mixin news-tag; }

  justify-self: end;
}


/* Lead */

/* To undo inline content styles */
/* FAQ: In case author pasted such markup from another source */
.blog-lead [style]:not(
    [data-style="admin"] /* HACK: so CMS admin can override this */
) {
    all: revert !important; /* force undo all inline styles */
}


/* Social Media */

.app-blog .logos--social /* a.k.a. blog .socials */ {
  @mixin news-socials;
}
.app-blog .logos__text-before {
  @mixin news-socials__prefix;
}
.app-blog .logos--social svg {
  @mixin news-socials__icon;
}


/* Pagination */

.pagination {
  @mixin news-pagination;
}
