{# https://github.com/django/django/blob/4.2.9/django/contrib/admin/templates/admin/change_form.html #}
{% extends "admin/change_form.html" %}

{% block extrahead %}
{{ block.super }}
{# https://github.com/django/django/blob/4.2.9/django/contrib/admin/static/admin/js/admin/DateTimeShortcuts.js #}
<script>
document.addEventListener('DOMContentLoaded', function() {
    // Replace the default time options
    DateTimeShortcuts.clockHours.default_ = [
        ['Now', -1],
        ['Midnight', 0],
        ['8 a.m.', 8],
        ['Noon', 12],
        ['3 p.m.', 15]
    ];
});
</script>
{% endblock %}
