/*
Test

Styles for testing `postcss-preset-env` plugins.

Instructions:
1. In this file, add code after "! Goal:" to show what the output should be.
2. In this file, add code after "! Test:" to be transformed by plugins.
3. In the output file, the code after "! Goal:" and "! Test:" should match.

Styleguide _Test.PresetEnv
*/

/*! Custom Media Queries */
/* SEE: https://preset-env.cssdb.org/features#custom-media-queries */

/*! Goal: */
@media (max-width:30em){._test{background-color:red}}

/*! Test: */
@custom-media --narrow-window (max-width: 30em);

@media (--narrow-window) {
  ._test {
    background-color: red;
  }
}

/*! Goal: */
@media (max-width:60em){._test{background-color:red}}@media (max-width:60em){._test{background-color:blue}}

/*! Test: */
@custom-media --test-window (min-width: 30em);

@media (--test-window) {
  ._test {
    background-color: red;
  }
}

@custom-media --test-window (min-width: 60em);

@media (--test-window) {
  ._test {
    background-color: blue;
  }
}

/*! Media Query Ranges */
/* SEE: https://preset-env.cssdb.org/features#media-query-ranges */

/*! Goal: */@media (max-width:479px){._test{background-color:red}}@media (min-width:480px) and (max-width:767px){._test{background-color:blue}}@media (min-width:768px){._test{background-color:lime}}

/*! Test: */
@media (width < 480px) {
  ._test{ background-color:red; }
}
@media (480px <= width < 768px) {
  ._test{ background-color:blue; }
}
@media (width >= 768px) {
  ._test{ background-color:lime; }
}

/*! Custom Media Queries & Media Query Ranges */

/*! Goal: */
@media (min-width:992px) and (max-width:1199px){._test{background-color:red}}

/*! Test: */
@custom-media --wide-window (992px <= width < 1200px);

@media (--wide-window) {
  ._test{ background-color:red; }
}

/*! Custom Selectors */
/* SEE: https://preset-env.cssdb.org/features#custom-selectors */

/*! Goal: */
article h1+p,article h2+p,article h3+p{color: #000;}

/*! Test: */
@custom-selector :--heading h1, h2, h3;

article :--heading + p {
  color: #000;
}

/*! Goal: */
.nav-link:hover,.nav-link:focus,.nav-link:active{color:red;}

/*! See: https://github.com/postcss/postcss-custom-selectors/issues/40 */

/*! Test: */
@custom-selector :--nav-link-hover  .nav-link:hover;
@custom-selector :--nav-link-focus  .nav-link:focus;
@custom-selector :--nav-link-active .nav-link:active;

:--nav-link-hover,
:--nav-link-focus,
:--nav-link-active {
  color: red;
}

/*! Goal: */
h4,h5,h6{color: lime;}h4,h5,h6{color: magenta;}

/*! Test: */
@custom-selector :--test h1, h2, h3;

:--test {
  color: lime;
}

@custom-selector :--test h4, h5, h6;

:--test {
  color: magenta;
}

/*! `:not` Pseudo Class */
/* SEE: https://preset-env.cssdb.org/features#not-pseudo-class */

/*! Goal: */
._test>:not(._test--x):not(._test--y){align-items:center}

/*! Test: */
._test > *:not(._test--x, ._test--y) {
  align-items: center;
}

/*! Nesting Rules */
/* SEE: https://preset-env.cssdb.org/features#nesting-rules */

/*! Goal: */
.foo { display: grid; }

@media (orientation: landscape) {
  .foo {
    grid-auto-flow: column;
  }
}

/*! Test: */
.foo {
  display: grid;

  @media (orientation: landscape) {
    & {
      grid-auto-flow: column;
    }
  }
}
