<style id="css-image-picture-block">
main:has(#css-image-picture-block) {
  .col {
    /* To support notes */
    a[class],
    :is(figure, span)[class]:not(a > *) {
        position: relative;
    }
    :is( [class], [data-class] )::before {
        position: absolute;
        font-size: smaller;
        background: rgb(from black r g b / 50%);
        z-index: 1;
        padding-inline: 0.5em;
    }

    /* To make notes unique */
    a[class]::before {
        color: aqua;
        inset: 0 auto auto 0;
        content: '<a class="'attr(class)'" data-class="'attr(data-class)'">';
    }
    figure[class]::before {
        color: fuchsia;
        inset: 3lh 0 auto auto;
        content: '<figure class="'attr(class)'" data-class="'attr(data-class)'">';
    }
    span[class]::before {
        color: yellow;
        inset: auto auto 0 0;
        content: '<span class="'attr(class)'">';
    }

    /* To disable unsupported combos */
    .u-image-zoom--on-hover:is(
      span:not(a > *, a > figure > *),
      figure:not(a > *)
    ) {
      opacity: 0.5;
    }
  }
}
</style>
