/*
CUSTOM SELECTORS FOR TACCSITE CMS - TEXASCALE BRAND

TODO: Use `@import` powered by a pre-processor to compose this file from different files
*/

/* ELEMENTS */

/* Roots */

/* GL-1: When Hedda and Matt are ready, in 2020, these may be moved to global styles */
/* SEE: /taccsite_cms/templates/head_branding_partials/head.branding.texascale.v2.html */
body {
    font-family: benton-sans, sans-serif;
    font-weight: 400;
    font-style: normal;
}

/* Headings

- `h1` = story titles
- `h2` = story subtitles
- `h3` = in-story header one
- `h4` = in-story header two
- `h5` = in-story header three
- `h6` = byline/category header
*/
/* NOTE: If scope classes are implemented, then these would be nested under a `.s-cms-content` */

h1, h3 {
	font-family: benton-sans, sans-serif;
	font-weight: 700;
	font-style: normal;
	text-transform: uppercase;
}
h1 {
	font-size: 50px; 
	margin: 28px 0px 5px 0px; 
	padding: 0px;
}
h2 {
	font-family: kepler-std-subhead, serif;
	font-weight: 700;
	font-style: normal;
	font-size: 25px; 
	margin: 0px 0px 25px 0px;
}
h3 {
	font-size: 30px;
}

h4, h5, h6 {
	font-family: benton-sans, sans-serif;
	font-weight: 700;
	font-style: normal;
	text-transform: capitalize;
}
h4 {
	font-size: 25px;
}
h5 {
	font-size: 20px; 
}
h6 {
	font-size: 20px; 
	color: #999999; 
	margin: 35px 15px 15px 15px; 
	padding: 0px;
}

/* COMPONENTS */

/* Navigation (Nav & NavBar) */
/* FAQ: Some of these styles appear in media queries,
        but are not moved to here until we have custom media queries
        (https://preset-env.cssdb.org/features#custom-media-queries)
        which will allow duplication of media queries but not pixel values */

.navbar-dark .navbar-nav .nav-link {
	font-family: benton-sans, sans-serif;
	font-weight: 400;
	font-style: normal;
}

/* Byline */

.byline {
	color: #999999; 
	margin: 10px 15px 3px 15px; 
	font-size: 14px;
}
.byline-title {
	color: #999999; 
	margin: 0px 15px 0px 15px; 
	font-size: 12px;
}

/* Caption */

.caption-text {
	font-family: kepler-std-caption, serif;
	font-weight: 500;
	font-style: italic;
	font-size: 12px; 
	margin: 0px 0px 20px 0px;
}
.caption-hr {
	border: solid 1px #333333; 
	margin: 10px 0px 5px 0px;
}

/* Quote */

.quote-box {
	border-top: solid 1px #ff9c00; 
	border-bottom: solid 3px #ff9c00; 
	padding: 20px 0px 0px 0px; 
	margin: 5px 0px 20px 0px; 
	color: #999999;
}
.quote-text {
	font-size: 18px; 
	font-style: italic; 
	margin-bottom: 5px;
}
.quote-attribution {
	text-align: right; 
	font-size: 16px; 
	margin-top: 0px;
}
