<article class="c-article-preview c-article-preview--…">
  <img class="c-article-preview__media" src="…" alt="…" />
  <h3 class="c-article-preview__title">
    A Long or Short Title of Article
  </h3>
  <p class="c-article-preview__abstract">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
  </p>
  <time class="c-article-preview__date" datetime="2018-07-07">July 7</time>
  <small class="c-article-preview__type">Science News</small>
  <small class="c-article-preview__author">Wesley B.</small>
</article>
