/*
Branding

A list of linked images for funders and affiliates. Project customization should be minimal.

Markup: c-branding.twig.html

Styleguide Components.Branding
*/
@import url("_imports/tools/selectors.css");
@import url("_imports/tools/media-queries.css");

/* IDEA: Use multi-column (`column-*`) to simplify border, margin, separator */



/* Base */

.c-branding {
  --column-gap--side: 25px;
  --column-gap--center: 35px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}


/* A responsive column gap */
.c-branding__link:first-child .c-branding__image {
  margin-right: var(--column-gap--side);
}
.c-branding__link:not(:first-child):not(:last-child) .c-branding__image {
  margin-left: var(--column-gap--center);
  margin-right: var(--column-gap--center);
}
.c-branding__link:last-child .c-branding__image {
  margin-left: var(--column-gap--side);
}
@media (--nav-compressed) {
  .c-branding {
    --column-gap--side: 10px;
    --column-gap--center: 10px;
  }
}



/* Elements */

.c-branding__link {
  /* To center image (in case other styles shrink the image) */
  display: flex;
  align-items: center;
  justify-content: center;

  /* FAQ: Percentage-based math adapts to container height */
  height: var(--height, 90%);
}
.c-branding__separator {
  /* To add border */
  /* FAQ: Percentage-based math adapts to container height */
  height: calc(100% - 35%);
  border-left: env(--border-width--normal) solid var(--global-color-primary--xx-light);

  /* To hide text */
  width: 0;
  overflow: hidden;
}

/* Specific brands */
/* FAQ: Percentage-based math adapts to container height */
.c-branding__nsf-link    { --height: 87.5%; }
.c-branding__tacc-link   { --height: 75%; }
.c-branding__utexas-link { --height: 65%; }



/* Modifiers */

/* Compact */
.c-branding--compact {
  --column-gap--side: 10px;
  --column-gap--center: 10px;
}
