<div class="c-branding">

  <a class="c-branding__link" href="">
    <img class="c-branding__image c-branding__nsf-image"
      src="/static/site_cms/img/org_logos/nsf-white.png" alt="…" />
  </a>

  <span class="c-branding__separator">|</span>

  <a class="c-branding__link" href="">
    <img class="c-branding__image c-branding__tacc-image"
      src="/static/site_cms/img/org_logos/tacc-white.png" alt="…" />
  </a>

  <span class="c-branding__separator">|</span>

  <a class="c-branding__link" href="">
    <img class="c-branding__image c-branding__utexas-image"
      src="/static/site_cms/img/org_logos/utaustin-white.png" alt="…" />
  </a>

</div>
