@import url("@tacc/core-styles/src/lib/_imports/components/c-button.selectors.css");

:--c-button--primary,
:--c-button--secondary,
:--c-button--tertiary,
:--c-button--is-active {
  padding: 10px 20px;

  font-size: var(--global-font-size--small);
  text-transform: uppercase;
}

:--c-button {
  font-weight: var(--bold);
}
