@import url("@tacc/core-styles/src/lib/_imports/components/c-button.selectors.css");
@import url("@tacc/core-styles/src/lib/_imports/tools/selectors.form.css");


:--main-content {
  & :--c-button,
  & :--form__button {
    padding: 10px 20px;

    font-size: var(--global-font-size--small);

    font-weight: var(--bold);
    letter-spacing: 0.05em;
  }
}

:--c-button,
:--form__button {
  text-transform: uppercase;
}
