
<details>
  <summary>Image with Caption and Link</summary>

  <a href="./" class="c-card c-card--frontera-about-page">
      <figure>
          <img src="https://cep.tacc.utexas.edu/media/filer_public_thumbnails/filer_public/fb/3f/fb3fd4c3-6360-4759-b607-f393b84558c0/spectrum-wide-320px.png__320x160_q85_subject_location-157%2C78_subsampling-2.png" alt="">
          <figcaption>Another One</figcaption>
      </figure>
  </a>
</details>
<details>
  <summary>Link ▸ Image with Caption</summary>

  <a href="./" class="c-card c-card--frontera-about-page">
      <figure>
          <img src="https://cep.tacc.utexas.edu/media/filer_public_thumbnails/filer_public/fb/3f/fb3fd4c3-6360-4759-b607-f393b84558c0/spectrum-wide-320px.png__320x160_q85_subject_location-157%2C78_subsampling-2.png" alt="">
          <figcaption>Meet the Team</figcaption>
      </figure>
  </a>
</details>
<details>
  <summary>Link ▸ Image + Text</summary>

  <a href="./" class="c-card c-card--frontera-about-page">
      <img src="https://cep.tacc.utexas.edu/media/filer_public_thumbnails/filer_public/fb/3f/fb3fd4c3-6360-4759-b607-f393b84558c0/spectrum-wide-320px.png__320x160_q85_subject_location-157%2C78_subsampling-2.png" alt="">
      <h3>Careers</h3>
  </a>
</details>
<details>
  <summary>Style ▸ Image with Caption</summary>

  <div class="c-card c-card--frontera-about-page">
      <figure>
          <img src="https://cep.tacc.utexas.edu/media/filer_public_thumbnails/filer_public/fb/3f/fb3fd4c3-6360-4759-b607-f393b84558c0/spectrum-wide-320px.png__320x160_q85_subject_location-157%2C78_subsampling-2.png" alt="">
          <figcaption>Schedule a Visit</figcaption>
      </figure>
  </div>
</details>
<details>
  <summary>Style ▸ Image + Text</summary>

  <div class="c-card c-card--frontera-about-page">
      <img src="https://cep.tacc.utexas.edu/media/filer_public_thumbnails/filer_public/fb/3f/fb3fd4c3-6360-4759-b607-f393b84558c0/spectrum-wide-320px.png__320x160_q85_subject_location-157%2C78_subsampling-2.png" alt="">
      <h3>Extra Block</h3>
  </div>
</details>
