/*
Callout

Interrupt or end Sections with a "call to action".

Markup:
<!-- Has Figure, Is Link -->
<a href="#" class="c-callout c-callout--has-figure c-callout--is-figure">
  <h2 class="c-callout__title">
    Quick Start Guide
  </h2>
  <p class="c-callout__desc">
    Explore the Frontera User Guide to learn how to get started, see what Frontera offers, and get answers to your questions.
  </p>
  <figure class="c-callout__figure">...</figure>
</a>
<!-- No Figure, Not Link -->
<aside class="c-callout">
  <h2 class="c-callout__title">
    Quick Start Guide
  </h2>
  <p class="c-callout__desc">
    Explore the Frontera User Guide to learn how to get started, see what Frontera offers, and get answers to your questions.
  </p>
</aside>

Styleguide Components.Callout
*/
@import url("_imports/tools/media-queries.css");
@import url("_imports/tools/x-article-link.css");





/* Layout */

.c-callout {
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: auto 1fr;

  padding: 20px;
}
.c-callout--has-figure {
  grid-template-areas:
    'figure title'
    'figure desc';
}
.c-callout:not(.c-callout--has-figure) {
  grid-template-areas:
    'title'
    'desc';
}
.c-callout__figure { grid-area: figure; }
.c-callout__title { grid-area: title; }
.c-callout__desc { grid-area: desc; }

/* To hide figure on narrow window */
@media only screen and (--narrow-and-below) {
  .c-callout--has-figure { column-gap: 0px; }
  .c-callout--has-figure .c-callout__figure { display: none; }
}
@media only screen and (--narrow-and-above) {
  .c-callout--has-figure { column-gap: 40px; }
}

/* To align figure to exact center */
.c-callout__figure {
  place-self: center;
  margin: 0; /* override Bootstrap and browser */
}
/* To fit (expected) figure content to available horizontal space */
.c-callout__figure img {
  max-width: 100%;
}

/* To force wrap before full width (to match design) */
/* NOTE: 1200px window, design has 15px but this was 7px (wraps the same) */
/* FAQ: Differ from design so narrow screen wrap limit is not noticeable */
.c-callout__desc { padding-right: 1%; }





/* Style */

.c-callout {
  /* HELP: Should this color change if it is in a dark `o-section`? */
  /* SEE: https://confluence.tacc.utexas.edu/x/DyUFDg */
  background-color: var(--global-color-link-on-light--normal);
}

.c-callout__title {
  padding-bottom: 12px;
  margin-bottom: 12px;
  border-bottom: 1px solid var(--global-color-primary--xx-light);

  font-size: var(--global-font-size--x-large);
  font-weight: var(--medium);
  color: var(--global-color-primary--xx-light); /* override `html-elements` */
}
.c-callout__desc {
  font-size: var(--global-font-size--large);
  color: var(--global-color-primary--xx-light);
}





/* Link */

.c-callout--is-link:hover {
  text-decoration: none;
}

/* To expand link to cover its container */
.c-callout--is-link::before { @extend %x-article-link-stretch; content: ''; }

/* To give feedback on link hover and click */
.c-callout--is-link:hover::before,
.c-callout--is-link:active::before { outline-offset: 1rem; }
.c-callout--is-link:hover::before { @extend %x-article-link-hover; }
.c-callout--is-link:active::before { @extend %x-article-link-active; }
