/*
Callout

Interrupt or end Sections with a "call to action".

.c-callout--has-figure - Has a figure or image (as a direct child element)

Markup:
<!-- Has Figure, Is Link -->
<a href="#" class="c-callout c-callout--has-figure c-callout--is-figure">
  <h2 class="c-callout__title">
    Quick Start Guide
  </h2>
  <p class="c-callout__desc">
    Explore the Frontera User Guide to learn how to get started, see what Frontera offers, and get answers to your questions.
  </p>
  <figure class="c-callout__figure">...</figure>
</a>
<!-- No Figure, Not Link -->
<aside class="c-callout">
  <h2 class="c-callout__title">
    Quick Start Guide
  </h2>
  <p class="c-callout__desc">
    Explore the Frontera User Guide to learn how to get started, see what Frontera offers, and get answers to your questions.
  </p>
</aside>

Styleguide Components.Callout
*/
@import url("_imports/tools/media-queries.css");
@import url("_imports/tools/x-article-link.css");





/* Layout */

.c-callout {
  display: grid;
}
.c-callout--has-figure {
  /* See @media queries */
}
.c-callout:not(.c-callout--has-figure) {
  grid-template-areas:
    'title'
    'desc';
}
.c-callout > img,
.c-callout > figure { grid-area: figure; }
.c-callout > h2     { grid-area: title; }
.c-callout > p      { grid-area: desc; }

@media only screen and (--narrow-and-above) {
  .c-callout {
    padding: 20px;
    text-align: left;
  }
  .c-callout--has-figure {
    grid-template-rows: auto 1fr;
    grid-template-columns: auto 1fr;
    grid-template-areas:
      'figure title'
      'figure desc';

    column-gap: 40px;
  }

  .c-callout > img,
  .c-callout > figure {
    margin: 0; /* override Bootstrap */

    /* Ensure title and desc determine height of callout */
    /* SEE: https://stackoverflow.com/a/48943583/11817077 */
    height: 0;
    min-height: 100%;
  }
}

@media only screen and (--narrow-and-below) {
  .c-callout {
    padding: 20px 40px;
    text-align: center;
  }
  .c-callout--has-figure {
    grid-template-areas:
      'figure'
      'title'
      'desc';

    column-gap: 0px;
  }
  .c-callout > figure { margin: 0 0 20px; /* override Bootstrap */ }
}

/* To align figure to exact center (only relevant if content is smaller) */
.c-callout > img, /* XXX: Untested */
.c-callout > figure {
  place-self: center;
}
/* To fit (expected) figure content to available space */
.c-callout > img,
.c-callout > figure > img {
  max-height: 100%;
  max-width: 100%;
}

/* To force wrap before full width (to match design) */
/* NOTE: 1200px window, design has 15px but this was 7px (wraps the same) */
/* FAQ: Differ from design so narrow screen wrap limit is not noticeable */
.c-callout > p { padding-right: 1%; }





/* Style */

.c-callout {
  /* HELP: Should this color change if it is in a dark `o-section`? */
  /* SEE: https://confluence.tacc.utexas.edu/x/DyUFDg */
  background-color: var(--global-color-link-on-light--normal);
}

.c-callout > h2 {
  padding-bottom: 12px;
  margin-bottom: 12px;
  border-bottom: 1px solid var(--global-color-primary--xx-light);

  font-size: var(--global-font-size--x-large);
  font-weight: var(--medium);
  color: var(--global-color-primary--xx-light); /* override `html-elements` */
}
.c-callout > p {
  font-size: var(--global-font-size--large);
  font-weight: var(--medium);
  color: var(--global-color-primary--xx-light);
}





/* Link */

a.c-callout:hover:hover {
  text-decoration: none;
}

/* To expand link to cover its container */
a.c-callout::before { @extend %x-article-link-stretch; content: ''; }

/* To give feedback on link hover and click */
a.c-callout:hover::before,
a.c-callout:active::before { outline-offset: 1rem; }
a.c-callout:hover::before { @extend %x-article-link-hover; }
a.c-callout:active::before { @extend %x-article-link-active; }
