<strong>Unordered List</strong>
<nav class="c-floating-nav">
  <ul>
    <li><a href="#alabama">Alabama</a></li>
    <li><a href="#alaska">Alaska</a></li>
    <li><a href="#arizona">Arizonia</a></li>
    <li><a href="#arkansas">Arkansas</a></li>
  </ul>
</nav>

<strong>Ordered List</strong>
<nav class="c-floating-nav">
  <ol>
    <li><a href="#alabama">Alabama</a></li>
    <li><a href="#alaska">Alaska</a></li>
    <li><a href="#arizona">Arizonia</a></li>
    <li><a href="#arkansas">Arkansas</a></li>
  </ol>
</nav>

<strong>Free-Flowing Links</strong>
<nav class="c-floating-nav">
  <a href="#alabama">Alabama</a>
  <a href="#alaska">Alaska</a>
  <a href="#arizona">Arizonia</a>
  <a href="#arkansas">Arkansas</a>
</nav>
