/*
Logo

The main website logo. Project customization should be minimal.

Markup: c-logo.twig.html

Styleguide Components.Logo
*/
/* NOTE: All styles here are currently handled by Bootstrap `.navbar-brand` */
/* TODO: Abandon Bootstrap `.navbar-brand`. Implement minimum styles instead. */



/* Base  */

.c-logo {
  /* … */
}



/* Elements  */

.c-logo__image {
  /* To delegate height control to base/container */
  height: 100%;
  /* To prevent length wider than (but allow narrower than) base/container */
  max-width: 100%;
}
