/*
Nav

Navigation links that flows inline on narrow screens.

To enforce appropriate semantic HTML, a `<nav>` is required.

For list-like navigation, use `<ul>` or `<ol>` (with children `<li>`). Inside this kind of nav, markup whitespace is __not__ rendered.

To support a navigation not as a list and with direct `<a>` children, add class `c-nav--no-list`. Inside this kind of nav, markup whitespace __is__ rendered.﹡

﹡ To remove whitespace with CSS would break or complicate font-size cascade.

- c-nav--boxed - Surrounded by a box

Markup: c-nav.html

Styleguide Components.Nav
*/
@import url("_imports/tools/media-queries.css");





/* Modifiers */



/* Modifiers: Boxed */

nav.c-nav--boxed {
  --small-indent: calc(var(--global-space--list-indent) / 2);
  --large-indent: var(--global-space--list-indent);

  width: fit-content;
  padding-block: var(--small-indent);

  border: var(--global-border--normal);

  line-height: 2em;
}

/* unordered list */
nav.c-nav--boxed ul {
  list-style-type: none; /* remove bullets, then reduce padding left */
  padding-left: var(--small-indent); /* overwrite `html-elements.css` */
  padding-right: var(--large-indent);
}
/* no list */
nav.c-nav--boxed.c-nav--no-list {
  /* has no bullets, thus smaller padding left */
  padding-left: var(--small-indent);
  padding-right: var(--large-indent);
}

/* any list */
nav.c-nav--boxed :is(ul,ol) {
  margin: 0;
}

/* Modifiers: Boxed: Wide Screen */

@media (--narrow-and-above) {

  /* ordered list */
  nav.c-nav--boxed ol {
    /* retain bullets, which (wide screen) need large padding so retain it */
    /* padding-left: var(--large-indent); *//* comes from `html-elements.css` */
    padding-right: var(--large-indent);
  }

}

/* Modifiers: Boxed: Narrow Screen */

@media (--narrow-and-below) {

  /* ordered list */
  nav.c-nav--boxed ol {
    /* retain bullets, which (narrow screen) do not need large padding left */
    padding-left: var(--small-indent); /* overwrite `html-elements.css` */
    padding-right: var(--large-indent);
  }

}



/* Modifiers: No List */

/* This is not a true modifier. It is required to support certain markup. */
/* SEE: stylesheet docblock, "no list" comments, `...--no-list` selectors */





/* Content */



nav.c-nav {
  --space-between-inline-items: 0.5em;
}

/* no list */
nav.c-nav--no-list > a {
  display: inline-block;

  /* Space content via margin (must then be re-aligned with container) */
  margin-left: var(--space-between-inline-items);
  /* Re-align content to container (after they were spaced via margin) */
  transform: translateX(calc(-1 * var(--space-between-inline-items)));
}



/* Content: Narrow Screen */

@media (--narrow-and-below) {

  /* any list */
  nav.c-nav :is(ul,ol) {
    display: flex;
    flex-wrap: wrap;

    list-style-position: inside;
  }
  nav.c-nav :is(ul,ol):not(.c-nav--boxed :is(ul,ol)) {
    padding-left: unset;
  }
  nav.c-nav :is(ul,ol) li {
    /* Space content via margin (must then be re-aligned with container) */
    margin-left: var(--space-between-inline-items);
    /* Re-align content to container (after they were spaced via margin) */
    transform: translateX(calc(-1 * var(--space-between-inline-items)));
  }
  /* unordered list */
  nav.c-nav ul { list-style-type: none; }

}
