/*
Django CMS Blog App Components

These styles are only for the blog app pages (list pages, article pages).

Reference:

- [Django CMS Blog App Templates](https://github.com/nephila/djangocms-blog/tree/1.1.1/djangocms_blog/templates/djangocms_blog)

Styleguide Components.DjangoCMS.Blog.App
*/
@import url("@tacc/core-styles/src/lib/_imports/components/bootstrap.pagination.css");
@import url("@tacc/core-styles/src/lib/_imports/components/c-tag.css");

@import url("./django.cms.blog.app.page.css");
@import url("./django.cms.blog.app.item.css");





/* Variables */

.app-blog {
  --article-buffer: 20px;
}



/* Selectors */

/* To make these selectors easier to remember (rather than add classnames) */
/* FAQ: Avoiding changing blog templates to limit app upgrade maintenance */
@custom-selector :--article article;
@custom-selector :--article-page article.post-detail;
@custom-selector :--article-list .blog-list;
@custom-selector :--article-list--as-list .blog-list:not(.as-grid);
@custom-selector :--article-list--as-grid .blog-list.as-grid;
@custom-selector :--article-item .blog-list article;
@custom-selector :--article-item--in-list .blog-list:not(.as-grid) article;
@custom-selector :--article-item--in-grid .blog-list.as-grid article;



/* Generic */

.app-blog {
  /* To control absolute position of descendants e.g. `.blog-visual` */
  position: relative;
}



/* Header */

.app-blog header {
  display: grid;
  grid-template-areas:
    'cats'
    'tags'
    'attr'
    'head'
    'subh';
}
:--article-page h1,
:--article-item h3    { grid-area: head }
:--article-page h2,
:--article-item h4    { grid-area: subh }
.app-blog .attrs      { grid-area: attr }
.app-blog .categories { grid-area: cats }
.app-blog .tags       { grid-area: tags }

.app-blog ul.post-detail {
  list-style: none;

  padding-left: 0; /* overwrite html-elements.css */
  margin-bottom: 0.25em; /* overwrite html-elements.css */

  font-size: var(--global-font-size--medium);
}



/* Metadata */

/* To layout data */
.app-blog .attrs,
.app-blog .tags,
.app-blog .categories {
  display: flex;
  flex-direction: row;
  gap: 1em;
}
.app-blog .attrs {
  justify-content: space-between;
}
.app-blog .date {
  order: -1
}

/* To conditionally hide tags & categories */
.app-blog.no-tags :--article .tags,
.app-blog.no-categories :--article .categories {
  display: none;
}

/* To hide empty tags & categories */
:--article .tags:empty,
:--article .categories:empty {
  display: none;
}

/* To style categories as "tags" (the UI pattern) */
/* FAQ: Uses `:where()` to reduce specificity so colors are easily overridden */
:where(.app-blog .categories a) {
  @extend :--c-tag;

  display: inline-block;

  color: var(--global-color-primary--xx-light);
  background-color: var(--global-color-primary--xx-dark);

  font-size: var(--global-font-size--x-small);
}

/* To style tags as "pills" (the UI pattern) */
/* FAQ: Uses `:where()` to reduce specificity so colors are easily overridden */
:where(.app-blog .tags a) {
  /* TODO: When available in Core-Styles, uncomment this */
  /* @extend :--c-pill; */

  background-color: var(--global-color-primary--light);
}




/* Pagination */

.pagination {
  margin-block: calc( var(--article-buffer) * 2 );
}
