/* Selectors */

/* To make these selectors easier to remember (rather than add classnames) */
/* FAQ: Avoiding changing blog templates to limit app upgrade maintenance */
@custom-selector :--article article;
@custom-selector :--article-page article.post-detail;
@custom-selector :--article-list .blog-list;
@custom-selector :--article-list--as-list :--article-list:not(.as-grid);
@custom-selector :--article-list--as-grid :--article-list.as-grid;
@custom-selector :--article-item :--article-list article;
@custom-selector :--article-item--in-list :--article-list--as-list article;
@custom-selector :--article-item--in-grid :--article-list--as-grid article;
