/*
Django CMS Blog Plugin Components

These plugins can be loaded anywhere on the site, not just on blog pages.

Reference:

- [Django CMS Blog Plugin Templates](https://github.com/nephila/djangocms-blog/tree/1.2.3/djangocms_blog/templates/djangocms_blog/plugins)

Styleguide Components.DjangoCMS.Blog.Plugins
*/
@import url("@tacc/core-styles/src/lib/_imports/tools/media-queries.css");

@import url("../tools/x-news.css");

@import url("./django.cms.blog.selectors.css");




/* ROOT */

/* to enable container queries */
.plugin-blog {
    container-type: inline-size;
}




/* FEED: LATEST BLOG ARTICLES */


/* Root */

.blog-latest-entries {
    @mixin news-feed;

    margin-bottom: var(--global-space--bootstrap-gap);

    @mixin news-feed--as-grid;

    gap: var(--global-space--bootstrap-gap);
    @container (min-width: 510px) /* .container width at viewport 767px */ {
      grid-template-columns: repeat( 2, 1fr );
    }
    @container (min-width: 690px) /* .container width at viewport 768px */ {
      grid-template-columns: repeat( 3, 1fr );
    }
}


/* Article */

/* to hide article details (attribution and metadata) */
.blog-latest-entries article .post-detail {
    display: none;
}

/* for article layout */
.blog-latest-entries article {
    @mixin news-feed__article;

    & header       { grid-area: head; }
    & .blog-visual { grid-area: media; }
    & .blog-lead   { grid-area: lead; }

    @mixin news-feed--grid-layout__article;
}
.blog-latest-entries article:not(:has(.blog-visual > *)) {
    @mixin news-feed__article--no-media;
}

/* Article - Titles */

/* to style h3 like an h4 */
.blog-latest-entries article h3 {
    margin-bottom: 0.5rem; /* Bootstrap _type.css */

    font-size: var(--global-font-size--medium);
    font-weight: var(--bold);
}
.blog-latest-entries article h4 {
  display: none;
}

/* Article - Details */

/* to hide stuff that is not in a simple feed */
.blog-latest-entries article h4,
.blog-latest-entries article .post-detail {
    display: none;
}

/* Article - Visual */

.blog-latest-entries article .blog-visual {
  @mixin news-feed-article__media;
  @mixin news-feed-article__media--above-text;
  @mixin news-feed-article__media--constrain-content;
}

/* Article - Lead */

.blog-latest-entries article .blog-lead {
    @mixin news-feed-article__lead;
}


/* Article - Footer */

.blog-latest-entries article .read-more {
  @mixin news-feed-article__link-overlay;
}
