/*
Django CMS Blog App Components

These styles are only for the blog app pages (list pages, article pages).

Reference:

- [Django CMS Blog App Templates](https://github.com/nephila/djangocms-blog/tree/1.1.1/djangocms_blog/templates/djangocms_blog)

Styleguide Components.DjangoCMS.Blog.App
*/
@import url("@tacc/core-styles/src/lib/_imports/components/bootstrap.pagination.css");

@import url("./django.cms.blog.app.page.css");
@import url("./django.cms.blog.app.item.css");





/* Variables */

.app-blog {
  --blog-item-buffer: 20px;
}



/* Selectors */

/* To make these selectors easier to remember (rather than add classnames) */
/* FAQ: Avoiding changing blog templates to limit app upgrade maintenance */
@custom-selector :--article article;
@custom-selector :--article-page article.post-detail;
@custom-selector :--article-list .blog-list;
@custom-selector :--article-list--as-list .blog-list:not(.as-grid);
@custom-selector :--article-list--as-grid .blog-list.as-grid;
@custom-selector :--article-item .blog-list article;
@custom-selector :--article-item--in-list .blog-list:not(.as-grid) article;
@custom-selector :--article-item--in-grid .blog-list.as-grid article;



/* Generic */

.app-blog {
  /* To control absolute position of descendants e.g. `.blog-visual` */
  position: relative;
}



/* Header */

.app-blog header {
  --row-meta: 'cats tags'
              'attr attr';
  --row-head: 'head head'
              'subh subh';

  display: grid;
  grid-template-areas:
    var(--row-meta)
    var(--row-head);
}
:--article-page h1,
:--article-item h3    { grid-area: head }
:--article-page h2,
:--article-item h4    { grid-area: subh }
.app-blog .attrs      { grid-area: attr }
.app-blog .categories { grid-area: cats }
.app-blog .tags       { grid-area: tags }

/* To align tags ot the right */
.app-blog .tags {
  justify-content: end;
}

/* To conditionally hide tags & categories */
.app-blog.no-categories:not(.no-tags) header {
  --row-meta: 'tags tags'
              'attr attr';
}
.app-blog.no-tags:not(.no-categories) header {
  --row-meta: 'cats cats'
              'attr attr';
}
.app-blog.no-categories.no-tags header {
  --row-meta: 'attr attr';
}

.app-blog ul.post-detail {
  list-style: none;

  padding-left: 0; /* overwrite html-elements.css */
  margin-bottom: 0; /* overwrite Bootstrap `reboot.css` */

  font-size: var(--global-font-size--medium);
}



/* Metadata */

/* To (optionally) hide tags & categories */
.app-blog.no-tags :--article .tags,
.app-blog.no-categories :--article .categories {
  display: none;
}

.app-blog .attrs,
.app-blog .tags,
.app-blog .categories {
  display: flex;
  flex-direction: row;
  gap: 1em;
}
.app-blog .attrs {
  justify-content: space-between;
}
.app-blog .date {
  order: -1
}



/* Pagination */

.pagination {
  margin-block: calc( var(--blog-item-buffer) * 2 );
}
