/*
Django CMS Blog App Page (Article/Post) Components

Reference:

- [`post_detail.html`](https://github.com/nephila/djangocms-blog/blob/1.2.3/djangocms_blog/templates/djangocms_blog/post_detail.html)

Styleguide Components.DjangoCMS.Blog.App.Page
*/
@import url("@tacc/core-styles/src/lib/_imports/objects/o-offset-content.css");
@import url("@tacc/core-styles/src/lib/_imports/tools/x-drop-cap.css");

@import url("../tools/x-news.css");

@import url("./django.cms.blog.selectors.css");




/* Root */

:--news-article-page {
  @mixin news-article-page;
}




/* Header */

:--news-article-page header {
  @mixin news-article-page__header;

  & h1          { grid-area: title; }
  & h2          { grid-area: subtitle; }
  & .attrs      { grid-area: attr /* attribution */ }
  & .dates      { grid-area: dates }
  & .categories { grid-area: cats }
  & .tags       { grid-area: tags }
  & .socials    { grid-area: socials }

  .app-blog.no-categories.no-tags & {
    @mixin news-article-page__header--hide-cats-hide-tags;
  }
  .app-blog:not(.no-categories).no-tags & {
    @mixin news-article-page__header--show-cats-hide-tags;
  }
  .app-blog.no-categories:not(.no-tags) & {
    @mixin news-article-page__header--hide-cats-show-tags;
  }
}
:--news-article-page header h1 {
  @mixin news-article-page__title;
}
:--news-article-page header h2 {
  @mixin news-article-page__subtitle;
}




/* Body */

:--news-article-page .blog-lead,
:--news-article-page .blog-visual,
:--news-article-page .blog-content {
  @mixin news-article-page__body;
}




/* Media */

/* To mimic Bootstrap `.img-fluid` */
:--news-article-page .blog-visual img {
  max-width: 100%;
  height: auto;
}

/* To support vertical layouts at narrow viewports */
:--news-article-page .blog-visual {
  @mixin news-article-page__media;

  @media (--medium-and-below) {
    & {
      @mixin news-article-page__media--layout-center;
    }
  }
  @media (--medium-and-above) {
    &:has([data-width="0"]) {
      @mixin news-article-page__media--layout-center;
    }
    &:not(:has([data-width="0"])) {
      @mixin news-article-page__media--layout-float;
    }
  }
}

/* To prevent footer on left side of page */
/* FAQ: Because of `:--news-article-page .blog-visual`'s `float: right` */
:--news-article-page .blog-visual ~ .blog-content::after {
  /* from Bootstrap `clearfix` */
  display: block;
  content: "";
  clear: both;
}

/* To support gallery feature */
/* SEE: ./lightgallery.css */
.app-blog .lightgallery {
  --min-width: 230px;
}
/* TODO: Review this code when client wants thumbnail captions */
/* WARNING: This seems to not do what it is expected to do */
@supports selector(:has(*)) {
  .app-blog .lightgallery a:has(figcaption) {
    align-items: start;
  }
}




/* Content */

/* To undo inline content styles */
/* FAQ: In case author pasted such markup from another source */
:--news-article-page .blog-content [style]:not(
    [data-style="admin"], /* HACK: so CMS admin can override this */
    [id^="flickrembed_"] * /* HACK: so Flickr slideshow works */
) {
    all: revert !important; /* force undo all inline styles */
}

/* Add space between all list items */
/* FAQ: Use case is list items with as much text as a paragraph */
:--news-article-page .blog-lead li + li,
:--news-article-page .blog-content li + li {
  margin-top: 0.5em;
}

/* Remove Drop Cap when tag is added */
/* https://github.com/TACC/Core-Styles/blob/v2.50.2/src/lib/_imports/trumps/s-drop-cap.css#L3-L6 */
.has-blog-tag-no-drop-cap .s-drop-cap::first-letter,
.has-blog-tag-no-drop-cap .s-drop-cap > p:not(.s-drop-cap)::first-letter {
  padding-right: unset;
  initial-letter: unset;
}




/* Alignment */
/* FAQ: The .align-... classes come from Bootstrap Picture */
/* FAQ: The .blockquote.text-... classes come from Bootstrap Blockquote */

/* TODO: When extending Core-Styles c-news, .blockquote... is only for CMS */
/* FAQ: .blockquote... is only for CMS, cuz `.align-…` is from Core-Styles */
:--news-article-page .blog-content .align-left,
:--news-article-page .blog-content .blockquote.text-left {
  @mixin news-article-page__media--offset-left;
}
:--news-article-page .blog-content .align-right,
:--news-article-page .blog-content .blockquote.text-right {
  @mixin news-article-page__media--offset-right;
}
:--news-article-page .blog-content .align-center {
  max-width: 100%;
}
:--news-article-page .blog-content .blockquote.text-center {
  margin-inline: auto;
}

/* To always align Bootstrap blockquote text left */
/* FAQ: Boostrap, loaded in foundation layer, used !important */
/* TODO: When extending Core-Styles c-news, .blockquote... is only for CMS */
/* FAQ: .blockquote... is only for CMS, cuz `.align-…` is from Core-Styles */
@layer foundation {
  :--news-article-page .blog-content .blockquote[class*="text-"] {
    text-align: left !important; /* overwrite Bootstrap .text-... !important */
  }
}

/* To remove margin on narrow screens */
/* To overwrite @tacc/core-styles/…/components/align.css */
@media (--medium-and-below) {
  :--news-article-page .blog-content .align-center,
  :--news-article-page .blog-content .align-right,
  :--news-article-page .blog-content .align-left {
    max-width: 100%;

    /* So figure or linked image will center if not aligned */
    &:is(a, figure) {
      margin-inline: auto;
    }
    &:is(a) {
      display: block;
      width: fit-content;
    }
  }
  :--news-article-page .blog-content .align-right,
  :--news-article-page .blog-content .align-left {
    float: unset;
  }
  :--news-article-page .blog-content .align-right {
    margin-left: unset;
  }
  :--news-article-page .blog-content .align-left {
    margin-right: unset;
  }
}

/* To reduce image width on medium screens */
@media (--medium-and-above) and (--medium-and-below) {
  :--news-article-page .blog-content .align-center,
  :--news-article-page .blog-content .align-right,
  :--news-article-page .blog-content .align-left {
    max-width: 50%;
  }
}
