/*
Django CMS Blog App Components

These styles are only for the blog app pages (list pages, article pages).

Reference:

- [Django CMS Blog App Templates](https://github.com/nephila/djangocms-blog/tree/1.2.3/djangocms_blog/templates/djangocms_blog)

Styleguide Components.DjangoCMS.Blog.App
*/
@import url("@tacc/core-styles/dist/djangocms-blog/cms-pagination.css");
@import url("@tacc/core-styles/src/lib/_imports/components/c-tag.css");

@import url("../tools/x-news.css");

@import url("./django.cms.blog.app.page.css");
@import url("./django.cms.blog.app.item.css");
@import url("./django.cms.blog.selectors.css");



/* Root */
.app-blog {
  @mixin news;
}


/* Header */
.app-blog header {
  @mixin news-article__header;
}
:--article-page h1,
:--article-item h3    { grid-area: head }
:--article-page h2,
:--article-item h4    { grid-area: subh }
.app-blog .attrs      { grid-area: attr }
.app-blog .dates      { grid-area: date }
.app-blog .categories { grid-area: cats }
.app-blog .tags       { grid-area: tags }
.app-blog .links      { grid-area: link }


/* Titles */
:--article-list h1 > strong::after {
  @mixin news-title__name;
}
:--article-list h1 > span {
  @mixin news-title__type-key;
}
:--article-list h1 > em {
  @mixin news-title__type-value;
}


/* Details */
.app-blog .post-detail {
  @mixin news-details;
}

/* Details - Metadata */

.app-blog .tags,
.app-blog .categories {
  @mixin news-metadata;
}

/* To always hide "by" */
.app-blog .byline > span {
  display: none;
}

/* To conditionally hide tags & categories */
.app-blog.no-tags :--article .tags,
.app-blog.no-categories :--article .categories {
  display: none;
}
.app-blog .categories {
  @mixin news-metadata;
  a { @mixin news-category; }
}
.app-blog .tags {
  @mixin news-metadata;
  a { @mixin news-tag; }
}

.app-blog time {
  @mixin news-date;
}



/* Social Media */

.app-blog .logos--social {
  @mixin news-socials;
}
.app-blog .logos__text-before {
  @mixin news-socials__prefix;
}
.app-blog .logos--social svg {
  @mixin news-socials__icon;
}



/* Pagination */

.pagination {
  @mixin news-pagination;
}
