/*
Django CMS Blog App Item (Post/Article in a List) Components

Reference:

- [`includes/blog_item.html`](https://github.com/nephila/djangocms-blog/blob/1.2.3/djangocms_blog/templates/djangocms_blog/includes/blog_item.html)

Styleguide Components.DjangoCMS.Blog.App.Item
*/
@import url("@tacc/core-styles/src/lib/_imports/tools/media-queries.css");

@import url("../tools/x-news.css");

@import url("./django.cms.blog.selectors.css");





/* List */

/* To support rendering list as a grid */
:--article-list--as-grid {
  @mixin news-feed--as-grid;
}

/* List - Header */
:--article-list--as-grid > header {
  @mixin news-feed--as-grid__header;
}

/* List - Title */
:--article-list h1 > strong::after {
  @mixin news-feed-title__separator;
}
:--article-list h1 > span {
  @mixin news-feed-title__type-key;
}
:--article-list h1 > em {
  @mixin news-feed-title__type-value;
}





/* Item */



/* Item (Structure) */

/* For all layouts */
:--article-item {
  @mixin news-feed__article;
}

/* For layout variants */
@media (--narrow-and-below) {
  :--article-item {
    @mixin news-feed--list-layout__article;
  }
}
@media (--narrow-and-above) {
  :--article-item--in-list {
    @mixin news-feed--list-layout__article;
  }
  :--article-item--in-grid {
    @mixin news-feed--grid-layout__article;
  }
}






/* Header */



/* Header (Structure) */

:--article-item header {
  @mixin news-feed-article__header;

  .app-blog.no-categories.no-tags & {
    @mixin news-feed-article__header--hide-cats-hide-tags;
  }
  .app-blog:not(.no-categories).no-tags & {
    @mixin news-feed-article__header--show-cats-hide-tags;
  }
  .app-blog.no-categories:not(.no-tags) & {
    @mixin news-feed-article__header--hide-cats-show-tags;
  }

  grid-area: head;
}
:--article-item header h3   { grid-area: title }
:--article-item header h4   { grid-area: subtitle }
:--article-item .attrs      { grid-area: attrs }
:--article-item .dates      { grid-area: dates }
:--article-item .categories { grid-area: cats }
:--article-item .tags       { grid-area: tags }



/* Header - Titles */

:--article-item h3 {
  margin-bottom: unset; /* overrides Core-Styles headings--cms.css */
}
:--article-item h4 {
  display: none;
}





/* Details */

:--article-item li {
  @mixin news-feed-article__details__item;
}

:--article-item .attrs {
  @mixin news-feed-article__details--attributes;
}
:--article-item .attrs a {
  @mixin news-feed-article__details--attributes__link;
}





/* Visual */

:--article-item .blog-visual {
  grid-area: media;

  @mixin news-feed-article__media;
}
@media (--narrow-and-below) {
  :--article-item .blog-visual {
    @mixin news-feed-article__media--above-text;
  }
}
@media (--narrow-and-above) {
  :--article-item--in-grid .blog-visual {
    @mixin news-feed-article__media--above-text;
  }
}





/* Lead */


:--article-item .blog-lead {
  @mixin news-feed-article__lead;

  grid-area: lead;
}

/* To undo inline content styles */
/* FAQ: In case author pasted such markup from another source */
:--article-item .blog-lead [style]:not(
    [data-style="admin"] /* HACK: so CMS admin can override this */
) {
    all: revert !important; /* force undo all inline styles */
}





/* Footer */

.read-more {
  @mixin news-feed-article__link-overlay;
}
