.embed-responsive:not([class*="embed-responsive-"])
:is(.embed-responsive-item, embed, iframe, object, video) {
  /* To overwrite Bootstrap _embed */
  position: unset;
  top: unset;
  bottom: 0;
  left: 0;
}
