/*
Django CMS Blog App Item (Post/Article in a List) Components

Reference:

- [`includes/blog_item.html`](https://github.com/nephila/djangocms-blog/blob/1.2.3/djangocms_blog/templates/djangocms_blog/includes/blog_item.html)

Styleguide Components.DjangoCMS.Blog.App.Item
*/
@import url("@tacc/core-styles/src/lib/_imports/tools/media-queries.css");

@import url("../tools/x-news.css");

@import url("./django.cms.blog.selectors.css");





/* List */

:--article-list {
  @mixin news-feed;
}
:--article-list--as-grid {
  @mixin news-feed--as-grid;

  @media (--narrow-and-below) {
    grid-template-columns: repeat( 1, 1fr );
  }
  @media (--narrow-to-medium) {
    grid-template-columns: repeat( 2, 1fr );
  }
  @media (--medium-to-wide), (--wide-to-x-wide)  {
    grid-template-columns: repeat( 3, 1fr );
  }
  @media (--x-wide-and-above) {
    grid-template-columns: repeat( 4, 1fr );
  }
}
:--article-list--as-list {
  @mixin news-feed--as-list;


}

/* List - Header */
:--article-list--as-grid > header {
  @mixin news-feed--as-grid__header;
}

/* List - Title */
:--article-list h1 > strong::after {
  @mixin news-feed-title__separator;
}
:--article-list h1 > span {
  @mixin news-feed-title__type-key;
}
:--article-list h1 > em {
  @mixin news-feed-title__type-value;
}





/* Item */

/* For all layouts */
:--article-item {
  @mixin news-feed__article;

  & header       { grid-area: head; }
  & .blog-lead   { grid-area: lead; }
  & .blog-visual { grid-area: media; }
}

/* For layout variants — grid vs list */
@media (--narrow-and-below) {
  :--article-item {
    @mixin news-feed--grid-layout__article;
    @mixin news-feed__article--has-border;
  }
}
@media (--narrow-and-above) {
  :--article-item--in-list {
    @mixin news-feed--list-layout__article;
    @mixin news-feed__article--has-border;
  }
  :--article-item--in-grid {
    @mixin news-feed--grid-layout__article;
  }
}
/* For layout variants — see grid-template-columns */
:--article-item--in-grid {
  @media (--x-narrow-and-below) {
    @mixin news-feed__article--has-border;
  }
}
/* For layout variants — no media */
:--article-item:not(:has(.blog-visual > *)) {
  @mixin news-feed__article--no-media;
}




/* Titles */

:--article-item h3 {
  margin-bottom: unset; /* overrides Core-Styles headings--cms.css */
}
:--article-item h4 {
  display: none;
}





/* Details */

:--article-item li {
  @mixin news-feed-article__details__item;
}

:--article-item .attrs {
  @mixin news-feed-article__details--attr;
}
:--article-item .attrs a {
  @mixin news-feed-article__details--attr__link;
}





/* Visual */

:--article-item .blog-visual {
  @mixin news-feed-article__media;
  @mixin news-feed-article__media--constrain-content;
}
@media (--medium-and-below) {
  :--article-item .blog-visual {
    @mixin news-feed-article__media--above-text;
  }
}
@media (--medium-and-above) {
  :--article-item--in-grid .blog-visual {
    @mixin news-feed-article__media--above-text;
  }
}





/* Lead */


:--article-item .blog-lead {
  @mixin news-feed-article__lead;
}





/* Footer */

:--article-item .read-more {
  @mixin news-feed-article__link-overlay;
}
