/*
Django CMS Blog App Page (Article/Post) Components

Reference:

- [`post_detail.html`](https://github.com/nephila/djangocms-blog/blob/1.1.1/djangocms_blog/templates/djangocms_blog/post_detail.html)

Styleguide Components.DjangoCMS.Blog.App.Page
*/

@custom-selector :--multimedia-page .app-blog-category-multimedia;

/* To pull media to top of page and size it */
:--multimedia-page :--article-page {
    --media-width: 100%;
    --media-height: 680px;

    margin-top: var(--media-height);
}
:--multimedia-page :--article-page .blog-visual {
    position: absolute;
    top: 0;
    left: 0;
    width: var(--media-width);
    height: var(--media-height);
}
:--multimedia-page :--article-page .blog-visual img,
:--multimedia-page :--article-page .blog-visual iframe {
    width: 100%;
    height: 100%;
}

/* To pad title and content without reducing width */
:--multimedia-page :--article-page header,
:--multimedia-page :--article-page .blog-content {
    --pad: 15px;

    margin-inline: calc( -1 * var(--pad) ); /* prevent width reduction */
}
:--multimedia-page :--article-page header {
    padding: var(--pad) var(--pad) 0;
}
:--multimedia-page :--article-page .blog-content {
    padding: 0 var(--pad) var(--pad);
}

/* To style header atop media */
:--multimedia-page :--article-page header {
    position: relative;
    z-index: 1;
    background-color: var(--global-color-background--app);
    margin-top: -200px;
}
:--multimedia-page :--article-page header h2 {
    margin-top: 0;
}
