/*
Django CMS Blog App Components

These styles are only for the blog app pages (list pages, article pages).

Reference:

- [Django CMS Blog App Templates](https://github.com/nephila/djangocms-blog/tree/1.2.3/djangocms_blog/templates/djangocms_blog)

Styleguide Components.DjangoCMS.Blog.App
*/
@import url("@tacc/core-styles/dist/djangocms-blog/cms-pagination.css");

@import url("../tools/x-news.css");

@import url("./django.cms.blog.app.page.css");
@import url("./django.cms.blog.app.item.css");
@import url("./django.cms.blog.selectors.css");



/* Root */

.app-blog {
  @mixin news;
}


/* Details */

.app-blog .post-detail {
  @mixin news-details;
}

/* Details - Metadata */

.app-blog .tags,
.app-blog .categories {
  @mixin news-metadata;
}

/* To always hide "by" */
.app-blog .byline > span {
  display: none;
}

/* To conditionally hide tags & categories */
.app-blog.no-tags .tags,
.app-blog.no-categories .categories {
  display: none;
}
.app-blog .categories {
  @mixin news-metadata;
  a { @mixin news-category; }
}
.app-blog .tags {
  @mixin news-metadata;
  a { @mixin news-tag; }
}

.app-blog time {
  @mixin news-date;
}



/* Social Media */

.app-blog .logos--social /* a.k.a. blog .socials */ {
  @mixin news-socials;
}
.app-blog .logos__text-before {
  @mixin news-socials__prefix;
}
.app-blog .logos--social svg {
  @mixin news-socials__icon;
}



/* Pagination */

.pagination {
  @mixin news-pagination;
}
