/*
Django CMS Blog Post Components

Components for [Django CMS Blog Post](https://djangocms-blog.readthedocs.io) UI. These classes are authored in templates of third-party origin, and expanded by us, but they have no third-party styles.

Reference:

- [Django CMS Blog `.post-` Class Components](https://gitlab.tacc.utexas.edu/wma-cms/cms-site-template/tree/master/taccsite_cms/templates/djangocms_blog)

Styleguide Components.DjangoCMS.Post
*/
