/*
Django CMS Blog App Page (Article/Post) Components

Reference:

- [`post_detail.html`](https://github.com/nephila/djangocms-blog/blob/1.2.3/djangocms_blog/templates/djangocms_blog/post_detail.html)

Styleguide Components.DjangoCMS.Blog.App.Page
*/
@import url("@tacc/core-styles/src/lib/_imports/objects/o-offset-content.css");
@import url("@tacc/core-styles/src/lib/_imports/tools/x-drop-cap.css");

@import url("../tools/x-news.css");

@import url("./django.cms.blog.selectors.css");





/* Root */

:--article-page {
  @mixin news-article-page;
}





/* Header */

:--article-page header {
  @mixin news-article-page__header;
}
:--article-page header h1 {
  @mixin news-article-page__title;

  grid-area: title;
}
:--article-page header h2 {
  @mixin news-article-page__subtitle;

  grid-area: subtitle;
}
:--article-page .attrs      { grid-area: attrs }
:--article-page .dates      { grid-area: dates }
:--article-page .categories { grid-area: cats }
:--article-page .tags       { grid-area: tags }
:--article-page .socials    { grid-area: socials }




/* Media & Content */

:--article-page .blog-lead,
:--article-page .blog-visual,
:--article-page .blog-content {
  @mixin news-article-page__body;
}

/* To undo inline content styles */
/* FAQ: In case author pasted such markup from another source */
:--article-page .blog-content [style]:not(
    [data-style="admin"], /* HACK: so CMS admin can override this */
    [id^="flickrembed_"] * /* HACK: so Flickr slideshow works */
) {
    all: revert !important; /* force undo all inline styles */
}



/* Media & Content - Media */

/* To mimic Bootstrap `.img-fluid` */
:--article-page .blog-visual img {
  max-width: 100%;
  height: auto;
}

/* To support vertical layouts at narrow viewports */
:--article-page .blog-visual {
  @mixin news-article-page__media;
}

/* To prevent missing media from disrupting page layout */
:--article-page .blog-visual:where(:not(:has(*))) {
    margin: unset;
}
:--article-page .blog-visual:empty {
    display: none;
}

/* To prevent footer on left side of page */
/* FAQ: Because of `:--article-page .blog-visual`'s `float: right` */
:--article-page .blog-visual + .blog-content::after {
  /* from Bootstrap `clearfix` */
  display: block;
  content: "";
  clear: both;
}

/* To support gallery feature */
/* SEE: ./lightgallery.css */
.app-blog .lightgallery {
  --min-width: 230px;
}
/* TODO: Review this code when client wants thumbnail captions */
/* WARNING: This seems to not do what it is expected to do */
@supports selector(:has(*)) {
  .app-blog .lightgallery a:has(figcaption) {
    align-items: start;
  }
}



/* Media & Content - Content */

/* Add space between all list items */
/* FAQ: Use case is list items with as much text as a paragraph */
:--article-page .blog-lead li + li,
:--article-page .blog-content li + li {
  margin-top: 0.5em;
}

/* Remove Drop Cap when tag is added */
/* https://github.com/TACC/Core-Styles/blob/v2.50.2/src/lib/_imports/trumps/s-drop-cap.css#L3-L6 */
.has-blog-tag-no-drop-cap .s-drop-cap::first-letter,
.has-blog-tag-no-drop-cap .s-drop-cap > p:not(.s-drop-cap)::first-letter {
  padding-right: unset;
  initial-letter: unset;
}



/* Media & Content - Alignment */
/* FAQ: The .align-... classes come from Bootstrap Picture */
/* FAQ: The .blockquote.text-... classes come from Bootstrap Blockquote */

/* TODO: When extending Core-Styles c-news, .blockquote... is only for CMS */
/* FAQ: .blockquote... is only for CMS, cuz `.align-…` is from Core-Styles */
:--article-page .blog-content .align-left,
:--article-page .blog-content .blockquote.text-left {
  @extend .o-offset-content--left;
}
:--article-page .blog-content .align-right,
:--article-page .blog-content .blockquote.text-right {
  @extend .o-offset-content--right;
}
:--article-page .blog-content .align-center {
  max-width: 100%;
}
:--article-page .blog-content .blockquote.text-center {
  margin-inline: auto;
}

/* To always align Bootstrap blockquote text left */
/* FAQ: Boostrap, loaded in foundation layer, used !important */
/* TODO: When extending Core-Styles c-news, .blockquote... is only for CMS */
/* FAQ: .blockquote... is only for CMS, cuz `.align-…` is from Core-Styles */
@layer foundation {
  :--article-page .blog-content .blockquote[class*="text-"] {
    text-align: left !important; /* overwrite Bootstrap .text-... !important */
  }
}

/* To remove margin on narrow screens */
/* To overwrite @tacc/core-styles/…/components/align.css */
@media (--narrow-and-below) {
  :--article-page .blog-content .align-center,
  :--article-page .blog-content .align-right,
  :--article-page .blog-content .align-left {
    max-width: 100%;
  }
  :--article-page .blog-content .align-right,
  :--article-page .blog-content .align-left {
    float: unset;
  }
  :--article-page .blog-content .align-right {
    margin-left: unset;
  }
  :--article-page .blog-content .align-left {
    margin-right: unset;
  }
}

/* To reduce image width on medium screens */
@media (--narrow-and-above) and (--medium-and-below) {
  :--article-page .blog-content .align-center,
  :--article-page .blog-content .align-right,
  :--article-page .blog-content .align-left {
    max-width: 50%;
  }
}
