/*
Django CMS Form Components

These styles are only for forms created by the Django CMS Form plugin.

Reference:

- [Django CMS Form Default Template](https://github.com/avryhof/djangocms-forms/blob/master/djangocms_forms/templates/djangocms_forms/form_template/default.html)
- [TACC's Django CMS Form Default Template](https://github.com/TACC/Core-CMS/blob/master/taccsite_cms/templates/djangocms_forms/form_template/default.html)

Styleguide Components.DjangoCMS.Blog.App
*/



/* Content */

.description {
  margin-block: 25px;
}

.help-text {
  font-size: var(--global-font-size--small);
  font-style: italic;
  margin-top: 0.5rem; /* mimic Bootstrap _reboot.css label { margin-bottom } */
}
p.help-text:last-child {
  margin-bottom: 0;
}



/* Field */

.field-errors {
  font-size: var(--global-font-size--small);
}
.field-wrapper {
  margin-bottom: 2rem; /* mimic <p> `margin-bottom` */
}



/* Field: Types */

ul.radioselect,
ul.checkboxselectmultiple {
  list-style: none;

  padding-left: 0;
}



/* Layout */

.button-wrapper {
  margin-top: 35px;
}
