/*
Django CMS Blog App Item (Post/Article in a List) Components

Reference:

- [`includes/blog_item.html`](https://github.com/nephila/djangocms-blog/blob/1.1.1/djangocms_blog/templates/djangocms_blog/includes/blog_item.html)

Styleguide Components.DjangoCMS.Blog.App.Item
*/
@import url("@tacc/core-styles/src/lib/_imports/tools/x-article-link.css");
@import url("@tacc/core-styles/src/lib/_imports/tools/x-truncate.css");

@import url("_imports/tools/media-queries.css");
@import url("_imports/tools/selectors.css");





/* List */

/* To have two columns at certain viewport widths */
@media (--xx-narrow-to-x-narrow), (--x-narrow-to-narrow) {
  :--article-list {
    display: grid;
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
    column-gap: 40px;
  }
  :--article-list > :where(header, nav) {
    grid-column: 1 / -1;
  }
}





/* Item */



/* Item (Structure) */

:--article-item {
  display: grid;

  border-bottom: var(--global-border-width--normal) solid var(--global-color-primary--dark);
  margin-bottom: var(--blog-item-buffer);
  padding-bottom: var(--blog-item-buffer);
}

/* To have vertical layout for narrow viewports */
@media (--narrow-and-below) {
  :--article-item {
    grid-template-areas:
      'media'
      'head'
      'desc';
    /* To prevent content from overflowing cell */
    grid-template-columns: minmax(0, 1fr);
  }
}
/* To have horizontal layout for wide viewports */
@media (--narrow-and-above) {
  :--article-item {
    grid-template-areas:
      'media head'
      'media desc';
    /* To have shrinkwrapped media and flexible text content */
    grid-template-columns: minmax(0, max-content) 1fr;
  }
}
:--article-item header        { grid-area: head }
:--article-item .blog-visual  { grid-area: media }
:--article-item .blog-lead    { grid-area: desc }






/* Header */



/* Header (Structure) */

:--article-item header {
  display: grid;
  position: relative; /* for `position: absolute` children */

  min-width: 0; /* to support truncation */

  grid-template-areas:
    var(--row-one-areas, 'cats tags')
                         'attr attr'
                         'head subh';

  /* To truncate 'subh' fully before truncating 'head' */
  /* CAVEAT: 'cats' is truncated but 'tags' never is */
  grid-template-columns: minmax(0, max-content) 1fr;
}
:--article-item h3          { grid-area: head }
:--article-item h4          { grid-area: subh }
:--article-item .attr       { grid-area: attr }
:--article-item .categories { grid-area: cats }
:--article-item .tags {
  grid-area: tags;

  /* To span top row and align right */
  justify-content: end;
}

/* To (optionally) hide tags & categories */
.app-blog.no-categories.no-tags :--article-item header {
  grid-template-areas:
    'head subh'
    'attr attr';

  margin-bottom: 20px;
}
.app-blog:not(.no-categories.no-tags) :--article-item header {
  margin-bottom: 5px;
}
.app-blog.no-categories:not(.no-tags) :--article-item header {
  --row-one-areas: 'tags tags';
}
.app-blog.no-tags:not(.no-categories) :--article-item header {
  --row-one-areas: 'cats cats';
}



/* Header - Title */

:--article-item h3,
:--article-item h4 {
  margin-block: unset; /* overwrite html-elements.css */
  font-size: var(--global-font-size--large);
}
:--article-item h3 a, /* truncate a not h3 so :focus-visible is not cropped */
:--article-item h4 {
  @extend %x-truncate--one-line;
}
:--article-item h4 {
  text-transform: none; /* overwrite html-elements.css */

  /* To style subtitle differently than title */
  /* CAVEAT: Font-weight change switches to font that has different alignment */
  transform: translateY(2px); /* HACK: tweak vertical alignment */
  font-weight: var(--regular);
}
:--article-item h4::before {
  content: ': ';
}
:--article-item h3 a {
  display: block; /* to prevent grid blowout */
  color: var(--global-color-primary--xx-dark);
}



/* Header - Metadata (Structure) */

:--article-item .attr,
:--article-item .tags {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  gap: 2em;
}
:--article-item .tags { align-items: center }

/* To truncate all metadata */
:--article-item :is(.byline, .date) {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;

  /* To allow truncation */
  min-width: 0;

  /* To limit text to one line */
  height: 1.4em; /* ~ line-height */
  overflow: hidden;
}
:--article-item .date span,
:--article-item .byline a,
:--article-item .tags li,
:--article-item .categories li,
:--article-item .categories::before { @extend %x-truncate--one-line }

:--article-item .tags:empty,
:--article-item .categories:empty { display: none }

:--article-item .date { order: -1 }



/* Header - Metadata (Skin) */

:--article-item li {
  line-height: unset; /* overwrite html-elements.css */
}

:--article-item .attr {
  margin-block: 2px 6px;

  font-size: var(--global-font-size--x-small);
  color: var(--global-color-primary--dark);
}
:--article-item .attr a { color: inherit }

:--article-item .categories {
  font-weight: var(--bold);
  font-size: var(--global-font-size--x-small);
  text-transform: uppercase;
}
:--article-item .categories a { color: var(--global-color-primary--xx-dark) }

/* NOTE: Mimicking .attr styles until we have a design */
:--article-item .tags {
  font-size: var(--global-font-size--x-small);
  color: var(--global-color-primary--dark);
}
:--article-item .tags a { color: inherit }





/* Visual */

:--article-item .blog-visual:not(:empty) {
  /* To align any small image inside (useless with some image sizes) */
  display: grid;
  align-items: center;
  justify-items: center;
}
:--article-item .blog-visual:empty {
  display: none;
}

/* To support vertical layouts at narrow viewports */
@media (--narrow-and-below) {
  :--article-item .blog-visual:not(:empty) {
    height: 140px; /* for consistent image height */
    margin-bottom: 15px;
  }
  :--article-item .blog-visual img {
    max-width: 100%; /* to prevent overflow if column is narrower */
    height: auto; /* to maintain aspect ratio if width changes */
  }
}
/* To support horizontal layouts at wide viewports */
@media (--narrow-and-above) {
  :--article-item .blog-visual:not(:empty) {
    width: 255px; /* for consistent image width */
    margin-right: 50px;
  }
}





/* Content */

.blog-lead {
  @extend %x-truncate--many-lines;
  --lines: 3;

  line-height: 1.5;
  color: var(--global-color-primary--dark);
}
.blog-lead p:last-child { margin-bottom: 0 /* overwrite Boostrap */ }





/* Footer */

/* If not editing, stretch "read more" atop the article */
html:not(:--cms-edit-mode) .read-more a:hover {
  --outline-offset: var(--blog-item-buffer);
  @extend %x-article-link-hover;
}
html:not(:--cms-edit-mode) .read-more a:active {
  @extend %x-article-link-active;
}
html:not(:--cms-edit-mode) .read-more { grid-area: 1 / 1 / -1 / -1 }
html:not(:--cms-edit-mode) .read-more { position: relative; }
html:not(:--cms-edit-mode) .read-more a {
  @extend %x-article-link-stretch;
  @extend %x-article-link-text;
}

/* If editing, hide "read more" */
/* FAQ: User can: edit by double clicking abstract; visit by clicking title */
html:--cms-edit-mode .read-more {
  display: none;
}
