:root {
  /* CAVEAT: A standard accent color definition is pending more designs */
  /* NOTE: The new Frontera and TACC designs both have brown and blue accents */
  --global-color-accent--normal: #877453;

  /* CAVEAT: Not accessible within paragraph text (edge case as of 2021-08) */
  --global-color-link-on-light--normal: #003399;
  /* WARNING: This color is from Dev not Design (not rendered as of 2021-08) */
  --global-color-link-on-dark--normal: #0088FF;
}
