/* WARNING: This file is copied from Portal repo */
/* TODO: Share source code between CMS, Portal, & User Guide */
/* SEE: https://github.com/TACC/Frontera-Portal/blob/master/client/src/styles/settings/color.css */

/* SETTINGS: Color */

/* Usage: `var(--global-color-primary--normal)` */
/* SEE: https://developer.mozilla.org/en-US/docs/Web/CSS/Using_CSS_custom_properties */

/* Modifers
    --normal:   standard color
    --alt:      alternate color
    --weak:     transparent instance
    --(…)light: lighter value
    --(…)dark:  darker value
    --(…)rgb:   "R, G, B" value partial (ex. usage: `rgba(var(--...-rgb), 0.5)`)
*/

:root {
  /* Primary (Text, Layout) */

  --global-color-primary--xx-light: #FFFFFF;
    --global-color-primary--xx-light-rgb: 255, 255, 255;
  --global-color-primary--x-light: #F4F4F4;
    --global-color-primary--x-light-rgb: 244, 244, 244;
  --global-color-primary--light: #C6C6C6;
  --global-color-primary--normal: #AFAFAF;
  --global-color-primary--dark: #707070;
  --global-color-primary--x-dark: #484848;
    --global-color-primary--x-dark-rgb: 72, 72, 72;
  --global-color-primary--xx-dark: #222222;
    --global-color-primary--xx-dark-rgb: 34, 34, 34;

  /* Distinct Hues */

  /* FAQ: This placeholder accent color came from Portal */
  /* CAVEAT: A standard accent color definition is pending more designs */
  /* NOTE: The new Frontera and TACC designs both have brown and blue accents */
  --global-color-accent--normal: #877453;

  /* CAVEAT: Not accessible within paragraph text (edge case as of 2021-08) */
  --global-color-link-on-light--normal: #003399;
  /* WARNING: This color is from Dev not Design (not rendered as of 2021-08) */
  --global-color-link-on-dark--normal: #0088FF;
}
