/*
Font

Define standard fonts for a TACC website.

Usage:
  ```
  .something {
    font-family: var(--global-font-family--serif);
    font-size: var(--global-font-size--normal);
    font-weight: var(--global-font-weight--bold); /* or `var(--bold)` *\/
  }
  ```

Reference:
- https://developer.mozilla.org/en-US/docs/Web/CSS/Using_CSS_custom_properties
- [Shared UI - Constants - Font](https://confluence.tacc.utexas.edu/x/cYAZCg)

Styleguide Settings.CustomProperties.Font
*/

:root {



  /* Family */

  --global-font-family--sans: "Benton Sans", "Roboto", sans-serif;
  --global-font-family--serif: Times, sans-serif;
  --global-font-family--mono: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;

  --global-font-family: var(--global-font-family--sans);

  /* Family: Overwrite Boostrap */

  --font-family-sans-serif: var(--global-font-family--sans);
  /* CAVEAT: Ineffectual for <code>, <kbd>, <pre>, <samp> */
  --font-family-monospace: var(--global-font-family--mono);



  /* Size */
  /* SEE: https://confluence.tacc.utexas.edu/x/nh4FDg */
  /* CAVEAT: These font sizes assume root font is 10px or an equivalent value */

  --global-font-size--x-small: 1.1rem;
  --global-font-size--small: 1.4rem;
  --global-font-size--medium: 1.6rem;
  --global-font-size--large: 2.0rem;
  --global-font-size--x-large: 2.4rem;
  --global-font-size--xx-large: 3.2rem;
  --global-font-size--xxx-large: 4.1rem;



  /* Weight */
  /* TODO: Replace use of `var(--…)` with `env(--…)` for font weights */
  /* WARNING: Deprecated! Do NOT use. Use `env(--…)` instead for font weights */
  --regular: 400;
  --medium: 500;
  --bold: 700;
}
