/* DO NOT ADD STYLES HERE; ADD CUSTOM PROPERTIES TO USE IN OTHER STYLESHEETS */

/*
Spacing

These are global spacing values for a website.

_Notice_: We will use Bootstrap values until Design defines values.

Usage: `var(--global-space--normal)`

Reference:
- https://confluence.tacc.utexas.edu/x/dYAZCg
- https://developer.mozilla.org/en-US/docs/Web/CSS/Using_CSS_custom_properties
- https://getbootstrap.com/docs/4.0/utilities/spacing/
- https://getbootstrap.com/docs/4.0/getting-started/theming/#sass-options

Styleguide Settings.CustomProperties.Space
*/

/* Modifers
    --normal:   standard value
    --(…)small: smaller value
    --(…)large: larger value
*/
:root {
  /* NOTE: Using pixels until design defines otherwise */
  /* SEE: https://confluence.tacc.utexas.edu/x/dYAZCg */
  --global-space--xx-small: 2px; /* 0.125rem at base font 16px */
  --global-space--x-small:  4px; /* 0.25rem at base font 16px */
  --global-space--small:    8px; /* 0.5rem at base font 16px */
  --global-space--normal:  16px; /* 1.0rem at base font 16px */
  --global-space--large:   24px; /* 1.5rem at base font 16px */
  --global-space--x-large: 48px; /* 3.0rem at base font 16px */

  --global-space--list-indent: 40px;   /* browser default (Firefox, Edge) */
}
