/* https://github.com/TACC/Core-Styles/blob/main/source/_imports/settings/props.space.css */

:root {
  /* SEE: https://confluence.tacc.utexas.edu/x/dYAZCg */
  --global-space--xx-small: 2px; /* 0.125rem at base font 16px */
  --global-space--x-small:  4px; /* 0.25rem at base font 16px */
  --global-space--small:    8px; /* 0.5rem at base font 16px */
  --global-space--normal:  16px; /* 1.0rem at base font 16px */
  --global-space--large:   24px; /* 1.5rem at base font 16px */
  --global-space--x-large: 48px; /* 3.0rem at base font 16px */
}
