{% load static %}

<!-- Sponsor Logos -->
<div class="branding-header">
  <a href="https://www.tacc.utexas.edu/" target="_blank">
    <img class="nav-logo-header nav-logo-no-border-left nav-logo-tacc-double" src="{% static 'site_cms/images/org_logos/tacc-white.png' %}" crossorigin="anonymous">
  </a>
  <a href="https://www.utexas.edu/" target="_blank">
    <img class="nav-logo-header nav-logo-border-left nav-logo-utaustin-double" src="{% static 'site_cms/images/org_logos/utaustin-white.png' %}" crossorigin="anonymous">
  </a>
</div>

<!-- Navigation Bar -->
<nav id="s-header" class="s-header  navbar navbar-expand-md navbar-dark">
  <!-- Branding Logos -->
  <a class="navbar-brand" href="/">
    <img src="{% static 'site_cms/images/portal.png' %}" alt="Portal Logo" class="nav-logo-double nav-logo-portal-double" crossorigin="anonymous">
  </a>
  <!-- Navbar Accordian Toggle on Small Screens  -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExpandTarget" aria-controls="navbarsExpandTarget" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <!-- Navbar Links -->
  <div class="collapse navbar-collapse" id="navbarsExpandTarget">
    {% include "../navigation/cms.html"
        with className="navbar-nav  ml-auto"
        only %}
  </div>
</nav>
