{% load i18n menu_tags cache static cms_tags %}

<!-- Sponsor Logos -->
<div class="branding-header">
  <a href="https://www.nsf.gov/" target="_blank">
    <img class="nav-logo-header nav-logo-nsf-double" src="{% static 'site_cms/images/org_logos/nsf-white.png' %}" crossorigin="anonymous">
  </a>
  <a href="https://www.tacc.utexas.edu/" target="_blank">
    <img class="nav-logo-header nav-logo-border-left nav-logo-tacc-double" src="{% static 'site_cms/images/org_logos/tacc-white.png' %}" crossorigin="anonymous">
  </a>
  <a href="https://www.utexas.edu/">
    <img class="nav-logo-header nav-logo-border-left nav-logo-utaustin-double" src="{% static 'site_cms/images/org_logos/utaustin-white.png' %}" crossorigin="anonymous">
  </a>
</div>

<!-- Navigation Bar -->
<nav class="navbar navbar-expand-md navbar-dark navbar-tacc">
  <!-- Branding Logos -->
  <a class="navbar-brand" href="https://fronteraweb.tacc.utexas.edu/">
    <img class="nav-logo-double nav-logo-frontera-double" src="{% static 'site_cms/images/org_logos/frontera-white-solo.png' %}" crossorigin="anonymous">
  </a>
  <!-- Navbar Accordian Toggle on Small Screens  -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExpandTarget" aria-controls="navbarsExpandTarget" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <!-- Navbar Links -->
  <div class="collapse navbar-collapse" id="navbarsExpandTarget">
    <ul class="navbar-nav ml-auto">
      <!-- All top-level CMS controlled nav elements handled here. -->
      {% show_menu 0 100 1 100 "cms_menu.html" %}
    </ul>
  </div>
</nav>
