/* To fix layout of elements in CSS header */
/* FAQ: The `site.css` in `layer(project.core)` overwrites Bootstrap `_navbar.scss` in `layer(foundation)`. This causes `site.css` <ul> `padding-left: 0` to overwrite Bootstrap */
.navbar-nav {
  padding-left: 0;
}

/* To NOT rely on Bootstrap `.nav-link:hover` */
/* FAQ: Because Bootstrap can be reverted or not loaded */
/* FAQ: Overrides site.css `a:hover` */
#s-header .nav-link,
#s-header .nav-link > a {
  text-decoration: none !important; /* to override even if within lower layer */
}

/* To rely Bootstrap `.dropdown-item` colors */
/* FAQ: Overrides site.css `a:hover` */
a.dropdown-item {
  color: inherit;
  text-decoration: inherit;
}
a.dropdown-item:active {
  color: #fff;
}
