{% extends "base.html" %}
{% load static cms_tags %}

{% block css %}
  {{ block.super }}
  <link id="css-search" rel="stylesheet" href="{% static 'search_page/css/google-search.css' %}">
{% endblock css %}

{% block cms_content %}
  {% placeholder "content" %}

  <div class="container o-section" id="google-search">
    <div class="row">
      <div class="col col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
        <h1>Search</h1>
      </div>
    </div>

  {% if settings.GOOGLE_SEARCH_ENGINE_ID %}
    <script async src="https://cse.google.com/cse.js?cx={{ settings.GOOGLE_SEARCH_ENGINE_ID }}">
    </script>
    <div class="gcse-searchresults-only"></div>
  {% else %}
    <p class="c-message c-message--scope-section c-message--type-warning">Please inform your website administrator to verify a <code>GOOGLE_SEARCH_ENGINE_ID</code> is set for this website.</p>
  {% endif %}

  </div>
{% endblock cms_content %}
