/* NAVIGATION */



.navbar {
  /* TODO: Use universal font-size variable */
  font-size: 0.8125rem; /* 13px */
  /* TODO: Confirm whether this style is actually desired */
  /* SEE: https://tacc-team.slack.com/archives/CQUA4D5KJ/p1580399450057400 */
  text-transform: uppercase;

  font-family: 'benton-sans';
}

.nav-link:hover,
.nav-link:focus {
  /* CAVEAT: Non-standard property (but the only maintainable way to do this) */
  -webkit-text-stroke: 0.0625em rgb(255, 255, 255);
}
/* HACK: The Portal nav neglects to use `.nav-link` for links.
         Do not fix until Portal uses the CMS repositories
         (otherwise we must duplicate markup changes) */
/* ???: Should this be for `.s-portal-nav` or for `.dropdown`? */
a.dropdown-item:hover,
a.dropdown-item:focus {
  /* CAVEAT: Non-standard property (but the only maintainable way to do this) */
  /* Color is from Bootstrap `.dropdown-item` in `_dropdown.scss` */
  -webkit-text-stroke: 0.0625em rgb(33, 37, 41);
}
.nav-link:hover,
.nav-link:focus,
.nav-link:active,
.nav-item.active .nav-link {
  /* NOTE: See "NAVIGATION: Hacks & Overrides" at `.nav-link` for variables */
  border-width: 0 0 var(--border-width);
  border-style: solid;
  border-color: var(--border-color);
  margin-bottom: calc( var(--border-width) * -1 );
}



/* Portal */

.s-portal-nav {
  /* Override `.navbar` */
  text-transform: none;
  font-size: 16px;
}



/* CMS */

/* REQ: This link is hidden intentionally by CMD, but may still be wanted */
.s-cms-nav .nav-item:first-child .nav-link {
  display: none;
}
.s-cms-nav .nav-item:first-child .nav-link::before {
  /* Copied from `.nav-link` in `…/css/styles.css` */
  color: rgb(255, 255, 255);
  /* NOTE: This rule should be unnecessary with official font icon solution */
  font-size: 24px;
}



/* Override Bootstrap */

.nav-link {
  --border-width: 4px;
  --border-color: rgb(213, 181, 124);

  /* CAVEAT: From Bootstrap's `.navbar-brand` vertical
             padding of `.3125rem`, which is equal to `5px`. */
  --space--available: 5px;
  --space--offset: calc( var(--space--available) - var(--border-width));

  /* CAVEAT: From `.nav-logo-double` */
  --navbar-content-height: 40px;
  /* CAVEAT: From Bootstrap `.navbar-expand-md .navbar-nav .nav-link`
             vertical padding of `0.5rem`, which is equal to `8px` */
  --padding: 8px;
  --height: calc( var(--navbar-content-height) - var(--padding));
}
.nav-link,
/* NOTE: This selector should be unnecessary with official font icon solution */
.navbar-nav .nav-item:first-child .nav-link::before {
  line-height: calc( var(--height) - var(--space--available));
}
.navbar-expand-md .navbar-nav .nav-link {
  padding-right: 15px;
  padding-left: 15px;
}
